<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>image/people/player_0023/01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,907},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0023/02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1159},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0023/03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1411},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0023/04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1663},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0023/05.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,405},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0023/06.png</key>
			<dict>
				<key>frame</key>
				<string>{{455,405},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0023/07.png</key>
			<dict>
				<key>frame</key>
				<string>{{707,405},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0023/08.png</key>
			<dict>
				<key>frame</key>
				<string>{{959,405},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0023/09.png</key>
			<dict>
				<key>frame</key>
				<string>{{1211,405},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0023/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1463,405},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0023/11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1715,605},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0023/12.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,607},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0023/13.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,607},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0023/14.png</key>
			<dict>
				<key>frame</key>
				<string>{{657,607},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0022/08.png</key>
			<dict>
				<key>frame</key>
				<string>{{909,607},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0022/09.png</key>
			<dict>
				<key>frame</key>
				<string>{{1161,607},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0022/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1413,607},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0022/11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1665,807},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0022/12.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,809},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0022/13.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,859},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0022/14.png</key>
			<dict>
				<key>frame</key>
				<string>{{607,809},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0025/01.png</key>
			<dict>
				<key>frame</key>
				<string>{{859,809},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0025/02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1111,809},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0025/03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1363,809},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0025/04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1615,1009},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0025/05.png</key>
			<dict>
				<key>frame</key>
				<string>{{607,1011},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0025/06.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,1061},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0025/07.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,1111},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0025/08.png</key>
			<dict>
				<key>frame</key>
				<string>{{859,1011},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0025/09.png</key>
			<dict>
				<key>frame</key>
				<string>{{1111,1011},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0025/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{300,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,200}</string>
			</dict>
			<key>image/people/player_0025/11.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,1},{300,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,200}</string>
			</dict>
			<key>image/people/player_0025/12.png</key>
			<dict>
				<key>frame</key>
				<string>{{605,1},{300,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,200}</string>
			</dict>
			<key>image/people/player_0025/13.png</key>
			<dict>
				<key>frame</key>
				<string>{{907,1},{300,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,200}</string>
			</dict>
			<key>image/people/player_0025/14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1209,1},{300,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,200}</string>
			</dict>
			<key>image/people/player_0027/01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1363,1011},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0027/02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1615,1211},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0027/03.png</key>
			<dict>
				<key>frame</key>
				<string>{{607,1213},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0027/04.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,1313},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0027/05.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,1363},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0027/06.png</key>
			<dict>
				<key>frame</key>
				<string>{{809,1213},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0027/07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1061,1213},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0027/08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1313,1213},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0027/09.png</key>
			<dict>
				<key>frame</key>
				<string>{{1565,1413},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0027/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1511,1},{300,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,200}</string>
			</dict>
			<key>image/people/player_0027/11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1813,1},{300,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,200}</string>
			</dict>
			<key>image/people/player_0027/12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,203},{300,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,200}</string>
			</dict>
			<key>image/people/player_0027/13.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,203},{300,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,200}</string>
			</dict>
			<key>image/people/player_0027/14.png</key>
			<dict>
				<key>frame</key>
				<string>{{605,203},{300,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,200}</string>
			</dict>
			<key>image/people/player_0028/01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1817,1413},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0028/02.png</key>
			<dict>
				<key>frame</key>
				<string>{{809,1415},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0028/03.png</key>
			<dict>
				<key>frame</key>
				<string>{{607,1465},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0028/04.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,1565},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0028/05.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,1615},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0028/06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1011,1615},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0028/07.png</key>
			<dict>
				<key>frame</key>
				<string>{{809,1667},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0028/08.png</key>
			<dict>
				<key>frame</key>
				<string>{{607,1717},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0028/09.png</key>
			<dict>
				<key>frame</key>
				<string>{{1213,1415},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0028/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1465,1615},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0028/11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1213,1617},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0028/12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1717,1665},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0028/13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1465,1817},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0028/14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1213,1819},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0031/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{907,203},{300,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,200}</string>
			</dict>
			<key>image/people/player_0031/11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1209,203},{300,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,200}</string>
			</dict>
			<key>image/people/player_0031/12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1511,203},{300,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,200}</string>
			</dict>
			<key>image/people/player_0031/13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1813,303},{300,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,200}</string>
			</dict>
			<key>image/people/player_0031/14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,605},{300,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,200}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Plist4.png</string>
			<key>realTextureFileName</key>
			<string>Plist4.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>