<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>image/people/player_0069/09.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{400,360}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,360}</string>
			</dict>
			<key>image/people/player_0069/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{403,1},{400,360}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,360}</string>
			</dict>
			<key>image/people/player_0069/11.png</key>
			<dict>
				<key>frame</key>
				<string>{{805,1},{400,360}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,360}</string>
			</dict>
			<key>image/people/player_0069/12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1207,1},{400,360}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,360}</string>
			</dict>
			<key>image/people/player_0069/13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1609,1},{400,360}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,360}</string>
			</dict>
			<key>image/people/player_0069/14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,363},{400,360}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{400,360}</string>
			</dict>
			<key>image/people/player_0077/01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1847,363},{200,225}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,225}</string>
			</dict>
			<key>image/people/player_0077/02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1345,1733},{200,225}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,225}</string>
			</dict>
			<key>image/people/player_0077/03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1541,1481},{200,225}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,225}</string>
			</dict>
			<key>image/people/player_0077/04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1731,1169},{200,225}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,225}</string>
			</dict>
			<key>image/people/player_0077/05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1769,867},{200,225}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,225}</string>
			</dict>
			<key>image/people/player_0077/06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1547,1708},{200,225}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,225}</string>
			</dict>
			<key>image/people/player_0077/07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1743,1396},{200,225}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,225}</string>
			</dict>
			<key>image/people/player_0077/08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1749,1598},{200,225}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,225}</string>
			</dict>
			<key>image/people/player_0077/09.png</key>
			<dict>
				<key>frame</key>
				<string>{{1749,1800},{200,225}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,225}</string>
			</dict>
			<key>image/people/player_0077/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1043,1767},{300,238}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,238}</string>
			</dict>
			<key>image/people/player_0077/11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1087,952},{300,238}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,238}</string>
			</dict>
			<key>image/people/player_0077/12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1405,363},{300,238}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,238}</string>
			</dict>
			<key>image/people/player_0077/13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1087,1254},{300,238}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,238}</string>
			</dict>
			<key>image/people/player_0077/14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1327,927},{300,238}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,238}</string>
			</dict>
			<key>image/people/player_0079/01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1292,725},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0079/02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1087,1556},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0079/03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1544,665},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0079/04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1645,363},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0079/05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1327,1229},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0079/06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1339,1481},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0079/07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1529,1229},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0079/08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1567,917},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0079/09.png</key>
			<dict>
				<key>frame</key>
				<string>{{1746,615},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0079/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,1811},{338,225}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{338,225}</string>
			</dict>
			<key>image/people/player_0079/11.png</key>
			<dict>
				<key>frame</key>
				<string>{{703,1811},{338,225}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{338,225}</string>
			</dict>
			<key>image/people/player_0079/12.png</key>
			<dict>
				<key>frame</key>
				<string>{{725,363},{338,225}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{338,225}</string>
			</dict>
			<key>image/people/player_0079/13.png</key>
			<dict>
				<key>frame</key>
				<string>{{725,703},{338,225}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{338,225}</string>
			</dict>
			<key>image/people/player_0079/14.png</key>
			<dict>
				<key>frame</key>
				<string>{{952,725},{338,225}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{338,225}</string>
			</dict>
			<key>image/people/player_0087/01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,765},{360,360}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,360}</string>
			</dict>
			<key>image/people/player_0087/02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1127},{360,360}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,360}</string>
			</dict>
			<key>image/people/player_0087/06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1489},{360,360}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,360}</string>
			</dict>
			<key>image/people/player_0087/08.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,363},{360,360}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,360}</string>
			</dict>
			<key>image/people/player_0087/09.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,725},{360,360}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,360}</string>
			</dict>
			<key>image/people/player_0087/11.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,1087},{360,360}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,360}</string>
			</dict>
			<key>image/people/player_0087/12.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,1449},{360,360}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,360}</string>
			</dict>
			<key>image/people/player_0087/14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1043,363},{360,360}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,360}</string>
			</dict>
			<key>image/people/player_0087/03.png</key>
			<dict>
				<key>frame</key>
				<string>{{725,1043},{360,360}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,360}</string>
			</dict>
			<key>image/people/player_0087/04.png</key>
			<dict>
				<key>frame</key>
				<string>{{725,1405},{360,360}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,360}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Plist6.png</string>
			<key>realTextureFileName</key>
			<string>Plist6.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>