<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>image/people/player_0087/05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,824},{360,360}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,360}</string>
			</dict>
			<key>image/people/player_0087/07.png</key>
			<dict>
				<key>frame</key>
				<string>{{322,322},{360,360}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,360}</string>
			</dict>
			<key>image/people/player_0087/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1186},{360,360}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,360}</string>
			</dict>
			<key>image/people/player_0087/13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1548},{360,360}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,360}</string>
			</dict>
			<key>image/people/player_0096/01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1290,524},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0096/02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1542,524},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0096/03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1794,524},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0096/04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1119,726},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0096/05.png</key>
			<dict>
				<key>frame</key>
				<string>{{817,826},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0096/06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1371,726},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0096/07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1623,726},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0096/08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1069,928},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0096/09.png</key>
			<dict>
				<key>frame</key>
				<string>{{817,1028},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0096/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{615,684},{300,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,200}</string>
			</dict>
			<key>image/people/player_0096/11.png</key>
			<dict>
				<key>frame</key>
				<string>{{684,322},{300,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,200}</string>
			</dict>
			<key>image/people/player_0096/12.png</key>
			<dict>
				<key>frame</key>
				<string>{{615,986},{300,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,200}</string>
			</dict>
			<key>image/people/player_0096/13.png</key>
			<dict>
				<key>frame</key>
				<string>{{615,1288},{300,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,200}</string>
			</dict>
			<key>image/people/player_0096/14.png</key>
			<dict>
				<key>frame</key>
				<string>{{615,1590},{300,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,200}</string>
			</dict>
			<key>image/people/player_0100/01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1321,928},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0100/02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1573,928},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0100/03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1825,928},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0100/04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1069,1130},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0100/05.png</key>
			<dict>
				<key>frame</key>
				<string>{{817,1230},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0100/06.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,684},{250,302}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,302}</string>
			</dict>
			<key>image/people/player_0100/07.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,988},{250,302}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,302}</string>
			</dict>
			<key>image/people/player_0100/08.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,1292},{250,302}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,302}</string>
			</dict>
			<key>image/people/player_0100/09.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,1596},{250,302}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,302}</string>
			</dict>
			<key>image/people/player_0100/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{500,319}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,319}</string>
			</dict>
			<key>image/people/player_0100/11.png</key>
			<dict>
				<key>frame</key>
				<string>{{503,1},{500,319}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,319}</string>
			</dict>
			<key>image/people/player_0100/12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1005,1},{500,319}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,319}</string>
			</dict>
			<key>image/people/player_0100/13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1507,1},{500,319}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,319}</string>
			</dict>
			<key>image/people/player_0100/14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,322},{500,319}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,319}</string>
			</dict>
			<key>image/people/player_0111/01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1321,1130},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0111/02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1573,1130},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0111/03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1825,1180},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0111/04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1069,1332},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0111/05.png</key>
			<dict>
				<key>frame</key>
				<string>{{817,1432},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0111/06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1271,1332},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0111/07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1523,1332},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0111/08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1775,1432},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0111/09.png</key>
			<dict>
				<key>frame</key>
				<string>{{1271,1534},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0111/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{817,624},{300,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,200}</string>
			</dict>
			<key>image/people/player_0111/11.png</key>
			<dict>
				<key>frame</key>
				<string>{{886,322},{300,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,200}</string>
			</dict>
			<key>image/people/player_0111/12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1088,322},{300,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,200}</string>
			</dict>
			<key>image/people/player_0111/13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1290,322},{300,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,200}</string>
			</dict>
			<key>image/people/player_0111/14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1592,322},{300,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,200}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Plist7.png</string>
			<key>realTextureFileName</key>
			<string>Plist7.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>