<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>image/people/player_0006/07.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,420},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0006/08.png</key>
			<dict>
				<key>frame</key>
				<string>{{555,420},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0006/09.png</key>
			<dict>
				<key>frame</key>
				<string>{{807,420},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0007/01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1059,420},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0007/02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1311,520},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0007/03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1563,707},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0007/04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1815,707},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0007/05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,622},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0007/06.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,622},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0007/07.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,622},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0007/08.png</key>
			<dict>
				<key>frame</key>
				<string>{{757,622},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0007/09.png</key>
			<dict>
				<key>frame</key>
				<string>{{1009,622},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0007/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1756,1},{300,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,200}</string>
			</dict>
			<key>image/people/player_0007/11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,218},{300,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,200}</string>
			</dict>
			<key>image/people/player_0007/12.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,218},{300,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,200}</string>
			</dict>
			<key>image/people/player_0007/13.png</key>
			<dict>
				<key>frame</key>
				<string>{{605,218},{300,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,200}</string>
			</dict>
			<key>image/people/player_0007/14.png</key>
			<dict>
				<key>frame</key>
				<string>{{907,218},{300,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,200}</string>
			</dict>
			<key>image/people/player_0008/01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1261,722},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0008/02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1513,909},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0008/03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1765,959},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0008/04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,824},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0008/05.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,824},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0008/06.png</key>
			<dict>
				<key>frame</key>
				<string>{{455,824},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0008/07.png</key>
			<dict>
				<key>frame</key>
				<string>{{707,824},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0008/08.png</key>
			<dict>
				<key>frame</key>
				<string>{{959,824},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0008/09.png</key>
			<dict>
				<key>frame</key>
				<string>{{1211,924},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0008/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1463,1111},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0008/11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1715,1161},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0008/12.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,1026},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0008/13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1076},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0008/14.png</key>
			<dict>
				<key>frame</key>
				<string>{{455,1026},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0009/01.png</key>
			<dict>
				<key>frame</key>
				<string>{{707,1026},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0009/02.png</key>
			<dict>
				<key>frame</key>
				<string>{{959,1026},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0009/03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1211,1126},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0009/04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1463,1313},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0009/05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1715,1363},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0009/06.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,1228},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0009/07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1328},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0009/08.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,1228},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0009/09.png</key>
			<dict>
				<key>frame</key>
				<string>{{657,1228},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0009/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1209,218},{300,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,200}</string>
			</dict>
			<key>image/people/player_0009/11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1511,218},{300,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,200}</string>
			</dict>
			<key>image/people/player_0009/12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1713,303},{300,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,200}</string>
			</dict>
			<key>image/people/player_0009/13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1713,505},{300,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,200}</string>
			</dict>
			<key>image/people/player_0009/14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,420},{300,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,200}</string>
			</dict>
			<key>image/people/player_0010/01.png</key>
			<dict>
				<key>frame</key>
				<string>{{859,1430},{215,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{215,215}</string>
			</dict>
			<key>image/people/player_0010/02.png</key>
			<dict>
				<key>frame</key>
				<string>{{607,1632},{215,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{215,215}</string>
			</dict>
			<key>image/people/player_0010/03.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,1732},{215,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{215,215}</string>
			</dict>
			<key>image/people/player_0010/04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1076,1530},{215,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{215,215}</string>
			</dict>
			<key>image/people/player_0010/05.png</key>
			<dict>
				<key>frame</key>
				<string>{{824,1647},{215,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{215,215}</string>
			</dict>
			<key>image/people/player_0010/06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1293,1717},{215,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{215,215}</string>
			</dict>
			<key>image/people/player_0010/07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1041,1747},{215,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{215,215}</string>
			</dict>
			<key>image/people/player_0010/08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1510,1767},{215,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{215,215}</string>
			</dict>
			<key>image/people/player_0010/09.png</key>
			<dict>
				<key>frame</key>
				<string>{{1727,1767},{215,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{215,215}</string>
			</dict>
			<key>image/people/player_0010/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{349,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{349,215}</string>
			</dict>
			<key>image/people/player_0010/11.png</key>
			<dict>
				<key>frame</key>
				<string>{{352,1},{349,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{349,215}</string>
			</dict>
			<key>image/people/player_0010/12.png</key>
			<dict>
				<key>frame</key>
				<string>{{703,1},{349,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{349,215}</string>
			</dict>
			<key>image/people/player_0010/13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1054,1},{349,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{349,215}</string>
			</dict>
			<key>image/people/player_0010/14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1405,1},{349,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{349,215}</string>
			</dict>
			<key>image/people/player_0023/01.png</key>
			<dict>
				<key>frame</key>
				<string>{{909,1228},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0023/02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1161,1328},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0023/03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1413,1515},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0023/04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1665,1565},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0023/05.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,1430},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0023/06.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,1480},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0023/13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1580},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0023/14.png</key>
			<dict>
				<key>frame</key>
				<string>{{607,1430},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Plist2.png</string>
			<key>realTextureFileName</key>
			<string>Plist2.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>