<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>image/people/player_0001/01.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,907},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0001/02.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,1159},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0001/03.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,1411},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0001/04.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,1663},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0001/05.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,605},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0001/06.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,857},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0001/07.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,1109},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0001/08.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,1361},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0001/09.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,1613},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0001/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{300,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,200}</string>
			</dict>
			<key>image/people/player_0001/11.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,1},{300,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,200}</string>
			</dict>
			<key>image/people/player_0001/12.png</key>
			<dict>
				<key>frame</key>
				<string>{{605,1},{300,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,200}</string>
			</dict>
			<key>image/people/player_0001/13.png</key>
			<dict>
				<key>frame</key>
				<string>{{907,1},{300,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,200}</string>
			</dict>
			<key>image/people/player_0001/14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1209,1},{300,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,200}</string>
			</dict>
			<key>image/people/player_0002/01.png</key>
			<dict>
				<key>frame</key>
				<string>{{607,605},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0002/02.png</key>
			<dict>
				<key>frame</key>
				<string>{{607,857},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0002/03.png</key>
			<dict>
				<key>frame</key>
				<string>{{607,1109},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0002/04.png</key>
			<dict>
				<key>frame</key>
				<string>{{607,1361},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0002/05.png</key>
			<dict>
				<key>frame</key>
				<string>{{707,1613},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0002/06.png</key>
			<dict>
				<key>frame</key>
				<string>{{809,405},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0002/07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1061,405},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0002/08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1313,405},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0002/09.png</key>
			<dict>
				<key>frame</key>
				<string>{{1565,405},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0002/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1511,1},{300,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,200}</string>
			</dict>
			<key>image/people/player_0002/11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1813,1},{300,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,200}</string>
			</dict>
			<key>image/people/player_0002/12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,203},{300,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,200}</string>
			</dict>
			<key>image/people/player_0002/13.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,203},{300,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,200}</string>
			</dict>
			<key>image/people/player_0002/14.png</key>
			<dict>
				<key>frame</key>
				<string>{{605,203},{300,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,200}</string>
			</dict>
			<key>image/people/player_0005/01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1767,605},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0005/02.png</key>
			<dict>
				<key>frame</key>
				<string>{{809,607},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0005/03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1061,607},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0005/04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1313,607},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0005/05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1565,657},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0005/06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1767,807},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0005/07.png</key>
			<dict>
				<key>frame</key>
				<string>{{809,809},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0005/08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1061,809},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0005/09.png</key>
			<dict>
				<key>frame</key>
				<string>{{1313,809},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0005/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1565,909},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0005/11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1767,1009},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0005/12.png</key>
			<dict>
				<key>frame</key>
				<string>{{809,1161},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0005/13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1011,1011},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0005/14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1263,1011},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0006/01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1515,1161},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0006/02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1767,1211},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0006/03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1011,1213},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0006/04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1263,1213},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0006/05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1515,1363},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0006/06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1767,1413},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0006/07.png</key>
			<dict>
				<key>frame</key>
				<string>{{909,1415},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0006/08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1161,1415},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0006/09.png</key>
			<dict>
				<key>frame</key>
				<string>{{1413,1565},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0006/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{907,203},{300,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,200}</string>
			</dict>
			<key>image/people/player_0006/11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1209,203},{300,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,200}</string>
			</dict>
			<key>image/people/player_0006/12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1511,203},{300,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,200}</string>
			</dict>
			<key>image/people/player_0006/13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1813,303},{300,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,200}</string>
			</dict>
			<key>image/people/player_0006/14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,605},{300,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,200}</string>
			</dict>
			<key>image/people/player_0007/01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1665,1615},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0007/02.png</key>
			<dict>
				<key>frame</key>
				<string>{{909,1767},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0007/03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1111,1617},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0007/04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1363,1767},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0007/05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1111,1819},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0007/06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1565,1817},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0007/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,907},{300,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,200}</string>
			</dict>
			<key>image/people/player_0007/11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1209},{300,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,200}</string>
			</dict>
			<key>image/people/player_0007/12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1511},{300,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,200}</string>
			</dict>
			<key>image/people/player_0007/13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1813},{300,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,200}</string>
			</dict>
			<key>image/people/player_0007/14.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,605},{300,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,200}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Plist1.png</string>
			<key>realTextureFileName</key>
			<string>Plist1.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>