<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>image/people/player_0114/01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{360,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,300}</string>
			</dict>
			<key>image/people/player_0114/02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,363},{360,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,300}</string>
			</dict>
			<key>image/people/player_0114/03.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,1},{360,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,300}</string>
			</dict>
			<key>image/people/player_0114/04.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,363},{360,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,300}</string>
			</dict>
			<key>image/people/player_0114/05.png</key>
			<dict>
				<key>frame</key>
				<string>{{605,1},{360,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,300}</string>
			</dict>
			<key>image/people/player_0114/06.png</key>
			<dict>
				<key>frame</key>
				<string>{{605,363},{360,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,300}</string>
			</dict>
			<key>image/people/player_0114/07.png</key>
			<dict>
				<key>frame</key>
				<string>{{907,1},{360,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,300}</string>
			</dict>
			<key>image/people/player_0114/08.png</key>
			<dict>
				<key>frame</key>
				<string>{{907,363},{360,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,300}</string>
			</dict>
			<key>image/people/player_0114/09.png</key>
			<dict>
				<key>frame</key>
				<string>{{1209,1},{360,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,300}</string>
			</dict>
			<key>image/people/player_0114/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1571,1},{360,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,300}</string>
			</dict>
			<key>image/people/player_0114/11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1209,303},{360,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,300}</string>
			</dict>
			<key>image/people/player_0114/12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1209,665},{360,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,300}</string>
			</dict>
			<key>image/people/player_0114/13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1511,303},{360,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,300}</string>
			</dict>
			<key>image/people/player_0114/14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1571,665},{360,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,300}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Plist8.png</string>
			<key>realTextureFileName</key>
			<string>Plist8.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>