<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>image/people/player_0053/04.png</key>
			<dict>
				<key>frame</key>
				<string>{{809,1269},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0053/05.png</key>
			<dict>
				<key>frame</key>
				<string>{{809,1521},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0053/06.png</key>
			<dict>
				<key>frame</key>
				<string>{{809,1773},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0053/07.png</key>
			<dict>
				<key>frame</key>
				<string>{{969,363},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0053/08.png</key>
			<dict>
				<key>frame</key>
				<string>{{969,615},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0053/09.png</key>
			<dict>
				<key>frame</key>
				<string>{{969,867},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0056/01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1011,1119},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0056/02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1171,363},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0056/03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1171,615},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0056/04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1171,867},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0056/05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1011,1371},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0056/06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1011,1623},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0056/07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1213,1119},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0056/08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1373,363},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0056/09.png</key>
			<dict>
				<key>frame</key>
				<string>{{1373,565},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0056/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,1419},{300,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,200}</string>
			</dict>
			<key>image/people/player_0056/11.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,1721},{300,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,200}</string>
			</dict>
			<key>image/people/player_0056/12.png</key>
			<dict>
				<key>frame</key>
				<string>{{565,363},{300,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,200}</string>
			</dict>
			<key>image/people/player_0056/13.png</key>
			<dict>
				<key>frame</key>
				<string>{{565,665},{300,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,200}</string>
			</dict>
			<key>image/people/player_0056/14.png</key>
			<dict>
				<key>frame</key>
				<string>{{565,967},{300,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,200}</string>
			</dict>
			<key>image/people/player_0064/01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1373,817},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0064/02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1465,1069},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0064/03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1575,565},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0064/04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1625,363},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0064/05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1575,767},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0064/06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1827,565},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0064/07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1777,817},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0064/08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1717,1019},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0064/09.png</key>
			<dict>
				<key>frame</key>
				<string>{{1717,1221},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0064/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1569},{350,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,200}</string>
			</dict>
			<key>image/people/player_0064/11.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,1569},{350,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,200}</string>
			</dict>
			<key>image/people/player_0064/12.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,363},{350,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,200}</string>
			</dict>
			<key>image/people/player_0064/13.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,715},{350,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,200}</string>
			</dict>
			<key>image/people/player_0064/14.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,1067},{350,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,200}</string>
			</dict>
			<key>image/people/player_0067/01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1465,1271},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0067/02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1213,1321},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0067/03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1717,1423},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0067/04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1465,1473},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0067/05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1213,1523},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0067/06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1717,1625},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0067/07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1465,1675},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0067/08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1717,1827},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0067/09.png</key>
			<dict>
				<key>frame</key>
				<string>{{1213,1725},{250,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,200}</string>
			</dict>
			<key>image/people/player_0067/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{607,1269},{300,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,200}</string>
			</dict>
			<key>image/people/player_0067/11.png</key>
			<dict>
				<key>frame</key>
				<string>{{607,1571},{300,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,200}</string>
			</dict>
			<key>image/people/player_0067/12.png</key>
			<dict>
				<key>frame</key>
				<string>{{767,363},{300,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,200}</string>
			</dict>
			<key>image/people/player_0067/13.png</key>
			<dict>
				<key>frame</key>
				<string>{{767,665},{300,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,200}</string>
			</dict>
			<key>image/people/player_0067/14.png</key>
			<dict>
				<key>frame</key>
				<string>{{767,967},{300,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,200}</string>
			</dict>
			<key>image/people/player_0069/01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{400,360}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,360}</string>
			</dict>
			<key>image/people/player_0069/02.png</key>
			<dict>
				<key>frame</key>
				<string>{{403,1},{400,360}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,360}</string>
			</dict>
			<key>image/people/player_0069/03.png</key>
			<dict>
				<key>frame</key>
				<string>{{805,1},{400,360}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,360}</string>
			</dict>
			<key>image/people/player_0069/04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1207,1},{400,360}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,360}</string>
			</dict>
			<key>image/people/player_0069/05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1609,1},{400,360}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,360}</string>
			</dict>
			<key>image/people/player_0069/06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,363},{400,360}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{400,360}</string>
			</dict>
			<key>image/people/player_0069/07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,765},{400,360}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{400,360}</string>
			</dict>
			<key>image/people/player_0069/08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1167},{400,360}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{400,360}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Plist5.png</string>
			<key>realTextureFileName</key>
			<string>Plist5.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>