<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>image/frame/likui2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,560},{430,318}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{430,318}</string>
			</dict>
			<key>image/over/likui.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{476,557}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{476,557}</string>
			</dict>
			<key>image/play/quan1.png</key>
			<dict>
				<key>frame</key>
				<string>{{321,922},{84,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,87}</string>
			</dict>
			<key>image/play/quan2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,992},{19,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{19,23}</string>
			</dict>
			<key>image/poker/heart9.png</key>
			<dict>
				<key>frame</key>
				<string>{{321,560},{128,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,179}</string>
			</dict>
			<key>image/poker/spade1.png</key>
			<dict>
				<key>frame</key>
				<string>{{321,741},{128,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,179}</string>
			</dict>
			<key>image/poker/spade10.png</key>
			<dict>
				<key>frame</key>
				<string>{{451,560},{128,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,179}</string>
			</dict>
			<key>image/poker/spade11.png</key>
			<dict>
				<key>frame</key>
				<string>{{451,741},{128,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,179}</string>
			</dict>
			<key>image/poker/spade12.png</key>
			<dict>
				<key>frame</key>
				<string>{{479,1},{128,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,179}</string>
			</dict>
			<key>image/poker/spade13.png</key>
			<dict>
				<key>frame</key>
				<string>{{479,131},{128,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,179}</string>
			</dict>
			<key>image/poker/spade2.png</key>
			<dict>
				<key>frame</key>
				<string>{{479,312},{128,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,179}</string>
			</dict>
			<key>image/poker/spade3.png</key>
			<dict>
				<key>frame</key>
				<string>{{581,493},{128,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,179}</string>
			</dict>
			<key>image/poker/spade4.png</key>
			<dict>
				<key>frame</key>
				<string>{{609,131},{128,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,179}</string>
			</dict>
			<key>image/poker/spade5.png</key>
			<dict>
				<key>frame</key>
				<string>{{660,1},{128,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,179}</string>
			</dict>
			<key>image/poker/spade6.png</key>
			<dict>
				<key>frame</key>
				<string>{{609,312},{128,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,179}</string>
			</dict>
			<key>image/poker/spade7.png</key>
			<dict>
				<key>frame</key>
				<string>{{739,131},{128,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,179}</string>
			</dict>
			<key>image/poker/spade8.png</key>
			<dict>
				<key>frame</key>
				<string>{{841,1},{128,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,179}</string>
			</dict>
			<key>image/poker/spade9.png</key>
			<dict>
				<key>frame</key>
				<string>{{739,261},{128,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,179}</string>
			</dict>
			<key>image/poker/heart8.png</key>
			<dict>
				<key>frame</key>
				<string>{{869,261},{128,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,179}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>LiKuiPlist3.png</string>
			<key>realTextureFileName</key>
			<string>LiKuiPlist3.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>