<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>image/poker/bei.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{80,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,111}</string>
			</dict>
			<key>image/poker/fangkuai10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,114},{80,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,111}</string>
			</dict>
			<key>image/poker/fangkuai2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,227},{80,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,111}</string>
			</dict>
			<key>image/poker/fangkuai3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,340},{80,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,111}</string>
			</dict>
			<key>image/poker/fangkuai4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,453},{80,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,111}</string>
			</dict>
			<key>image/poker/fangkuai5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,566},{80,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,111}</string>
			</dict>
			<key>image/poker/fangkuai6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,679},{80,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,111}</string>
			</dict>
			<key>image/poker/fangkuai7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,792},{80,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,111}</string>
			</dict>
			<key>image/poker/fangkuai8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,905},{80,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,111}</string>
			</dict>
			<key>image/poker/fangkuai9.png</key>
			<dict>
				<key>frame</key>
				<string>{{83,1},{80,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,111}</string>
			</dict>
			<key>image/poker/fangkuaia.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,1},{80,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,111}</string>
			</dict>
			<key>image/poker/fangkuaij.png</key>
			<dict>
				<key>frame</key>
				<string>{{309,1},{80,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,111}</string>
			</dict>
			<key>image/poker/fangkuaik.png</key>
			<dict>
				<key>frame</key>
				<string>{{422,1},{80,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,111}</string>
			</dict>
			<key>image/poker/fangkuaiq.png</key>
			<dict>
				<key>frame</key>
				<string>{{535,1},{80,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,111}</string>
			</dict>
			<key>image/poker/heitao10.png</key>
			<dict>
				<key>frame</key>
				<string>{{648,1},{80,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,111}</string>
			</dict>
			<key>image/poker/heitao2.png</key>
			<dict>
				<key>frame</key>
				<string>{{761,1},{80,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,111}</string>
			</dict>
			<key>image/poker/heitao3.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,1},{80,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,111}</string>
			</dict>
			<key>image/poker/heitao4.png</key>
			<dict>
				<key>frame</key>
				<string>{{83,83},{80,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,111}</string>
			</dict>
			<key>image/poker/heitao5.png</key>
			<dict>
				<key>frame</key>
				<string>{{83,196},{80,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,111}</string>
			</dict>
			<key>image/poker/heitao6.png</key>
			<dict>
				<key>frame</key>
				<string>{{83,309},{80,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,111}</string>
			</dict>
			<key>image/poker/heitao7.png</key>
			<dict>
				<key>frame</key>
				<string>{{83,422},{80,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,111}</string>
			</dict>
			<key>image/poker/heitao8.png</key>
			<dict>
				<key>frame</key>
				<string>{{83,535},{80,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,111}</string>
			</dict>
			<key>image/poker/heitao9.png</key>
			<dict>
				<key>frame</key>
				<string>{{83,648},{80,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,111}</string>
			</dict>
			<key>image/poker/heitaoa.png</key>
			<dict>
				<key>frame</key>
				<string>{{83,761},{80,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,111}</string>
			</dict>
			<key>image/poker/heitaoj.png</key>
			<dict>
				<key>frame</key>
				<string>{{83,874},{80,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,111}</string>
			</dict>
			<key>image/poker/heitaok.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,83},{80,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,111}</string>
			</dict>
			<key>image/poker/heitaoq.png</key>
			<dict>
				<key>frame</key>
				<string>{{278,83},{80,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,111}</string>
			</dict>
			<key>image/poker/hongxin10.png</key>
			<dict>
				<key>frame</key>
				<string>{{391,83},{80,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,111}</string>
			</dict>
			<key>image/poker/hongxin2.png</key>
			<dict>
				<key>frame</key>
				<string>{{504,83},{80,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,111}</string>
			</dict>
			<key>image/poker/hongxin3.png</key>
			<dict>
				<key>frame</key>
				<string>{{617,83},{80,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,111}</string>
			</dict>
			<key>image/poker/hongxin4.png</key>
			<dict>
				<key>frame</key>
				<string>{{730,83},{80,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,111}</string>
			</dict>
			<key>image/poker/hongxin5.png</key>
			<dict>
				<key>frame</key>
				<string>{{843,83},{80,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,111}</string>
			</dict>
			<key>image/poker/hongxin6.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,165},{80,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,111}</string>
			</dict>
			<key>image/poker/hongxin7.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,278},{80,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,111}</string>
			</dict>
			<key>image/poker/hongxin8.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,391},{80,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,111}</string>
			</dict>
			<key>image/poker/hongxin9.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,504},{80,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,111}</string>
			</dict>
			<key>image/poker/hongxina.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,617},{80,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,111}</string>
			</dict>
			<key>image/poker/hongxinj.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,730},{80,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,111}</string>
			</dict>
			<key>image/poker/hongxink.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,843},{80,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,111}</string>
			</dict>
			<key>image/poker/hongxinq.png</key>
			<dict>
				<key>frame</key>
				<string>{{247,165},{80,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,111}</string>
			</dict>
			<key>image/poker/meihua10.png</key>
			<dict>
				<key>frame</key>
				<string>{{360,165},{80,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,111}</string>
			</dict>
			<key>image/poker/meihua2.png</key>
			<dict>
				<key>frame</key>
				<string>{{473,165},{80,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,111}</string>
			</dict>
			<key>image/poker/meihua3.png</key>
			<dict>
				<key>frame</key>
				<string>{{586,165},{80,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,111}</string>
			</dict>
			<key>image/poker/meihua4.png</key>
			<dict>
				<key>frame</key>
				<string>{{699,165},{80,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,111}</string>
			</dict>
			<key>image/poker/meihua5.png</key>
			<dict>
				<key>frame</key>
				<string>{{812,165},{80,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,111}</string>
			</dict>
			<key>image/poker/meihua6.png</key>
			<dict>
				<key>frame</key>
				<string>{{925,165},{80,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,111}</string>
			</dict>
			<key>image/poker/meihua7.png</key>
			<dict>
				<key>frame</key>
				<string>{{247,247},{80,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,111}</string>
			</dict>
			<key>image/poker/meihua8.png</key>
			<dict>
				<key>frame</key>
				<string>{{360,247},{80,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,111}</string>
			</dict>
			<key>image/poker/meihua9.png</key>
			<dict>
				<key>frame</key>
				<string>{{473,247},{80,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,111}</string>
			</dict>
			<key>image/poker/meihuaa.png</key>
			<dict>
				<key>frame</key>
				<string>{{586,247},{80,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,111}</string>
			</dict>
			<key>image/poker/meihuaj.png</key>
			<dict>
				<key>frame</key>
				<string>{{699,247},{80,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,111}</string>
			</dict>
			<key>image/poker/meihuak.png</key>
			<dict>
				<key>frame</key>
				<string>{{812,247},{80,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,111}</string>
			</dict>
			<key>image/poker/meihuaq.png</key>
			<dict>
				<key>frame</key>
				<string>{{925,278},{80,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,111}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>EightPlist3.png</string>
			<key>realTextureFileName</key>
			<string>EightPlist3.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>