<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>image/poker/bei.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{156,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,132}</string>
			</dict>
			<key>image/poker/fangkuai10.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,0},{156,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,132}</string>
			</dict>
			<key>image/poker/fangkuai2.png</key>
			<dict>
				<key>frame</key>
				<string>{{312,0},{156,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,132}</string>
			</dict>
			<key>image/poker/fangkuai3.png</key>
			<dict>
				<key>frame</key>
				<string>{{468,0},{156,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,132}</string>
			</dict>
			<key>image/poker/fangkuai4.png</key>
			<dict>
				<key>frame</key>
				<string>{{624,0},{156,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,132}</string>
			</dict>
			<key>image/poker/fangkuai5.png</key>
			<dict>
				<key>frame</key>
				<string>{{780,0},{156,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,132}</string>
			</dict>
			<key>image/poker/fangkuai6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,132},{156,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,132}</string>
			</dict>
			<key>image/poker/fangkuai7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,288},{156,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,132}</string>
			</dict>
			<key>image/poker/fangkuai8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,444},{156,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,132}</string>
			</dict>
			<key>image/poker/fangkuai9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,600},{156,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,132}</string>
			</dict>
			<key>image/poker/fangkuaia.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,756},{156,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,132}</string>
			</dict>
			<key>image/poker/fangkuaij.png</key>
			<dict>
				<key>frame</key>
				<string>{{132,132},{156,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,132}</string>
			</dict>
			<key>image/poker/fangkuaik.png</key>
			<dict>
				<key>frame</key>
				<string>{{288,132},{156,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,132}</string>
			</dict>
			<key>image/poker/fangkuaiq.png</key>
			<dict>
				<key>frame</key>
				<string>{{444,132},{156,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,132}</string>
			</dict>
			<key>image/poker/heitao10.png</key>
			<dict>
				<key>frame</key>
				<string>{{600,132},{156,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,132}</string>
			</dict>
			<key>image/poker/heitao2.png</key>
			<dict>
				<key>frame</key>
				<string>{{756,132},{156,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,132}</string>
			</dict>
			<key>image/poker/heitao3.png</key>
			<dict>
				<key>frame</key>
				<string>{{132,264},{156,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,132}</string>
			</dict>
			<key>image/poker/heitao4.png</key>
			<dict>
				<key>frame</key>
				<string>{{132,420},{156,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,132}</string>
			</dict>
			<key>image/poker/heitao5.png</key>
			<dict>
				<key>frame</key>
				<string>{{132,576},{156,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,132}</string>
			</dict>
			<key>image/poker/heitao6.png</key>
			<dict>
				<key>frame</key>
				<string>{{132,732},{156,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,132}</string>
			</dict>
			<key>image/poker/heitao7.png</key>
			<dict>
				<key>frame</key>
				<string>{{132,888},{156,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,132}</string>
			</dict>
			<key>image/poker/heitao8.png</key>
			<dict>
				<key>frame</key>
				<string>{{264,264},{156,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,132}</string>
			</dict>
			<key>image/poker/heitao9.png</key>
			<dict>
				<key>frame</key>
				<string>{{264,420},{156,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,132}</string>
			</dict>
			<key>image/poker/heitaoa.png</key>
			<dict>
				<key>frame</key>
				<string>{{264,576},{156,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,132}</string>
			</dict>
			<key>image/poker/heitaoj.png</key>
			<dict>
				<key>frame</key>
				<string>{{264,732},{156,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,132}</string>
			</dict>
			<key>image/poker/heitaok.png</key>
			<dict>
				<key>frame</key>
				<string>{{288,888},{156,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,132}</string>
			</dict>
			<key>image/poker/heitaoq.png</key>
			<dict>
				<key>frame</key>
				<string>{{396,264},{156,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,132}</string>
			</dict>
			<key>image/poker/hongxin10.png</key>
			<dict>
				<key>frame</key>
				<string>{{396,420},{156,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,132}</string>
			</dict>
			<key>image/poker/hongxin2.png</key>
			<dict>
				<key>frame</key>
				<string>{{396,576},{156,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,132}</string>
			</dict>
			<key>image/poker/hongxin3.png</key>
			<dict>
				<key>frame</key>
				<string>{{396,732},{156,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,132}</string>
			</dict>
			<key>image/poker/hongxin4.png</key>
			<dict>
				<key>frame</key>
				<string>{{444,888},{156,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,132}</string>
			</dict>
			<key>image/poker/hongxin5.png</key>
			<dict>
				<key>frame</key>
				<string>{{528,264},{156,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,132}</string>
			</dict>
			<key>image/poker/hongxin6.png</key>
			<dict>
				<key>frame</key>
				<string>{{528,396},{156,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,132}</string>
			</dict>
			<key>image/poker/hongxin7.png</key>
			<dict>
				<key>frame</key>
				<string>{{528,552},{156,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,132}</string>
			</dict>
			<key>image/poker/hongxin8.png</key>
			<dict>
				<key>frame</key>
				<string>{{528,708},{156,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,132}</string>
			</dict>
			<key>image/poker/hongxin9.png</key>
			<dict>
				<key>frame</key>
				<string>{{600,864},{156,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,132}</string>
			</dict>
			<key>image/poker/hongxina.png</key>
			<dict>
				<key>frame</key>
				<string>{{660,396},{156,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,132}</string>
			</dict>
			<key>image/poker/hongxinj.png</key>
			<dict>
				<key>frame</key>
				<string>{{684,264},{156,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,132}</string>
			</dict>
			<key>image/poker/hongxink.png</key>
			<dict>
				<key>frame</key>
				<string>{{660,528},{156,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,132}</string>
			</dict>
			<key>image/poker/hongxinq.png</key>
			<dict>
				<key>frame</key>
				<string>{{660,684},{156,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,132}</string>
			</dict>
			<key>image/poker/meihua10.png</key>
			<dict>
				<key>frame</key>
				<string>{{732,840},{156,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,132}</string>
			</dict>
			<key>image/poker/meihua2.png</key>
			<dict>
				<key>frame</key>
				<string>{{792,528},{156,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,132}</string>
			</dict>
			<key>image/poker/meihua3.png</key>
			<dict>
				<key>frame</key>
				<string>{{816,396},{156,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,132}</string>
			</dict>
			<key>image/poker/meihua4.png</key>
			<dict>
				<key>frame</key>
				<string>{{840,264},{156,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,132}</string>
			</dict>
			<key>image/poker/meihua5.png</key>
			<dict>
				<key>frame</key>
				<string>{{792,660},{156,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,132}</string>
			</dict>
			<key>image/poker/meihua6.png</key>
			<dict>
				<key>frame</key>
				<string>{{864,816},{156,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,132}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ZhanDouPlist3.png</string>
			<key>realTextureFileName</key>
			<string>ZhanDouPlist3.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>