<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>image/buy/goumaibt.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,935},{388,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{388,81}</string>
			</dict>
			<key>image/game/fanhui.png</key>
			<dict>
				<key>frame</key>
				<string>{{307,153},{88,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>
			<key>image/loading/shangcheng.png</key>
			<dict>
				<key>frame</key>
				<string>{{796,816},{150,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,175}</string>
			</dict>
			<key>image/loading/shezhi.png</key>
			<dict>
				<key>frame</key>
				<string>{{307,241},{88,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>
			<key>image/over/bt.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,851},{402,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{402,84}</string>
			</dict>
			<key>image/over/fanhui.png</key>
			<dict>
				<key>frame</key>
				<string>{{946,816},{160,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,64}</string>
			</dict>
			<key>image/over/guojiatx.png</key>
			<dict>
				<key>frame</key>
				<string>{{213,153},{94,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,94}</string>
			</dict>
			<key>image/over/jixu.png</key>
			<dict>
				<key>frame</key>
				<string>{{954,568},{160,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,63}</string>
			</dict>
			<key>image/over/lusutx.png</key>
			<dict>
				<key>frame</key>
				<string>{{213,247},{94,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,94}</string>
			</dict>
			<key>image/over/pangtongtx.png</key>
			<dict>
				<key>frame</key>
				<string>{{213,341},{94,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,94}</string>
			</dict>
			<key>image/over/simayitx.png</key>
			<dict>
				<key>frame</key>
				<string>{{213,435},{94,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,94}</string>
			</dict>
			<key>image/over/suanjiedb.png</key>
			<dict>
				<key>frame</key>
				<string>{{932,0},{568,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{568,73}</string>
			</dict>
			<key>image/over/tx.png</key>
			<dict>
				<key>frame</key>
				<string>{{946,976},{49,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,47}</string>
			</dict>
			<key>image/over/zhouyutx.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,153},{94,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,94}</string>
			</dict>
			<key>image/over/zugeliangtx.png</key>
			<dict>
				<key>frame</key>
				<string>{{94,153},{94,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,94}</string>
			</dict>
			<key>image/people/bt.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{932,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{932,153}</string>
			</dict>
			<key>image/people/guojia.png</key>
			<dict>
				<key>frame</key>
				<string>{{533,568},{233,257}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{233,257}</string>
			</dict>
			<key>image/people/lusu.png</key>
			<dict>
				<key>frame</key>
				<string>{{213,584},{217,260}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{217,260}</string>
			</dict>
			<key>image/people/pangtong.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,568},{213,283}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{213,283}</string>
			</dict>
			<key>image/people/simayi.png</key>
			<dict>
				<key>frame</key>
				<string>{{478,373},{188,241}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{188,241}</string>
			</dict>
			<key>image/people/zhouyu.png</key>
			<dict>
				<key>frame</key>
				<string>{{533,825},{196,263}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{196,263}</string>
			</dict>
			<key>image/people/zugeliang.png</key>
			<dict>
				<key>frame</key>
				<string>{{766,568},{188,248}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{188,248}</string>
			</dict>
			<key>image/poker/beimian.png</key>
			<dict>
				<key>frame</key>
				<string>{{388,935},{82,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{82,145}</string>
			</dict>
			<key>image/poker/junshi.png</key>
			<dict>
				<key>frame</key>
				<string>{{995,976},{31,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{31,29}</string>
			</dict>
			<key>image/poker/num1.png</key>
			<dict>
				<key>frame</key>
				<string>{{213,825},{25,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{25,27}</string>
			</dict>
			<key>image/poker/num2.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,825},{25,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{25,27}</string>
			</dict>
			<key>image/poker/num3.png</key>
			<dict>
				<key>frame</key>
				<string>{{267,825},{25,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{25,27}</string>
			</dict>
			<key>image/poker/num4.png</key>
			<dict>
				<key>frame</key>
				<string>{{294,825},{25,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{25,27}</string>
			</dict>
			<key>image/poker/num5.png</key>
			<dict>
				<key>frame</key>
				<string>{{321,825},{25,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{25,27}</string>
			</dict>
			<key>image/poker/numone.png</key>
			<dict>
				<key>frame</key>
				<string>{{348,825},{25,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{25,27}</string>
			</dict>
			<key>image/poker/poker_di.png</key>
			<dict>
				<key>frame</key>
				<string>{{397,153},{82,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,145}</string>
			</dict>
			<key>image/poker/poker1.png</key>
			<dict>
				<key>frame</key>
				<string>{{397,298},{81,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{81,143}</string>
			</dict>
			<key>image/poker/poker2.png</key>
			<dict>
				<key>frame</key>
				<string>{{397,441},{81,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{81,143}</string>
			</dict>
			<key>image/poker/poker3.png</key>
			<dict>
				<key>frame</key>
				<string>{{528,153},{81,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{81,143}</string>
			</dict>
			<key>image/poker/poker4.png</key>
			<dict>
				<key>frame</key>
				<string>{{609,153},{81,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{81,143}</string>
			</dict>
			<key>image/poker/poker5.png</key>
			<dict>
				<key>frame</key>
				<string>{{690,153},{81,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{81,143}</string>
			</dict>
			<key>image/poker/poker6.png</key>
			<dict>
				<key>frame</key>
				<string>{{719,371},{81,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{81,143}</string>
			</dict>
			<key>image/poker/poker7.png</key>
			<dict>
				<key>frame</key>
				<string>{{771,153},{81,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{81,143}</string>
			</dict>
			<key>image/poker/zhuanhuan.png</key>
			<dict>
				<key>frame</key>
				<string>{{375,825},{22,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{22,26}</string>
			</dict>
			<key>image/poker/zhuanhuan1.png</key>
			<dict>
				<key>frame</key>
				<string>{{533,296},{74,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,133}</string>
			</dict>
			<key>image/rank/guojiatx.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,247},{94,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,94}</string>
			</dict>
			<key>image/rank/lusutx.png</key>
			<dict>
				<key>frame</key>
				<string>{{94,247},{94,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,94}</string>
			</dict>
			<key>image/rank/paiming1.png</key>
			<dict>
				<key>frame</key>
				<string>{{666,296},{75,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,72}</string>
			</dict>
			<key>image/rank/paiming2.png</key>
			<dict>
				<key>frame</key>
				<string>{{954,728},{75,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,69}</string>
			</dict>
			<key>image/rank/paiming3.png</key>
			<dict>
				<key>frame</key>
				<string>{{478,298},{75,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,55}</string>
			</dict>
			<key>image/rank/paiming4.png</key>
			<dict>
				<key>frame</key>
				<string>{{479,153},{49,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,49}</string>
			</dict>
			<key>image/rank/pangtongtx.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,341},{94,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,94}</string>
			</dict>
			<key>image/rank/simayitx.png</key>
			<dict>
				<key>frame</key>
				<string>{{94,341},{94,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,94}</string>
			</dict>
			<key>image/rank/tx.png</key>
			<dict>
				<key>frame</key>
				<string>{{479,202},{49,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,47}</string>
			</dict>
			<key>image/rank/x.png</key>
			<dict>
				<key>frame</key>
				<string>{{473,584},{64,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,57}</string>
			</dict>
			<key>image/rank/zhouyutx.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,435},{94,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,94}</string>
			</dict>
			<key>image/rank/zugeliangtx.png</key>
			<dict>
				<key>frame</key>
				<string>{{94,435},{94,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,94}</string>
			</dict>
			<key>image/select/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,801},{105,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{105,100}</string>
			</dict>
			<key>image/select/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{771,234},{105,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{105,100}</string>
			</dict>
			<key>image/select/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{800,339},{105,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{105,100}</string>
			</dict>
			<key>image/select/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{800,439},{105,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{105,100}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Plist2.png</string>
			<key>realTextureFileName</key>
			<string>Plist2.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>