<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>image/buy/fou.png</key>
			<dict>
				<key>frame</key>
				<string>{{160,795},{160,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,64}</string>
			</dict>
			<key>image/buy/shi.png</key>
			<dict>
				<key>frame</key>
				<string>{{390,451},{160,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,63}</string>
			</dict>
			<key>image/game/bangzhu.png</key>
			<dict>
				<key>frame</key>
				<string>{{599,214},{88,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>
			<key>image/game/change.png</key>
			<dict>
				<key>frame</key>
				<string>{{324,815},{40,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,48}</string>
			</dict>
			<key>image/game/guojia.png</key>
			<dict>
				<key>frame</key>
				<string>{{699,1},{235,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{235,235}</string>
			</dict>
			<key>image/game/jiantou.png</key>
			<dict>
				<key>frame</key>
				<string>{{473,959},{62,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{62,46}</string>
			</dict>
			<key>image/game/lusu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,558},{235,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{235,235}</string>
			</dict>
			<key>image/game/paidui.png</key>
			<dict>
				<key>frame</key>
				<string>{{521,959},{76,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,35}</string>
			</dict>
			<key>image/game/paiduidb.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,795},{186,157}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{186,157}</string>
			</dict>
			<key>image/game/pangtong.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,214},{235,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{235,235}</string>
			</dict>
			<key>image/game/simayi.png</key>
			<dict>
				<key>frame</key>
				<string>{{238,214},{235,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{235,235}</string>
			</dict>
			<key>image/game/taizi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,983},{294,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{294,33}</string>
			</dict>
			<key>image/game/tq.png</key>
			<dict>
				<key>frame</key>
				<string>{{521,996},{40,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,26}</string>
			</dict>
			<key>image/game/tqdb.png</key>
			<dict>
				<key>frame</key>
				<string>{{297,959},{115,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,43}</string>
			</dict>
			<key>image/game/wenzishuoming.png</key>
			<dict>
				<key>frame</key>
				<string>{{226,931},{335,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{335,26}</string>
			</dict>
			<key>image/game/zhang.png</key>
			<dict>
				<key>frame</key>
				<string>{{324,865},{38,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{38,35}</string>
			</dict>
			<key>image/game/zhouyu.png</key>
			<dict>
				<key>frame</key>
				<string>{{563,550},{235,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{235,235}</string>
			</dict>
			<key>image/game/zugeliang.png</key>
			<dict>
				<key>frame</key>
				<string>{{689,238},{235,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{235,235}</string>
			</dict>
			<key>image/help/cha.png</key>
			<dict>
				<key>frame</key>
				<string>{{414,959},{64,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,57}</string>
			</dict>
			<key>image/loading/bangzhu.png</key>
			<dict>
				<key>frame</key>
				<string>{{238,555},{186,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{186,84}</string>
			</dict>
			<key>image/loading/bt.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,451},{338,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{338,102}</string>
			</dict>
			<key>image/loading/jiazaidb.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{696,211}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{696,211}</string>
			</dict>
			<key>image/loading/jiazaitiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{936,1},{555,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{555,65}</string>
			</dict>
			<key>image/loading/jiazaiwz.png</key>
			<dict>
				<key>frame</key>
				<string>{{341,451},{362,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{362,47}</string>
			</dict>
			<key>image/loading/kaishi.png</key>
			<dict>
				<key>frame</key>
				<string>{{475,214},{334,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{334,97}</string>
			</dict>
			<key>image/loading/paihangbang.png</key>
			<dict>
				<key>frame</key>
				<string>{{238,743},{186,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{186,84}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Plist1.png</string>
			<key>realTextureFileName</key>
			<string>Plist1.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>