<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>image/fish20/0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1885,1},{365,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{365,156}</string>
			</dict>
			<key>image/fish20/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1848,368},{365,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{365,156}</string>
			</dict>
			<key>image/fish20/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{555,555},{365,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{365,156}</string>
			</dict>
			<key>image/fish20/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{922,555},{365,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{365,156}</string>
			</dict>
			<key>image/fish20/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1603,555},{365,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{365,156}</string>
			</dict>
			<key>image/fish20/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1761,735},{365,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{365,156}</string>
			</dict>
			<key>image/fish20/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1545,922},{365,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{365,156}</string>
			</dict>
			<key>image/fish20/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1109,990},{365,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{365,156}</string>
			</dict>
			<key>image/fish21/0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1268,832},{275,257}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{275,257}</string>
			</dict>
			<key>image/fish21/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1703,1102},{275,257}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{275,257}</string>
			</dict>
			<key>image/fish21/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{832,990},{275,257}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{275,257}</string>
			</dict>
			<key>image/fish21/11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1267,1091},{275,257}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{275,257}</string>
			</dict>
			<key>image/fish21/12.png</key>
			<dict>
				<key>frame</key>
				<string>{{555,1049},{275,257}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{275,257}</string>
			</dict>
			<key>image/fish21/13.png</key>
			<dict>
				<key>frame</key>
				<string>{{832,1249},{275,257}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{275,257}</string>
			</dict>
			<key>image/fish21/14.png</key>
			<dict>
				<key>frame</key>
				<string>{{278,1183},{275,257}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{275,257}</string>
			</dict>
			<key>image/fish21/15.png</key>
			<dict>
				<key>frame</key>
				<string>{{555,1308},{275,257}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{275,257}</string>
			</dict>
			<key>image/fish21/16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1220},{275,257}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{275,257}</string>
			</dict>
			<key>image/fish21/17.png</key>
			<dict>
				<key>frame</key>
				<string>{{278,1442},{275,257}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{275,257}</string>
			</dict>
			<key>image/fish21/18.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1479},{275,257}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{275,257}</string>
			</dict>
			<key>image/fish21/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1267,1350},{275,257}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{275,257}</string>
			</dict>
			<key>image/fish21/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{832,1508},{275,257}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{275,257}</string>
			</dict>
			<key>image/fish21/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{555,1567},{275,257}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{275,257}</string>
			</dict>
			<key>image/fish21/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{278,1701},{275,257}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{275,257}</string>
			</dict>
			<key>image/fish21/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1738},{275,257}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{275,257}</string>
			</dict>
			<key>image/fish21/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{832,1767},{275,257}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{275,257}</string>
			</dict>
			<key>image/fish21/8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1091,1767},{275,257}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{275,257}</string>
			</dict>
			<key>image/fish21/9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1350,1609},{275,257}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{275,257}</string>
			</dict>
			<key>image/fish22/0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{312,275}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{312,275}</string>
			</dict>
			<key>image/fish22/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{315,1},{312,275}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{312,275}</string>
			</dict>
			<key>image/fish22/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{629,1},{312,275}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{312,275}</string>
			</dict>
			<key>image/fish22/11.png</key>
			<dict>
				<key>frame</key>
				<string>{{943,1},{312,275}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{312,275}</string>
			</dict>
			<key>image/fish22/12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1257,1},{312,275}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{312,275}</string>
			</dict>
			<key>image/fish22/13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1571,1},{312,275}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{312,275}</string>
			</dict>
			<key>image/fish22/14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,278},{312,275}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{312,275}</string>
			</dict>
			<key>image/fish22/15.png</key>
			<dict>
				<key>frame</key>
				<string>{{278,278},{312,275}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{312,275}</string>
			</dict>
			<key>image/fish22/16.png</key>
			<dict>
				<key>frame</key>
				<string>{{592,278},{312,275}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{312,275}</string>
			</dict>
			<key>image/fish22/17.png</key>
			<dict>
				<key>frame</key>
				<string>{{906,278},{312,275}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{312,275}</string>
			</dict>
			<key>image/fish22/18.png</key>
			<dict>
				<key>frame</key>
				<string>{{1220,278},{312,275}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{312,275}</string>
			</dict>
			<key>image/fish22/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1534,278},{312,275}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{312,275}</string>
			</dict>
			<key>image/fish22/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{278,555},{312,275}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{312,275}</string>
			</dict>
			<key>image/fish22/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,592},{312,275}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{312,275}</string>
			</dict>
			<key>image/fish22/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{555,735},{312,275}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{312,275}</string>
			</dict>
			<key>image/fish22/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{278,869},{312,275}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{312,275}</string>
			</dict>
			<key>image/fish22/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,906},{312,275}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{312,275}</string>
			</dict>
			<key>image/fish22/8.png</key>
			<dict>
				<key>frame</key>
				<string>{{832,713},{312,275}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{312,275}</string>
			</dict>
			<key>image/fish22/9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1289,555},{312,275}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{312,275}</string>
			</dict>
			<key>image/fish29/0.png</key>
			<dict>
				<key>frame</key>
				<string>{{2006,368},{77,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,41}</string>
			</dict>
			<key>image/fish29/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2006,447},{77,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,41}</string>
			</dict>
			<key>image/fish29/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2006,526},{77,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,41}</string>
			</dict>
			<key>image/fish29/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{2006,605},{77,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,41}</string>
			</dict>
			<key>image/fish29/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{2006,684},{77,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,41}</string>
			</dict>
			<key>image/fish29/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1146,713},{77,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,41}</string>
			</dict>
			<key>image/fish29/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1225,713},{77,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,41}</string>
			</dict>
			<key>image/fish29/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1146,756},{77,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,41}</string>
			</dict>
			<key>image/fish29/8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1225,792},{77,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,41}</string>
			</dict>
			<key>image/fish26/0.png</key>
			<dict>
				<key>frame</key>
				<string>{{555,1826},{215,211}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{215,211}</string>
			</dict>
			<key>image/fish26/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1544,1361},{215,211}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{215,211}</string>
			</dict>
			<key>image/fish26/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1757,1361},{215,211}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{215,211}</string>
			</dict>
			<key>image/fish26/11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1757,1574},{215,211}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{215,211}</string>
			</dict>
			<key>image/fish26/12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1609,1787},{215,211}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{215,211}</string>
			</dict>
			<key>image/fish26/13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1822,1787},{215,211}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{215,211}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>PlistFish3.png</string>
			<key>realTextureFileName</key>
			<string>PlistFish3.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>