<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>image/guns/Bullet1_Normal_1_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{565,1002},{20,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{20,52}</string>
			</dict>
			<key>image/guns/Bullet1_Normal_2_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{619,1002},{20,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{20,52}</string>
			</dict>
			<key>image/guns/Bullet1_Normal_3_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{673,990},{20,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{20,52}</string>
			</dict>
			<key>image/guns/Bullet1_Normal_4_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{638,888},{20,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{20,52}</string>
			</dict>
			<key>image/guns/Bullet1_Normal_5_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{692,888},{20,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{20,52}</string>
			</dict>
			<key>image/guns/Bullet1_Normal_6_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{748,946},{20,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{20,52}</string>
			</dict>
			<key>image/guns/Bullet1_Specialt_a.png</key>
			<dict>
				<key>frame</key>
				<string>{{565,964},{36,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{36,66}</string>
			</dict>
			<key>image/guns/Bullet1_Specialt_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{612,910},{36,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{36,66}</string>
			</dict>
			<key>image/guns/Bullet2_Normal_1_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{409,964},{50,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,52}</string>
			</dict>
			<key>image/guns/Bullet2_Normal_2_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{456,910},{50,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,52}</string>
			</dict>
			<key>image/guns/Bullet2_Normal_3_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{461,964},{50,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,52}</string>
			</dict>
			<key>image/guns/Bullet2_Normal_4_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{508,910},{50,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,52}</string>
			</dict>
			<key>image/guns/Bullet2_Normal_5_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{513,964},{50,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,52}</string>
			</dict>
			<key>image/guns/Bullet2_Normal_6_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{560,910},{50,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,52}</string>
			</dict>
			<key>image/guns/Bullet2_Specialt_a.png</key>
			<dict>
				<key>frame</key>
				<string>{{774,808},{70,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,66}</string>
			</dict>
			<key>image/guns/Bullet2_Specialt_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{802,880},{70,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,66}</string>
			</dict>
			<key>image/guns/Bullet3_Normal_1_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{78,920},{52,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,52}</string>
			</dict>
			<key>image/guns/Bullet3_Normal_2_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{132,920},{52,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,52}</string>
			</dict>
			<key>image/guns/Bullet3_Normal_3_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{186,920},{52,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,52}</string>
			</dict>
			<key>image/guns/Bullet3_Normal_4_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,920},{52,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,52}</string>
			</dict>
			<key>image/guns/Bullet3_Normal_5_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{294,920},{52,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,52}</string>
			</dict>
			<key>image/guns/Bullet3_Normal_6_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{348,910},{52,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,52}</string>
			</dict>
			<key>image/guns/Bullet3_Specialt_a.png</key>
			<dict>
				<key>frame</key>
				<string>{{638,808},{78,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,66}</string>
			</dict>
			<key>image/guns/Bullet3_Specialt_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{706,808},{78,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,66}</string>
			</dict>
			<key>image/guns/gold_coin_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{355,964},{52,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,52}</string>
			</dict>
			<key>image/guns/gold_coin_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{139,974},{52,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,48}</string>
			</dict>
			<key>image/guns/gold_coin_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{680,910},{52,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,36}</string>
			</dict>
			<key>image/guns/gold_coin_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{193,974},{52,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,48}</string>
			</dict>
			<key>image/guns/gold_coin_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{734,910},{52,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,34}</string>
			</dict>
			<key>image/guns/gold_coin_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{748,968},{52,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,16}</string>
			</dict>
			<key>image/guns/gold_coin_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{694,948},{52,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,36}</string>
			</dict>
			<key>image/guns/gold_coin_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{247,974},{52,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,48}</string>
			</dict>
			<key>image/guns/gold_coin_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,910},{52,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,52}</string>
			</dict>
			<key>image/guns/gold_coin_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{301,974},{52,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,48}</string>
			</dict>
			<key>image/guns/gold_coin_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{727,986},{52,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,34}</string>
			</dict>
			<key>image/guns/gold_coin_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{781,986},{52,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,16}</string>
			</dict>
			<key>image/guns/gun_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{418,808},{100,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,114}</string>
			</dict>
			<key>image/guns/gun_1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{78,808},{108,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,110}</string>
			</dict>
			<key>image/guns/gun_2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{534,808},{100,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,102}</string>
			</dict>
			<key>image/guns/gun_2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{784,270},{108,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{108,106}</string>
			</dict>
			<key>image/guns/gun_3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{298,808},{100,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,118}</string>
			</dict>
			<key>image/guns/gun_3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{188,808},{108,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,110}</string>
			</dict>
			<key>image/guns/gunPlatformButtom.png</key>
			<dict>
				<key>frame</key>
				<string>{{63,977},{74,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,33}</string>
			</dict>
			<key>image/guns/gunPlatformCenter.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,808},{167,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{167,75}</string>
			</dict>
			<key>image/net/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{267,259}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{267,259}</string>
			</dict>
			<key>image/net/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,270},{267,259}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{267,259}</string>
			</dict>
			<key>image/net/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,539},{267,259}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{267,259}</string>
			</dict>
			<key>image/net/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{262,1},{267,259}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{267,259}</string>
			</dict>
			<key>image/net/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{262,270},{267,259}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{267,259}</string>
			</dict>
			<key>image/net/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{262,539},{267,259}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{267,259}</string>
			</dict>
			<key>image/net/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{523,1},{267,259}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{267,259}</string>
			</dict>
			<key>image/net/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{523,270},{267,259}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{267,259}</string>
			</dict>
			<key>image/net/8.png</key>
			<dict>
				<key>frame</key>
				<string>{{523,539},{267,259}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{267,259}</string>
			</dict>
			<key>image/net/9.png</key>
			<dict>
				<key>frame</key>
				<string>{{784,1},{267,259}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{267,259}</string>
			</dict>
			<key>image/guns/add.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,977},{41,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{41,60}</string>
			</dict>
			<key>image/guns/subtract.png</key>
			<dict>
				<key>frame</key>
				<string>{{633,948},{40,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{40,59}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>PlistFish8.png</string>
			<key>realTextureFileName</key>
			<string>PlistFish8.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>