<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>image/fish28/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{452,1},{449,468}}</string>
				<key>offset</key>
				<string>{0,6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{449,480}</string>
			</dict>
			<key>image/fish28/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1391,1},{449,464}}</string>
				<key>offset</key>
				<string>{0,8}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{449,480}</string>
			</dict>
			<key>image/fish28/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{452,917},{449,461}}</string>
				<key>offset</key>
				<string>{0,10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{449,480}</string>
			</dict>
			<key>image/fish28/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{903,452},{449,460}}</string>
				<key>offset</key>
				<string>{0,10}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{449,480}</string>
			</dict>
			<key>image/fish28/8.png</key>
			<dict>
				<key>frame</key>
				<string>{{452,1380},{449,461}}</string>
				<key>offset</key>
				<string>{0,10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{449,480}</string>
			</dict>
			<key>image/fish28/9.png</key>
			<dict>
				<key>frame</key>
				<string>{{452,452},{449,463}}</string>
				<key>offset</key>
				<string>{0,9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{449,480}</string>
			</dict>
			<key>image/fish28/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{922,1},{449,467}}</string>
				<key>offset</key>
				<string>{0,7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{449,480}</string>
			</dict>
			<key>image/fish28/11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1437},{449,470}}</string>
				<key>offset</key>
				<string>{0,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{449,480}</string>
			</dict>
			<key>image/fish28/12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,961},{449,474}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{449,480}</string>
			</dict>
			<key>image/fish28/13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,482},{449,477}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{449,480}</string>
			</dict>
			<key>image/fish28/14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{449,479}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{449,480}</string>
			</dict>
			<key>image/start/roomicon_roomlist_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1750,452},{296,407}}</string>
				<key>offset</key>
				<string>{-1,-19}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,460}</string>
			</dict>
			<key>image/start/roomicon_roomlist_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1674,1222},{303,410}}</string>
				<key>offset</key>
				<string>{-4,-18}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,460}</string>
			</dict>
			<key>image/particle/byself0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1909},{93,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,95}</string>
			</dict>
			<key>image/particle/byself1.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,1909},{93,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,95}</string>
			</dict>
			<key>image/particle/lock0.png</key>
			<dict>
				<key>frame</key>
				<string>{{191,1909},{93,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,95}</string>
			</dict>
			<key>image/particle/lock1.png</key>
			<dict>
				<key>frame</key>
				<string>{{286,1909},{93,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,95}</string>
			</dict>
			<key>image/particle/speed_fast.png</key>
			<dict>
				<key>frame</key>
				<string>{{381,1909},{84,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>image/particle/speed_slow.png</key>
			<dict>
				<key>frame</key>
				<string>{{1857,1},{84,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>image/fish30/0.png</key>
			<dict>
				<key>frame</key>
				<string>{{903,903},{382,384}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{382,384}</string>
			</dict>
			<key>image/fish30/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1365,452},{383,383}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{384,384}</string>
			</dict>
			<key>image/fish30/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{903,1287},{380,383}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{380,384}</string>
			</dict>
			<key>image/fish30/11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1365,837},{383,383}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{384,384}</string>
			</dict>
			<key>image/fish30/12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1289,1222},{383,381}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{384,382}</string>
			</dict>
			<key>image/fish30/13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1288,1605},{380,383}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{380,384}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>PlistFish7.png</string>
			<key>realTextureFileName</key>
			<string>PlistFish7.png</string>
			<key>size</key>
			<string>{2047,2005}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2047</integer>
			<key>height</key>
			<integer>2005</integer>
		</dict>
	</dict>
</plist>