<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>image/fish30/14.png</key>
			<dict>
				<key>frame</key>
				<string>{{886,1},{382,384}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{382,384}</string>
			</dict>
			<key>image/fish30/15.png</key>
			<dict>
				<key>frame</key>
				<string>{{500,387},{382,380}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{382,380}</string>
			</dict>
			<key>image/fish30/16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,389},{384,384}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{384,384}</string>
			</dict>
			<key>image/fish30/17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1272,1},{384,382}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{384,382}</string>
			</dict>
			<key>image/fish30/18.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,775},{384,384}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{384,384}</string>
			</dict>
			<key>image/fish30/19.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1161},{384,384}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{384,384}</string>
			</dict>
			<key>image/fish30/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1272,385},{380,382}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{380,382}</string>
			</dict>
			<key>image/fish30/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{384,386}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{384,386}</string>
			</dict>
			<key>image/fish30/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1547},{384,384}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{384,384}</string>
			</dict>
			<key>image/fish30/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1656,385},{380,382}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{380,382}</string>
			</dict>
			<key>image/fish30/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{500,1},{384,384}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{384,384}</string>
			</dict>
			<key>image/fish30/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1658,1},{382,384}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{382,384}</string>
			</dict>
			<key>image/fish30/8.png</key>
			<dict>
				<key>frame</key>
				<string>{{886,385},{382,384}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{382,384}</string>
			</dict>
			<key>image/fish30/9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1272,767},{382,380}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{382,380}</string>
			</dict>
			<key>image/fish31/0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1813,767},{469,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{469,155}</string>
			</dict>
			<key>image/fish31/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{864,1730},{475,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{475,147}</string>
			</dict>
			<key>image/fish31/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,1730},{475,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{475,151}</string>
			</dict>
			<key>image/fish31/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1138,1879},{479,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{479,141}</string>
			</dict>
			<key>image/fish31/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1656,767},{473,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{473,155}</string>
			</dict>
			<key>image/fish31/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1654,1242},{483,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{483,137}</string>
			</dict>
			<key>image/fish31/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1813,1238},{469,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{469,155}</string>
			</dict>
			<key>image/fish31/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1341,1730},{485,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{485,139}</string>
			</dict>
			<key>image/fish31/8.png</key>
			<dict>
				<key>frame</key>
				<string>{{653,1883},{483,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{483,147}</string>
			</dict>
			<key>image/fish32/0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1828,1730},{244,209}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{244,209}</string>
			</dict>
			<key>image/fish32/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{677,769},{240,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{240,207}</string>
			</dict>
			<key>image/fish32/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{466,799},{242,209}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{242,209}</string>
			</dict>
			<key>image/fish32/11.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,1285},{244,209}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{244,209}</string>
			</dict>
			<key>image/fish32/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{886,769},{234,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{234,205}</string>
			</dict>
			<key>image/fish32/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1339,1285},{230,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,207}</string>
			</dict>
			<key>image/fish32/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1111,1149},{226,211}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{226,211}</string>
			</dict>
			<key>image/fish32/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{875,1220},{226,211}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{226,211}</string>
			</dict>
			<key>image/fish32/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{598,1382},{226,211}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{226,211}</string>
			</dict>
			<key>image/fish32/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1103,1362},{230,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,207}</string>
			</dict>
			<key>image/fish32/8.png</key>
			<dict>
				<key>frame</key>
				<string>{{875,1011},{234,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{234,207}</string>
			</dict>
			<key>image/fish32/9.png</key>
			<dict>
				<key>frame</key>
				<string>{{664,1142},{238,209}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{238,209}</string>
			</dict>
			<key>image/fish33/0.png</key>
			<dict>
				<key>frame</key>
				<string>{{585,1883},{43,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{43,66}</string>
			</dict>
			<key>image/fish33/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,878},{41,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{41,66}</string>
			</dict>
			<key>image/fish33/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{579,1236},{43,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{43,66}</string>
			</dict>
			<key>image/fish33/11.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,1883},{45,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{45,66}</string>
			</dict>
			<key>image/fish33/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1619,1149},{35,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{35,66}</string>
			</dict>
			<key>image/fish33/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{466,663},{31,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,66}</string>
			</dict>
			<key>image/fish33/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{466,731},{31,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,66}</string>
			</dict>
			<key>image/fish33/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{488,1252},{31,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{31,66}</string>
			</dict>
			<key>image/fish33/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1619,1217},{33,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,66}</string>
			</dict>
			<key>image/fish33/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,1091},{37,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{37,66}</string>
			</dict>
			<key>image/fish33/8.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,1008},{39,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{39,66}</string>
			</dict>
			<key>image/fish33/9.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,921},{41,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{41,66}</string>
			</dict>
			<key>image/fish34/0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1724,1988},{52,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,63}</string>
			</dict>
			<key>image/fish34/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1932,1976},{52,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,63}</string>
			</dict>
			<key>image/fish34/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,826},{50,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,63}</string>
			</dict>
			<key>image/fish34/11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1986,1976},{52,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,63}</string>
			</dict>
			<key>image/fish34/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{455,1883},{46,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{46,63}</string>
			</dict>
			<key>image/fish34/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{536,1108},{36,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{36,63}</string>
			</dict>
			<key>image/fish34/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{601,1108},{32,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{32,63}</string>
			</dict>
			<key>image/fish34/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{576,1043},{34,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,63}</string>
			</dict>
			<key>image/fish34/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{536,1043},{38,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,63}</string>
			</dict>
			<key>image/fish34/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,1049},{40,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{40,63}</string>
			</dict>
			<key>image/fish34/8.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,964},{42,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,63}</string>
			</dict>
			<key>image/fish34/9.png</key>
			<dict>
				<key>frame</key>
				<string>{{520,1883},{46,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{46,63}</string>
			</dict>
			<key>image/fish35/0.png</key>
			<dict>
				<key>frame</key>
				<string>{{488,1149},{101,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{101,89}</string>
			</dict>
			<key>image/fish35/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1724,1871},{115,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{115,97}</string>
			</dict>
			<key>image/fish35/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{455,1043},{79,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{79,87}</string>
			</dict>
			<key>image/fish35/11.png</key>
			<dict>
				<key>frame</key>
				<string>{{579,1149},{85,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{85,83}</string>
			</dict>
			<key>image/fish35/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{500,1931},{119,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{119,99}</string>
			</dict>
			<key>image/fish35/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,1149},{111,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{111,99}</string>
			</dict>
			<key>image/fish35/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1619,1871},{93,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,99}</string>
			</dict>
			<key>image/fish35/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1970,1419},{71,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,101}</string>
			</dict>
			<key>image/fish35/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1970,1621},{55,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,107}</string>
			</dict>
			<key>image/fish35/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1823,1976},{49,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{49,107}</string>
			</dict>
			<key>image/fish35/8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1619,1976},{57,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,103}</string>
			</dict>
			<key>image/fish35/9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1970,1522},{69,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,97}</string>
			</dict>
			<key>image/fish36/0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1970,928},{71,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,165}</string>
			</dict>
			<key>image/fish36/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1970,1256},{65,161}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,161}</string>
			</dict>
			<key>image/fish36/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1933},{87,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{87,163}</string>
			</dict>
			<key>image/fish36/11.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,329},{81,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{81,165}</string>
			</dict>
			<key>image/fish36/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1970,1095},{71,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,159}</string>
			</dict>
			<key>image/fish36/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1970,767},{75,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,159}</string>
			</dict>
			<key>image/fish36/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,663},{77,161}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,161}</string>
			</dict>
			<key>image/fish36/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,496},{81,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{81,165}</string>
			</dict>
			<key>image/fish36/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{166,1933},{85,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{85,165}</string>
			</dict>
			<key>image/fish36/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{333,1933},{85,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{85,165}</string>
			</dict>
			<key>image/fish36/8.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,164},{85,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,163}</string>
			</dict>
			<key>image/fish36/9.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,1},{87,161}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,161}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>PlistFish9.png</string>
			<key>realTextureFileName</key>
			<string>PlistFish9.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>