<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>image/fish27/0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{584,241}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{584,241}</string>
			</dict>
			<key>image/fish27/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{587,1},{584,241}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{584,241}</string>
			</dict>
			<key>image/fish27/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1173,1},{584,241}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{584,241}</string>
			</dict>
			<key>image/fish27/11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1759,1},{584,241}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{584,241}</string>
			</dict>
			<key>image/fish27/12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,587},{584,241}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{584,241}</string>
			</dict>
			<key>image/fish27/13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,244},{584,241}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{584,241}</string>
			</dict>
			<key>image/fish27/14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1173},{584,241}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{584,241}</string>
			</dict>
			<key>image/fish27/15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1759},{584,241}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{584,241}</string>
			</dict>
			<key>image/fish27/16.png</key>
			<dict>
				<key>frame</key>
				<string>{{244,487},{584,241}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{584,241}</string>
			</dict>
			<key>image/fish27/17.png</key>
			<dict>
				<key>frame</key>
				<string>{{244,1073},{584,241}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{584,241}</string>
			</dict>
			<key>image/fish27/18.png</key>
			<dict>
				<key>frame</key>
				<string>{{487,487},{584,241}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{584,241}</string>
			</dict>
			<key>image/fish27/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{587,244},{584,241}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{584,241}</string>
			</dict>
			<key>image/fish27/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1173,244},{584,241}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{584,241}</string>
			</dict>
			<key>image/fish27/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1073,487},{584,241}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{584,241}</string>
			</dict>
			<key>image/fish27/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1659,587},{584,241}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{584,241}</string>
			</dict>
			<key>image/fish27/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{487,1173},{584,241}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{584,241}</string>
			</dict>
			<key>image/fish27/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{587,1759},{584,241}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{584,241}</string>
			</dict>
			<key>image/fish27/8.png</key>
			<dict>
				<key>frame</key>
				<string>{{487,730},{584,241}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{584,241}</string>
			</dict>
			<key>image/fish27/9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1073,730},{584,241}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{584,241}</string>
			</dict>
			<key>image/fish25/0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1173,973},{566,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{566,207}</string>
			</dict>
			<key>image/fish25/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{730,1541},{566,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{566,207}</string>
			</dict>
			<key>image/fish25/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{730,973},{566,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{566,207}</string>
			</dict>
			<key>image/fish25/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{939,973},{566,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{566,207}</string>
			</dict>
			<key>image/fish25/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1173,1750},{566,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{566,207}</string>
			</dict>
			<key>image/fish25/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1298,1541},{566,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{566,207}</string>
			</dict>
			<key>image/fish25/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1382,973},{566,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{566,207}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>PlistFish5.png</string>
			<key>realTextureFileName</key>
			<string>PlistFish5.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>