<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>image/fish30/14.png</key>
			<dict>
				<key>frame</key>
				<string>{{841,1},{382,384}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{382,384}</string>
			</dict>
			<key>image/fish30/15.png</key>
			<dict>
				<key>frame</key>
				<string>{{455,387},{382,380}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{382,380}</string>
			</dict>
			<key>image/fish30/16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,389},{384,384}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{384,384}</string>
			</dict>
			<key>image/fish30/17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1227,1},{384,382}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{384,382}</string>
			</dict>
			<key>image/fish30/18.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,775},{384,384}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{384,384}</string>
			</dict>
			<key>image/fish30/19.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1161},{384,384}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{384,384}</string>
			</dict>
			<key>image/fish30/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1227,385},{380,382}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{380,382}</string>
			</dict>
			<key>image/fish30/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{384,386}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{384,386}</string>
			</dict>
			<key>image/fish30/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1547},{384,384}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{384,384}</string>
			</dict>
			<key>image/fish30/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1611,385},{380,382}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{380,382}</string>
			</dict>
			<key>image/fish30/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{455,1},{384,384}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{384,384}</string>
			</dict>
			<key>image/fish30/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1613,1},{382,384}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{382,384}</string>
			</dict>
			<key>image/fish30/8.png</key>
			<dict>
				<key>frame</key>
				<string>{{841,385},{382,384}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{382,384}</string>
			</dict>
			<key>image/fish30/9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1227,767},{382,380}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{382,380}</string>
			</dict>
			<key>image/fish31/0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1768,767},{469,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{469,155}</string>
			</dict>
			<key>image/fish31/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1349,1761},{475,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{475,147}</string>
			</dict>
			<key>image/fish31/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,1761},{475,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{475,151}</string>
			</dict>
			<key>image/fish31/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,1242},{479,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{479,141}</string>
			</dict>
			<key>image/fish31/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1611,767},{473,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{473,155}</string>
			</dict>
			<key>image/fish31/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{952,1910},{483,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{483,137}</string>
			</dict>
			<key>image/fish31/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1768,1238},{469,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{469,155}</string>
			</dict>
			<key>image/fish31/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{452,769},{485,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{485,139}</string>
			</dict>
			<key>image/fish31/8.png</key>
			<dict>
				<key>frame</key>
				<string>{{864,1761},{483,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{483,147}</string>
			</dict>
			<key>image/fish32/0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1826,1761},{244,209}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{244,209}</string>
			</dict>
			<key>image/fish32/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{873,980},{240,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{240,207}</string>
			</dict>
			<key>image/fish32/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{939,769},{242,209}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{242,209}</string>
			</dict>
			<key>image/fish32/11.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,910},{244,209}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{244,209}</string>
			</dict>
			<key>image/fish32/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1216,1149},{234,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{234,205}</string>
			</dict>
			<key>image/fish32/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1085,1356},{230,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{230,207}</string>
			</dict>
			<key>image/fish32/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1533,1248},{226,211}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{226,211}</string>
			</dict>
			<key>image/fish32/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{857,1189},{226,211}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{226,211}</string>
			</dict>
			<key>image/fish32/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{530,1330},{226,211}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{226,211}</string>
			</dict>
			<key>image/fish32/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1294,1356},{230,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,207}</string>
			</dict>
			<key>image/fish32/8.png</key>
			<dict>
				<key>frame</key>
				<string>{{548,1121},{234,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{234,207}</string>
			</dict>
			<key>image/fish32/9.png</key>
			<dict>
				<key>frame</key>
				<string>{{633,910},{238,209}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{238,209}</string>
			</dict>
			<key>image/fish33/0.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,326},{43,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{43,66}</string>
			</dict>
			<key>image/fish33/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1999,1},{41,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,66}</string>
			</dict>
			<key>image/fish33/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,371},{43,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{43,66}</string>
			</dict>
			<key>image/fish33/11.png</key>
			<dict>
				<key>frame</key>
				<string>{{175,1996},{45,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{45,66}</string>
			</dict>
			<key>image/fish33/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,495},{35,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{35,66}</string>
			</dict>
			<key>image/fish33/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,641},{31,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{31,66}</string>
			</dict>
			<key>image/fish33/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,674},{31,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{31,66}</string>
			</dict>
			<key>image/fish33/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,707},{31,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{31,66}</string>
			</dict>
			<key>image/fish33/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,570},{33,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{33,66}</string>
			</dict>
			<key>image/fish33/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,416},{37,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{37,66}</string>
			</dict>
			<key>image/fish33/8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1999,264},{39,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,66}</string>
			</dict>
			<key>image/fish33/9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1999,69},{41,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,66}</string>
			</dict>
			<key>image/fish34/0.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,164},{52,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,63}</string>
			</dict>
			<key>image/fish34/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,218},{52,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,63}</string>
			</dict>
			<key>image/fish34/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{110,1996},{50,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,63}</string>
			</dict>
			<key>image/fish34/11.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,272},{52,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,63}</string>
			</dict>
			<key>image/fish34/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,1996},{46,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{46,63}</string>
			</dict>
			<key>image/fish34/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,532},{36,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{36,63}</string>
			</dict>
			<key>image/fish34/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,740},{32,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{32,63}</string>
			</dict>
			<key>image/fish34/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,605},{34,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{34,63}</string>
			</dict>
			<key>image/fish34/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,455},{38,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{38,63}</string>
			</dict>
			<key>image/fish34/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1999,332},{40,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,63}</string>
			</dict>
			<key>image/fish34/8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1999,137},{42,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,63}</string>
			</dict>
			<key>image/fish34/9.png</key>
			<dict>
				<key>frame</key>
				<string>{{308,1996},{46,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{46,63}</string>
			</dict>
			<key>image/fish35/0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1115,1188},{101,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{101,89}</string>
			</dict>
			<key>image/fish35/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1699,1910},{115,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,97}</string>
			</dict>
			<key>image/fish35/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1452,1234},{79,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{79,87}</string>
			</dict>
			<key>image/fish35/11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1452,1149},{85,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,83}</string>
			</dict>
			<key>image/fish35/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1598,1910},{119,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{119,99}</string>
			</dict>
			<key>image/fish35/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1115,980},{111,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{111,99}</string>
			</dict>
			<key>image/fish35/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1115,1093},{93,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{93,99}</string>
			</dict>
			<key>image/fish35/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{784,1121},{71,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,101}</string>
			</dict>
			<key>image/fish35/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{346,1933},{55,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,107}</string>
			</dict>
			<key>image/fish35/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1996},{49,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{49,107}</string>
			</dict>
			<key>image/fish35/8.png</key>
			<dict>
				<key>frame</key>
				<string>{{373,1990},{57,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,103}</string>
			</dict>
			<key>image/fish35/9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1539,1149},{69,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,97}</string>
			</dict>
			<key>image/fish36/0.png</key>
			<dict>
				<key>frame</key>
				<string>{{455,1914},{71,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{71,165}</string>
			</dict>
			<key>image/fish36/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,1},{65,161}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,161}</string>
			</dict>
			<key>image/fish36/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1925,767},{87,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,163}</string>
			</dict>
			<key>image/fish36/11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1925,1594},{81,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{81,165}</string>
			</dict>
			<key>image/fish36/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,1149},{71,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{71,159}</string>
			</dict>
			<key>image/fish36/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1437,1910},{75,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,159}</string>
			</dict>
			<key>image/fish36/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{789,1914},{77,161}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,161}</string>
			</dict>
			<key>image/fish36/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{622,1914},{81,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{81,165}</string>
			</dict>
			<key>image/fish36/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1925,932},{85,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,165}</string>
			</dict>
			<key>image/fish36/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1925,1099},{85,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,165}</string>
			</dict>
			<key>image/fish36/8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1925,1429},{85,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,163}</string>
			</dict>
			<key>image/fish36/9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1925,1266},{87,161}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,161}</string>
			</dict>
			<key>image/start/Express.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1933},{343,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{343,61}</string>
			</dict>
			<key>image/start/GameLayer_top_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1999,202},{60,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,44}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>PlistFish9.png</string>
			<key>realTextureFileName</key>
			<string>PlistFish9.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>