<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>image/fish1/0.png</key>
			<dict>
				<key>frame</key>
				<string>{{955,217},{52,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,24}</string>
			</dict>
			<key>image/fish1/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{355,229},{52,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,24}</string>
			</dict>
			<key>image/fish1/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{409,229},{52,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,24}</string>
			</dict>
			<key>image/fish1/11.png</key>
			<dict>
				<key>frame</key>
				<string>{{463,229},{52,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,24}</string>
			</dict>
			<key>image/fish1/12.png</key>
			<dict>
				<key>frame</key>
				<string>{{517,229},{52,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,24}</string>
			</dict>
			<key>image/fish1/13.png</key>
			<dict>
				<key>frame</key>
				<string>{{571,229},{52,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,24}</string>
			</dict>
			<key>image/fish1/14.png</key>
			<dict>
				<key>frame</key>
				<string>{{625,229},{52,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,24}</string>
			</dict>
			<key>image/fish1/15.png</key>
			<dict>
				<key>frame</key>
				<string>{{679,229},{52,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,24}</string>
			</dict>
			<key>image/fish1/16.png</key>
			<dict>
				<key>frame</key>
				<string>{{733,229},{52,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,24}</string>
			</dict>
			<key>image/fish1/17.png</key>
			<dict>
				<key>frame</key>
				<string>{{787,229},{52,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,24}</string>
			</dict>
			<key>image/fish1/18.png</key>
			<dict>
				<key>frame</key>
				<string>{{841,243},{52,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,24}</string>
			</dict>
			<key>image/fish1/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{895,243},{52,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,24}</string>
			</dict>
			<key>image/fish1/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{949,243},{52,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,24}</string>
			</dict>
			<key>image/fish1/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{355,255},{52,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,24}</string>
			</dict>
			<key>image/fish1/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{409,255},{52,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,24}</string>
			</dict>
			<key>image/fish1/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{463,255},{52,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,24}</string>
			</dict>
			<key>image/fish1/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{517,255},{52,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,24}</string>
			</dict>
			<key>image/fish1/8.png</key>
			<dict>
				<key>frame</key>
				<string>{{571,255},{52,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,24}</string>
			</dict>
			<key>image/fish1/9.png</key>
			<dict>
				<key>frame</key>
				<string>{{625,255},{52,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,24}</string>
			</dict>
			<key>image/fish2/0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,969},{70,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,31}</string>
			</dict>
			<key>image/fish2/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{73,969},{70,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,31}</string>
			</dict>
			<key>image/fish2/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{955,1},{70,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,31}</string>
			</dict>
			<key>image/fish2/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{988,1},{70,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,31}</string>
			</dict>
			<key>image/fish2/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{955,73},{70,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,31}</string>
			</dict>
			<key>image/fish2/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{988,73},{70,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,31}</string>
			</dict>
			<key>image/fish2/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{955,145},{70,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,31}</string>
			</dict>
			<key>image/fish2/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{988,145},{70,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,31}</string>
			</dict>
			<key>image/fish3/0.png</key>
			<dict>
				<key>frame</key>
				<string>{{115,115},{112,238}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,238}</string>
			</dict>
			<key>image/fish3/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{355,115},{112,238}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,238}</string>
			</dict>
			<key>image/fish3/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{595,115},{112,238}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,238}</string>
			</dict>
			<key>image/fish3/11.png</key>
			<dict>
				<key>frame</key>
				<string>{{115,229},{112,238}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,238}</string>
			</dict>
			<key>image/fish3/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{112,240}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,240}</string>
			</dict>
			<key>image/fish3/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,243},{112,240}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,240}</string>
			</dict>
			<key>image/fish3/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,485},{112,240}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,240}</string>
			</dict>
			<key>image/fish3/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,727},{112,240}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,240}</string>
			</dict>
			<key>image/fish3/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{115,1},{112,240}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,240}</string>
			</dict>
			<key>image/fish3/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{357,1},{112,240}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,240}</string>
			</dict>
			<key>image/fish3/8.png</key>
			<dict>
				<key>frame</key>
				<string>{{599,1},{112,240}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,240}</string>
			</dict>
			<key>image/fish3/9.png</key>
			<dict>
				<key>frame</key>
				<string>{{841,1},{112,240}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,240}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>PlistFish1.png</string>
			<key>realTextureFileName</key>
			<string>PlistFish1.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>