<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>image/fish25/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{452,1},{566,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{566,207}</string>
			</dict>
			<key>image/fish25/8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1020,1},{566,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{566,207}</string>
			</dict>
			<key>image/fish25/9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1588,1},{566,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{566,207}</string>
			</dict>
			<key>image/fish25/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1797,1},{566,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{566,207}</string>
			</dict>
			<key>image/fish25/11.png</key>
			<dict>
				<key>frame</key>
				<string>{{452,210},{566,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{566,207}</string>
			</dict>
			<key>image/fish25/12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1020,210},{566,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{566,207}</string>
			</dict>
			<key>image/fish25/13.png</key>
			<dict>
				<key>frame</key>
				<string>{{452,419},{566,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{566,207}</string>
			</dict>
			<key>image/fish25/14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1020,419},{566,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{566,207}</string>
			</dict>
			<key>image/fish25/15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1588,569},{566,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{566,207}</string>
			</dict>
			<key>image/fish25/16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1797,569},{566,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{566,207}</string>
			</dict>
			<key>image/fish25/17.png</key>
			<dict>
				<key>frame</key>
				<string>{{452,1137},{566,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{566,207}</string>
			</dict>
			<key>image/fish25/18.png</key>
			<dict>
				<key>frame</key>
				<string>{{452,1705},{566,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{566,207}</string>
			</dict>
			<key>image/fish25/19.png</key>
			<dict>
				<key>frame</key>
				<string>{{452,628},{566,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{566,207}</string>
			</dict>
			<key>image/fish25/20.png</key>
			<dict>
				<key>frame</key>
				<string>{{452,837},{566,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{566,207}</string>
			</dict>
			<key>image/fish25/21.png</key>
			<dict>
				<key>frame</key>
				<string>{{661,1046},{566,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{566,207}</string>
			</dict>
			<key>image/fish25/22.png</key>
			<dict>
				<key>frame</key>
				<string>{{870,1046},{566,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{566,207}</string>
			</dict>
			<key>image/fish25/23.png</key>
			<dict>
				<key>frame</key>
				<string>{{1020,628},{566,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{566,207}</string>
			</dict>
			<key>image/fish25/24.png</key>
			<dict>
				<key>frame</key>
				<string>{{1020,837},{566,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{566,207}</string>
			</dict>
			<key>image/fish25/25.png</key>
			<dict>
				<key>frame</key>
				<string>{{1020,1614},{566,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{566,207}</string>
			</dict>
			<key>image/fish25/26.png</key>
			<dict>
				<key>frame</key>
				<string>{{1020,1823},{566,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{566,207}</string>
			</dict>
			<key>image/fish25/27.png</key>
			<dict>
				<key>frame</key>
				<string>{{1079,1046},{566,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{566,207}</string>
			</dict>
			<key>image/fish25/28.png</key>
			<dict>
				<key>frame</key>
				<string>{{1288,1046},{566,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{566,207}</string>
			</dict>
			<key>image/fish25/29.png</key>
			<dict>
				<key>frame</key>
				<string>{{1588,1137},{566,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{566,207}</string>
			</dict>
			<key>image/fish28/0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{449,480}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{449,480}</string>
			</dict>
			<key>image/fish28/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,483},{449,480}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{449,480}</string>
			</dict>
			<key>image/fish28/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,965},{449,480}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{449,480}</string>
			</dict>
			<key>image/fish28/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1447},{449,480}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{449,480}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>PlistFish6.png</string>
			<key>realTextureFileName</key>
			<string>PlistFish6.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>