<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>image/fish26/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{700,1597},{215,211}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{215,211}</string>
			</dict>
			<key>image/fish26/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{805,1814},{215,211}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{215,211}</string>
			</dict>
			<key>image/fish26/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{913,1597},{215,211}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{215,211}</string>
			</dict>
			<key>image/fish26/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1018,1814},{215,211}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{215,211}</string>
			</dict>
			<key>image/fish26/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1126,1597},{215,211}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{215,211}</string>
			</dict>
			<key>image/fish26/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1231,1814},{215,211}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{215,211}</string>
			</dict>
			<key>image/fish26/8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1339,1575},{215,211}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{215,211}</string>
			</dict>
			<key>image/fish26/9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1444,1792},{215,211}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{215,211}</string>
			</dict>
			<key>image/fish23/0.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,614},{297,275}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{297,275}</string>
			</dict>
			<key>image/fish23/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,913},{297,275}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{297,275}</string>
			</dict>
			<key>image/fish23/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,1212},{297,275}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{297,275}</string>
			</dict>
			<key>image/fish23/11.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,1511},{297,275}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{297,275}</string>
			</dict>
			<key>image/fish23/12.png</key>
			<dict>
				<key>frame</key>
				<string>{{700,423},{297,275}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{297,275}</string>
			</dict>
			<key>image/fish23/13.png</key>
			<dict>
				<key>frame</key>
				<string>{{700,700},{297,275}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{297,275}</string>
			</dict>
			<key>image/fish23/14.png</key>
			<dict>
				<key>frame</key>
				<string>{{700,999},{297,275}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{297,275}</string>
			</dict>
			<key>image/fish23/15.png</key>
			<dict>
				<key>frame</key>
				<string>{{700,1298},{297,275}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{297,275}</string>
			</dict>
			<key>image/fish23/16.png</key>
			<dict>
				<key>frame</key>
				<string>{{977,700},{297,275}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{297,275}</string>
			</dict>
			<key>image/fish23/17.png</key>
			<dict>
				<key>frame</key>
				<string>{{999,423},{297,275}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{297,275}</string>
			</dict>
			<key>image/fish23/18.png</key>
			<dict>
				<key>frame</key>
				<string>{{977,999},{297,275}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{297,275}</string>
			</dict>
			<key>image/fish23/19.png</key>
			<dict>
				<key>frame</key>
				<string>{{977,1298},{297,275}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{297,275}</string>
			</dict>
			<key>image/fish23/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1254,700},{297,275}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{297,275}</string>
			</dict>
			<key>image/fish23/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1298,423},{297,275}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{297,275}</string>
			</dict>
			<key>image/fish23/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1254,977},{297,275}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{297,275}</string>
			</dict>
			<key>image/fish23/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1254,1276},{297,275}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{297,275}</string>
			</dict>
			<key>image/fish23/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1531,977},{297,275}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{297,275}</string>
			</dict>
			<key>image/fish23/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1553,700},{297,275}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{297,275}</string>
			</dict>
			<key>image/fish23/8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1597,423},{297,275}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{297,275}</string>
			</dict>
			<key>image/fish23/9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1531,1254},{297,275}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{297,275}</string>
			</dict>
			<key>image/fish24/0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{400,209}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,209}</string>
			</dict>
			<key>image/fish24/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{403,1},{400,209}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,209}</string>
			</dict>
			<key>image/fish24/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{805,1},{400,209}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,209}</string>
			</dict>
			<key>image/fish24/11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1207,1},{400,209}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,209}</string>
			</dict>
			<key>image/fish24/12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1609,1},{400,209}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,209}</string>
			</dict>
			<key>image/fish24/13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,212},{400,209}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{400,209}</string>
			</dict>
			<key>image/fish24/14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,614},{400,209}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{400,209}</string>
			</dict>
			<key>image/fish24/15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1016},{400,209}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{400,209}</string>
			</dict>
			<key>image/fish24/16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1418},{400,209}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{400,209}</string>
			</dict>
			<key>image/fish24/17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1820},{400,209}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,209}</string>
			</dict>
			<key>image/fish24/18.png</key>
			<dict>
				<key>frame</key>
				<string>{{212,212},{400,209}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{400,209}</string>
			</dict>
			<key>image/fish24/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{212,614},{400,209}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{400,209}</string>
			</dict>
			<key>image/fish24/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{212,1016},{400,209}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{400,209}</string>
			</dict>
			<key>image/fish24/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{212,1418},{400,209}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{400,209}</string>
			</dict>
			<key>image/fish24/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{403,1820},{400,209}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,209}</string>
			</dict>
			<key>image/fish24/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{805,212},{400,209}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,209}</string>
			</dict>
			<key>image/fish24/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,212},{400,209}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{400,209}</string>
			</dict>
			<key>image/fish24/8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1207,212},{400,209}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,209}</string>
			</dict>
			<key>image/fish24/9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1609,212},{400,209}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,209}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>PlistFish4.png</string>
			<key>realTextureFileName</key>
			<string>PlistFish4.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>