<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>image/guns/Bullet1_Normal_1_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,188},{20,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,52}</string>
			</dict>
			<key>image/guns/Bullet1_Normal_2_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{898,105},{20,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{20,52}</string>
			</dict>
			<key>image/guns/Bullet1_Normal_3_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{898,127},{20,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{20,52}</string>
			</dict>
			<key>image/guns/Bullet1_Normal_4_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{952,131},{20,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,52}</string>
			</dict>
			<key>image/guns/Bullet1_Normal_5_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{844,141},{20,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{20,52}</string>
			</dict>
			<key>image/guns/Bullet1_Normal_6_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{898,149},{20,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{20,52}</string>
			</dict>
			<key>image/guns/Bullet1_Specialt_a.png</key>
			<dict>
				<key>frame</key>
				<string>{{987,55},{36,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,66}</string>
			</dict>
			<key>image/guns/Bullet1_Specialt_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{987,123},{36,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,66}</string>
			</dict>
			<key>image/guns/Bullet2_Normal_1_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{736,55},{50,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,52}</string>
			</dict>
			<key>image/guns/Bullet2_Normal_2_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,69},{50,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,52}</string>
			</dict>
			<key>image/guns/Bullet2_Normal_3_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{398,109},{50,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,52}</string>
			</dict>
			<key>image/guns/Bullet2_Normal_4_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{452,109},{50,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,52}</string>
			</dict>
			<key>image/guns/Bullet2_Normal_5_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,69},{50,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,52}</string>
			</dict>
			<key>image/guns/Bullet2_Normal_6_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{620,69},{50,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,52}</string>
			</dict>
			<key>image/guns/Bullet2_Specialt_a.png</key>
			<dict>
				<key>frame</key>
				<string>{{592,1},{70,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,66}</string>
			</dict>
			<key>image/guns/Bullet2_Specialt_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{664,1},{70,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,66}</string>
			</dict>
			<key>image/guns/Bullet3_Normal_1_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{113,78},{52,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,52}</string>
			</dict>
			<key>image/guns/Bullet3_Normal_2_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{113,132},{52,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,52}</string>
			</dict>
			<key>image/guns/Bullet3_Normal_3_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{113,186},{52,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,52}</string>
			</dict>
			<key>image/guns/Bullet3_Normal_4_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{736,1},{52,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,52}</string>
			</dict>
			<key>image/guns/Bullet3_Normal_5_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{790,1},{52,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,52}</string>
			</dict>
			<key>image/guns/Bullet3_Normal_6_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{844,1},{52,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,52}</string>
			</dict>
			<key>image/guns/Bullet3_Specialt_a.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,188},{78,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,66}</string>
			</dict>
			<key>image/guns/Bullet3_Specialt_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,1},{78,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,66}</string>
			</dict>
			<key>image/guns/gold_coin_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{898,1},{52,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,52}</string>
			</dict>
			<key>image/guns/gold_coin_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{674,69},{52,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,48}</string>
			</dict>
			<key>image/guns/gold_coin_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{790,105},{52,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,36}</string>
			</dict>
			<key>image/guns/gold_coin_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{790,55},{52,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,48}</string>
			</dict>
			<key>image/guns/gold_coin_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{674,119},{52,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,34}</string>
			</dict>
			<key>image/guns/gold_coin_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1006,1},{52,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,16}</string>
			</dict>
			<key>image/guns/gold_coin_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{728,107},{52,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,36}</string>
			</dict>
			<key>image/guns/gold_coin_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{844,55},{52,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,48}</string>
			</dict>
			<key>image/guns/gold_coin_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{952,1},{52,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,52}</string>
			</dict>
			<key>image/guns/gold_coin_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{898,55},{52,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,48}</string>
			</dict>
			<key>image/guns/gold_coin_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{844,105},{52,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,34}</string>
			</dict>
			<key>image/guns/gold_coin_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{782,143},{52,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,16}</string>
			</dict>
			<key>image/guns/gun_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,103},{100,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,114}</string>
			</dict>
			<key>image/guns/gun_1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{170,1},{108,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{108,110}</string>
			</dict>
			<key>image/guns/gun_2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{167,111},{100,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,102}</string>
			</dict>
			<key>image/guns/gun_2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,1},{108,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,106}</string>
			</dict>
			<key>image/guns/gun_3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,1},{100,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,118}</string>
			</dict>
			<key>image/guns/gun_3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,78},{108,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{108,110}</string>
			</dict>
			<key>image/guns/gunPlatformButtom.png</key>
			<dict>
				<key>frame</key>
				<string>{{952,55},{74,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,33}</string>
			</dict>
			<key>image/guns/gunPlatformCenter.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{167,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{167,75}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>PlistFish8.png</string>
			<key>realTextureFileName</key>
			<string>PlistFish8.png</string>
			<key>size</key>
			<string>{1024,256}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>256</integer>
		</dict>
	</dict>
</plist>