<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>image/fish10/0.png</key>
			<dict>
				<key>frame</key>
				<string>{{399,611},{62,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{62,82}</string>
			</dict>
			<key>image/fish10/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{483,611},{62,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{62,82}</string>
			</dict>
			<key>image/fish10/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{567,611},{62,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{62,82}</string>
			</dict>
			<key>image/fish10/11.png</key>
			<dict>
				<key>frame</key>
				<string>{{669,941},{62,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{62,82}</string>
			</dict>
			<key>image/fish10/12.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,956},{62,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{62,82}</string>
			</dict>
			<key>image/fish10/13.png</key>
			<dict>
				<key>frame</key>
				<string>{{669,1005},{62,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{62,82}</string>
			</dict>
			<key>image/fish10/14.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,1020},{62,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{62,82}</string>
			</dict>
			<key>image/fish10/15.png</key>
			<dict>
				<key>frame</key>
				<string>{{669,1069},{62,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{62,82}</string>
			</dict>
			<key>image/fish10/16.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,1084},{62,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{62,82}</string>
			</dict>
			<key>image/fish10/17.png</key>
			<dict>
				<key>frame</key>
				<string>{{669,1133},{62,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{62,82}</string>
			</dict>
			<key>image/fish10/18.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,1148},{62,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{62,82}</string>
			</dict>
			<key>image/fish10/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{669,1197},{62,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{62,82}</string>
			</dict>
			<key>image/fish10/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,1212},{62,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{62,82}</string>
			</dict>
			<key>image/fish10/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{669,1261},{62,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{62,82}</string>
			</dict>
			<key>image/fish10/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,1276},{62,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{62,82}</string>
			</dict>
			<key>image/fish10/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{669,1325},{62,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{62,82}</string>
			</dict>
			<key>image/fish10/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,1340},{62,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{62,82}</string>
			</dict>
			<key>image/fish10/8.png</key>
			<dict>
				<key>frame</key>
				<string>{{669,1389},{62,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{62,82}</string>
			</dict>
			<key>image/fish10/9.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,1404},{62,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{62,82}</string>
			</dict>
			<key>image/fish11/0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1992,1},{104,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,42}</string>
			</dict>
			<key>image/fish11/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1992,107},{104,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,42}</string>
			</dict>
			<key>image/fish11/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1992,213},{104,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,42}</string>
			</dict>
			<key>image/fish11/11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1992,319},{104,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,42}</string>
			</dict>
			<key>image/fish11/12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,362},{104,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,42}</string>
			</dict>
			<key>image/fish11/13.png</key>
			<dict>
				<key>frame</key>
				<string>{{107,362},{104,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,42}</string>
			</dict>
			<key>image/fish11/14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,2004},{104,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,42}</string>
			</dict>
			<key>image/fish11/15.png</key>
			<dict>
				<key>frame</key>
				<string>{{107,2004},{104,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,42}</string>
			</dict>
			<key>image/fish11/16.png</key>
			<dict>
				<key>frame</key>
				<string>{{213,2004},{104,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,42}</string>
			</dict>
			<key>image/fish11/17.png</key>
			<dict>
				<key>frame</key>
				<string>{{319,2000},{104,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,42}</string>
			</dict>
			<key>image/fish11/18.png</key>
			<dict>
				<key>frame</key>
				<string>{{425,2000},{104,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,42}</string>
			</dict>
			<key>image/fish11/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{399,362},{104,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,42}</string>
			</dict>
			<key>image/fish11/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,362},{104,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,42}</string>
			</dict>
			<key>image/fish11/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{611,362},{104,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,42}</string>
			</dict>
			<key>image/fish11/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{717,362},{104,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,42}</string>
			</dict>
			<key>image/fish11/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{531,2000},{104,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,42}</string>
			</dict>
			<key>image/fish11/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{637,2000},{104,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,42}</string>
			</dict>
			<key>image/fish11/8.png</key>
			<dict>
				<key>frame</key>
				<string>{{743,2000},{104,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,42}</string>
			</dict>
			<key>image/fish11/9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1757,187},{104,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,42}</string>
			</dict>
			<key>image/fish12/0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1069,1045},{112,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,104}</string>
			</dict>
			<key>image/fish12/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1069,1159},{112,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,104}</string>
			</dict>
			<key>image/fish12/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1069,1273},{112,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,104}</string>
			</dict>
			<key>image/fish12/11.png</key>
			<dict>
				<key>frame</key>
				<string>{{849,1300},{112,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,104}</string>
			</dict>
			<key>image/fish12/12.png</key>
			<dict>
				<key>frame</key>
				<string>{{849,1414},{112,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,104}</string>
			</dict>
			<key>image/fish12/13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1069,1387},{112,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,104}</string>
			</dict>
			<key>image/fish12/14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1069,1501},{112,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,104}</string>
			</dict>
			<key>image/fish12/15.png</key>
			<dict>
				<key>frame</key>
				<string>{{559,1623},{112,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,104}</string>
			</dict>
			<key>image/fish12/16.png</key>
			<dict>
				<key>frame</key>
				<string>{{955,1519},{112,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,104}</string>
			</dict>
			<key>image/fish12/17.png</key>
			<dict>
				<key>frame</key>
				<string>{{849,1528},{112,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,104}</string>
			</dict>
			<key>image/fish12/18.png</key>
			<dict>
				<key>frame</key>
				<string>{{1069,1615},{112,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,104}</string>
			</dict>
			<key>image/fish12/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{955,1625},{112,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,104}</string>
			</dict>
			<key>image/fish12/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{849,1642},{112,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,104}</string>
			</dict>
			<key>image/fish12/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{671,1746},{112,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,104}</string>
			</dict>
			<key>image/fish12/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1069,1729},{112,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,104}</string>
			</dict>
			<key>image/fish12/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{955,1731},{112,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,104}</string>
			</dict>
			<key>image/fish12/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{849,1756},{112,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,104}</string>
			</dict>
			<key>image/fish12/8.png</key>
			<dict>
				<key>frame</key>
				<string>{{955,1837},{112,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,104}</string>
			</dict>
			<key>image/fish12/9.png</key>
			<dict>
				<key>frame</key>
				<string>{{849,1870},{112,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,104}</string>
			</dict>
			<key>image/fish13/0.png</key>
			<dict>
				<key>frame</key>
				<string>{{187,1766},{119,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{119,97}</string>
			</dict>
			<key>image/fish13/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{308,1766},{119,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{119,97}</string>
			</dict>
			<key>image/fish13/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{429,1766},{119,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{119,97}</string>
			</dict>
			<key>image/fish13/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{550,1766},{119,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{119,97}</string>
			</dict>
			<key>image/fish13/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1892,362},{119,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{119,97}</string>
			</dict>
			<key>image/fish13/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1069,1843},{119,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{119,97}</string>
			</dict>
			<key>image/fish13/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1168,1920},{119,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{119,97}</string>
			</dict>
			<key>image/fish13/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1592,1817},{119,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{119,97}</string>
			</dict>
			<key>image/fish14/0.png</key>
			<dict>
				<key>frame</key>
				<string>{{760,406},{108,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{108,83}</string>
			</dict>
			<key>image/fish14/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{760,516},{108,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{108,83}</string>
			</dict>
			<key>image/fish14/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{671,611},{108,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{108,83}</string>
			</dict>
			<key>image/fish14/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{756,626},{108,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{108,83}</string>
			</dict>
			<key>image/fish14/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{669,721},{108,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{108,83}</string>
			</dict>
			<key>image/fish14/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{754,736},{108,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{108,83}</string>
			</dict>
			<key>image/fish14/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{669,831},{108,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{108,83}</string>
			</dict>
			<key>image/fish14/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{754,846},{108,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{108,83}</string>
			</dict>
			<key>image/fish15/0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1236,373},{216,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{216,132}</string>
			</dict>
			<key>image/fish15/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1370,457},{216,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{216,132}</string>
			</dict>
			<key>image/fish15/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1236,591},{216,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{216,132}</string>
			</dict>
			<key>image/fish15/11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1454,591},{216,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{216,132}</string>
			</dict>
			<key>image/fish15/12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1588,691},{216,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{216,132}</string>
			</dict>
			<key>image/fish15/13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1722,866},{216,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{216,132}</string>
			</dict>
			<key>image/fish15/14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1856,987},{216,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{216,132}</string>
			</dict>
			<key>image/fish15/15.png</key>
			<dict>
				<key>frame</key>
				<string>{{980,643},{216,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{216,132}</string>
			</dict>
			<key>image/fish15/16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1198,725},{216,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{216,132}</string>
			</dict>
			<key>image/fish15/17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1416,809},{216,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{216,132}</string>
			</dict>
			<key>image/fish15/18.png</key>
			<dict>
				<key>frame</key>
				<string>{{1550,909},{216,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{216,132}</string>
			</dict>
			<key>image/fish15/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1684,1084},{216,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{216,132}</string>
			</dict>
			<key>image/fish15/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1818,1205},{216,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{216,132}</string>
			</dict>
			<key>image/fish15/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{980,777},{216,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{216,132}</string>
			</dict>
			<key>image/fish15/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1198,859},{216,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{216,132}</string>
			</dict>
			<key>image/fish15/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{959,911},{216,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{216,132}</string>
			</dict>
			<key>image/fish15/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1177,993},{216,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{216,132}</string>
			</dict>
			<key>image/fish15/8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1395,1027},{216,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{216,132}</string>
			</dict>
			<key>image/fish15/9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1529,1127},{216,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{216,132}</string>
			</dict>
			<key>image/fish16/0.png</key>
			<dict>
				<key>frame</key>
				<string>{{669,1468},{137,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,137}</string>
			</dict>
			<key>image/fish16/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1505,1345},{137,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,137}</string>
			</dict>
			<key>image/fish16/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1175,1364},{137,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,137}</string>
			</dict>
			<key>image/fish16/11.png</key>
			<dict>
				<key>frame</key>
				<string>{{669,1607},{137,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,137}</string>
			</dict>
			<key>image/fish16/12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1314,1482},{137,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,137}</string>
			</dict>
			<key>image/fish16/13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1175,1503},{137,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,137}</string>
			</dict>
			<key>image/fish16/14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1453,1484},{137,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,137}</string>
			</dict>
			<key>image/fish16/15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1314,1621},{137,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,137}</string>
			</dict>
			<key>image/fish16/16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1175,1642},{137,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,137}</string>
			</dict>
			<key>image/fish16/17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1592,1539},{137,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,137}</string>
			</dict>
			<key>image/fish16/18.png</key>
			<dict>
				<key>frame</key>
				<string>{{1453,1623},{137,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,137}</string>
			</dict>
			<key>image/fish16/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1314,1760},{137,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,137}</string>
			</dict>
			<key>image/fish16/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1175,1781},{137,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,137}</string>
			</dict>
			<key>image/fish16/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1314,1899},{137,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,137}</string>
			</dict>
			<key>image/fish16/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1731,1559},{137,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,137}</string>
			</dict>
			<key>image/fish16/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1592,1678},{137,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,137}</string>
			</dict>
			<key>image/fish16/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1453,1762},{137,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,137}</string>
			</dict>
			<key>image/fish16/8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1870,1559},{137,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,137}</string>
			</dict>
			<key>image/fish16/9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1453,1901},{137,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,137}</string>
			</dict>
			<key>image/fish17/0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,187},{250,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,133}</string>
			</dict>
			<key>image/fish17/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1869},{250,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,133}</string>
			</dict>
			<key>image/fish17/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,187},{250,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,133}</string>
			</dict>
			<key>image/fish17/11.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,1865},{250,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,133}</string>
			</dict>
			<key>image/fish17/12.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,187},{250,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,133}</string>
			</dict>
			<key>image/fish17/13.png</key>
			<dict>
				<key>frame</key>
				<string>{{757,187},{250,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,133}</string>
			</dict>
			<key>image/fish17/14.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,1865},{250,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,133}</string>
			</dict>
			<key>image/fish17/15.png</key>
			<dict>
				<key>frame</key>
				<string>{{849,322},{250,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,133}</string>
			</dict>
			<key>image/fish17/16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1370,187},{250,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,133}</string>
			</dict>
			<key>image/fish17/17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1622,187},{250,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,133}</string>
			</dict>
			<key>image/fish17/18.png</key>
			<dict>
				<key>frame</key>
				<string>{{1757,362},{250,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,133}</string>
			</dict>
			<key>image/fish17/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1892,483},{250,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,133}</string>
			</dict>
			<key>image/fish17/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1370,322},{250,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,133}</string>
			</dict>
			<key>image/fish17/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1622,439},{250,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,133}</string>
			</dict>
			<key>image/fish17/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1757,614},{250,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,133}</string>
			</dict>
			<key>image/fish17/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1892,735},{250,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,133}</string>
			</dict>
			<key>image/fish17/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{984,373},{250,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,133}</string>
			</dict>
			<key>image/fish17/8.png</key>
			<dict>
				<key>frame</key>
				<string>{{984,508},{250,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,133}</string>
			</dict>
			<key>image/fish17/9.png</key>
			<dict>
				<key>frame</key>
				<string>{{845,574},{250,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,133}</string>
			</dict>
			<key>image/fish18/0.png</key>
			<dict>
				<key>frame</key>
				<string>{{559,675},{235,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{235,108}</string>
			</dict>
			<key>image/fish18/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{559,912},{235,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{235,108}</string>
			</dict>
			<key>image/fish18/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{849,826},{235,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{235,108}</string>
			</dict>
			<key>image/fish18/11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1663,1302},{235,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{235,108}</string>
			</dict>
			<key>image/fish18/12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1773,1339},{235,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{235,108}</string>
			</dict>
			<key>image/fish18/13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1773,1449},{235,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{235,108}</string>
			</dict>
			<key>image/fish18/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{959,1045},{235,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{235,108}</string>
			</dict>
			<key>image/fish18/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{849,1063},{235,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{235,108}</string>
			</dict>
			<key>image/fish18/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{559,1149},{235,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{235,108}</string>
			</dict>
			<key>image/fish18/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{559,1386},{235,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{235,108}</string>
			</dict>
			<key>image/fish18/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1175,1127},{235,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{235,108}</string>
			</dict>
			<key>image/fish18/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1285,1127},{235,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{235,108}</string>
			</dict>
			<key>image/fish18/8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1395,1245},{235,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{235,108}</string>
			</dict>
			<key>image/fish18/9.png</key>
			<dict>
				<key>frame</key>
				<string>{{959,1282},{235,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{235,108}</string>
			</dict>
			<key>image/fish19/0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{359,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{359,184}</string>
			</dict>
			<key>image/fish19/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,1},{359,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{359,184}</string>
			</dict>
			<key>image/fish19/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{723,1},{359,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{359,184}</string>
			</dict>
			<key>image/fish19/12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1084,1},{359,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{359,184}</string>
			</dict>
			<key>image/fish19/13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1445,1},{359,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{359,184}</string>
			</dict>
			<key>image/fish19/14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1806,1},{359,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{359,184}</string>
			</dict>
			<key>image/fish19/15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,425},{359,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{359,184}</string>
			</dict>
			<key>image/fish19/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,786},{359,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{359,184}</string>
			</dict>
			<key>image/fish19/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1147},{359,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{359,184}</string>
			</dict>
			<key>image/fish19/11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1508},{359,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{359,184}</string>
			</dict>
			<key>image/fish19/16.png</key>
			<dict>
				<key>frame</key>
				<string>{{213,322},{359,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{359,184}</string>
			</dict>
			<key>image/fish19/17.png</key>
			<dict>
				<key>frame</key>
				<string>{{187,683},{359,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{359,184}</string>
			</dict>
			<key>image/fish19/18.png</key>
			<dict>
				<key>frame</key>
				<string>{{187,1044},{359,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{359,184}</string>
			</dict>
			<key>image/fish19/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{187,1405},{359,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{359,184}</string>
			</dict>
			<key>image/fish19/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{373,683},{359,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{359,184}</string>
			</dict>
			<key>image/fish19/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{399,425},{359,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{359,184}</string>
			</dict>
			<key>image/fish19/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{373,1044},{359,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{359,184}</string>
			</dict>
			<key>image/fish19/8.png</key>
			<dict>
				<key>frame</key>
				<string>{{373,1405},{359,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{359,184}</string>
			</dict>
			<key>image/fish19/9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1009,187},{359,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{359,184}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>PlistFish2.png</string>
			<key>realTextureFileName</key>
			<string>PlistFish2.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>