<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>image/buy/bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{568,422}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{568,422}</string>
			</dict>
			<key>image/buy/no.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,524},{216,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{216,69}</string>
			</dict>
			<key>image/buy/qianBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,742},{176,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{176,39}</string>
			</dict>
			<key>image/buy/text.png</key>
			<dict>
				<key>frame</key>
				<string>{{72,776},{246,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{246,49}</string>
			</dict>
			<key>image/buy/yes.png</key>
			<dict>
				<key>frame</key>
				<string>{{143,555},{216,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{216,69}</string>
			</dict>
			<key>image/over/back.png</key>
			<dict>
				<key>frame</key>
				<string>{{942,260},{162,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{162,74}</string>
			</dict>
			<key>image/over/fanhui.png</key>
			<dict>
				<key>frame</key>
				<string>{{749,1},{293,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{293,96}</string>
			</dict>
			<key>image/play/2dian.png</key>
			<dict>
				<key>frame</key>
				<string>{{454,663},{65,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{65,97}</string>
			</dict>
			<key>image/play/bei.png</key>
			<dict>
				<key>frame</key>
				<string>{{252,824},{69,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,97}</string>
			</dict>
			<key>image/play/coinBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{214,555},{267,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{267,50}</string>
			</dict>
			<key>image/play/pass.png</key>
			<dict>
				<key>frame</key>
				<string>{{943,1},{61,257}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,257}</string>
			</dict>
			<key>image/play/point.png</key>
			<dict>
				<key>frame</key>
				<string>{{542,425},{143,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{143,25}</string>
			</dict>
			<key>image/play/pointBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{847,1},{238,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{238,94}</string>
			</dict>
			<key>image/play/showCard.png</key>
			<dict>
				<key>frame</key>
				<string>{{847,241},{61,257}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,257}</string>
			</dict>
			<key>image/play/showCardText.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,558},{121,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{121,59}</string>
			</dict>
			<key>image/rank/close.png</key>
			<dict>
				<key>frame</key>
				<string>{{553,733},{58,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,58}</string>
			</dict>
			<key>image/rank/defen.png</key>
			<dict>
				<key>frame</key>
				<string>{{214,824},{120,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{120,33}</string>
			</dict>
			<key>image/rank/paiming1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,681},{66,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,75}</string>
			</dict>
			<key>image/rank/paiming2.png</key>
			<dict>
				<key>frame</key>
				<string>{{382,933},{66,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,75}</string>
			</dict>
			<key>image/rank/paiming3.png</key>
			<dict>
				<key>frame</key>
				<string>{{450,933},{66,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,75}</string>
			</dict>
			<key>image/rank/timeBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{410,592},{299,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{299,42}</string>
			</dict>
			<key>image/shop/1000coin.png</key>
			<dict>
				<key>frame</key>
				<string>{{214,946},{166,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{166,38}</string>
			</dict>
			<key>image/shop/12yuan.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,773},{216,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{216,69}</string>
			</dict>
			<key>image/shop/18yuan.png</key>
			<dict>
				<key>frame</key>
				<string>{{72,558},{216,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{216,69}</string>
			</dict>
			<key>image/shop/300coin.png</key>
			<dict>
				<key>frame</key>
				<string>{{380,893},{150,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,38}</string>
			</dict>
			<key>image/shop/600coin.png</key>
			<dict>
				<key>frame</key>
				<string>{{454,797},{148,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,38}</string>
			</dict>
			<key>image/shop/6yuan.png</key>
			<dict>
				<key>frame</key>
				<string>{{143,773},{216,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{216,69}</string>
			</dict>
			<key>image/shop/close.png</key>
			<dict>
				<key>frame</key>
				<string>{{532,837},{58,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,58}</string>
			</dict>
			<key>image/shop/coin1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,425},{131,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{131,140}</string>
			</dict>
			<key>image/shop/coin2.png</key>
			<dict>
				<key>frame</key>
				<string>{{143,425},{131,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{131,128}</string>
			</dict>
			<key>image/shop/coin3.png</key>
			<dict>
				<key>frame</key>
				<string>{{571,1},{176,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,166}</string>
			</dict>
			<key>image/start/bei.png</key>
			<dict>
				<key>frame</key>
				<string>{{454,592},{69,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{69,97}</string>
			</dict>
			<key>image/start/choupai.png</key>
			<dict>
				<key>frame</key>
				<string>{{123,991},{127,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,32}</string>
			</dict>
			<key>image/start/coin.png</key>
			<dict>
				<key>frame</key>
				<string>{{454,837},{46,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,47}</string>
			</dict>
			<key>image/start/coinBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{569,464},{267,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{267,50}</string>
			</dict>
			<key>image/start/deadPoint.png</key>
			<dict>
				<key>frame</key>
				<string>{{910,241},{207,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{207,30}</string>
			</dict>
			<key>image/start/help.png</key>
			<dict>
				<key>frame</key>
				<string>{{669,169},{293,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{293,75}</string>
			</dict>
			<key>image/start/left.png</key>
			<dict>
				<key>frame</key>
				<string>{{266,783},{38,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{38,44}</string>
			</dict>
			<key>image/start/music.png</key>
			<dict>
				<key>frame</key>
				<string>{{518,933},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>image/start/play.png</key>
			<dict>
				<key>frame</key>
				<string>{{276,524},{257,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{257,61}</string>
			</dict>
			<key>image/start/poker1.png</key>
			<dict>
				<key>frame</key>
				<string>{{454,730},{65,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{65,97}</string>
			</dict>
			<key>image/start/poker2.png</key>
			<dict>
				<key>frame</key>
				<string>{{746,296},{173,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{173,96}</string>
			</dict>
			<key>image/start/poker3.png</key>
			<dict>
				<key>frame</key>
				<string>{{276,425},{165,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{165,97}</string>
			</dict>
			<key>image/start/poker4.png</key>
			<dict>
				<key>frame</key>
				<string>{{910,450},{227,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{227,97}</string>
			</dict>
			<key>image/start/poker5.png</key>
			<dict>
				<key>frame</key>
				<string>{{443,425},{165,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{165,97}</string>
			</dict>
			<key>image/over/continue.png</key>
			<dict>
				<key>frame</key>
				<string>{{571,169},{293,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{293,96}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>LiKuiPlist1.png</string>
			<key>realTextureFileName</key>
			<string>LiKuiPlist1.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>