<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>image/poker/bei.png</key>
			<dict>
				<key>frame</key>
				<string>{{548,611},{120,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,170}</string>
			</dict>
			<key>image/poker/club1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,901},{120,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{120,180}</string>
			</dict>
			<key>image/poker/club2.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,901},{120,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{120,180}</string>
			</dict>
			<key>image/poker/club3.png</key>
			<dict>
				<key>frame</key>
				<string>{{365,901},{120,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{120,180}</string>
			</dict>
			<key>image/poker/club4.png</key>
			<dict>
				<key>frame</key>
				<string>{{547,1},{120,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{120,180}</string>
			</dict>
			<key>image/poker/club5.png</key>
			<dict>
				<key>frame</key>
				<string>{{366,1},{120,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,180}</string>
			</dict>
			<key>image/poker/club6.png</key>
			<dict>
				<key>frame</key>
				<string>{{729,1},{120,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{120,180}</string>
			</dict>
			<key>image/poker/club7.png</key>
			<dict>
				<key>frame</key>
				<string>{{488,123},{120,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{120,180}</string>
			</dict>
			<key>image/poker/club8.png</key>
			<dict>
				<key>frame</key>
				<string>{{366,183},{120,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,180}</string>
			</dict>
			<key>image/poker/club9.png</key>
			<dict>
				<key>frame</key>
				<string>{{670,123},{120,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{120,180}</string>
			</dict>
			<key>image/poker/diamond1.png</key>
			<dict>
				<key>frame</key>
				<string>{{852,123},{120,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,180}</string>
			</dict>
			<key>image/poker/diamond2.png</key>
			<dict>
				<key>frame</key>
				<string>{{547,245},{120,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{120,180}</string>
			</dict>
			<key>image/poker/diamond3.png</key>
			<dict>
				<key>frame</key>
				<string>{{729,245},{120,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,180}</string>
			</dict>
			<key>image/poker/diamond4.png</key>
			<dict>
				<key>frame</key>
				<string>{{366,365},{120,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,180}</string>
			</dict>
			<key>image/poker/diamond5.png</key>
			<dict>
				<key>frame</key>
				<string>{{547,367},{120,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{120,180}</string>
			</dict>
			<key>image/poker/diamond6.png</key>
			<dict>
				<key>frame</key>
				<string>{{851,305},{120,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,180}</string>
			</dict>
			<key>image/poker/diamond7.png</key>
			<dict>
				<key>frame</key>
				<string>{{729,427},{120,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,180}</string>
			</dict>
			<key>image/poker/diamond8.png</key>
			<dict>
				<key>frame</key>
				<string>{{851,487},{120,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,180}</string>
			</dict>
			<key>image/poker/diamond9.png</key>
			<dict>
				<key>frame</key>
				<string>{{547,489},{120,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{120,180}</string>
			</dict>
			<key>image/poker/heart1.png</key>
			<dict>
				<key>frame</key>
				<string>{{729,609},{120,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,180}</string>
			</dict>
			<key>image/poker/heart2.png</key>
			<dict>
				<key>frame</key>
				<string>{{851,669},{120,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,180}</string>
			</dict>
			<key>image/poker/heart3.png</key>
			<dict>
				<key>frame</key>
				<string>{{366,547},{120,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,180}</string>
			</dict>
			<key>image/poker/heart4.png</key>
			<dict>
				<key>frame</key>
				<string>{{366,729},{120,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{120,180}</string>
			</dict>
			<key>image/poker/heart5.png</key>
			<dict>
				<key>frame</key>
				<string>{{548,791},{120,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,180}</string>
			</dict>
			<key>image/poker/heart6.png</key>
			<dict>
				<key>frame</key>
				<string>{{670,791},{120,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,180}</string>
			</dict>
			<key>image/poker/heart7.png</key>
			<dict>
				<key>frame</key>
				<string>{{792,851},{120,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{120,180}</string>
			</dict>
			<key>image/frame/likui1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{363,448}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{363,448}</string>
			</dict>
			<key>image/frame/likui2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,451},{363,448}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{363,448}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>LiKuiPlist4.png</string>
			<key>realTextureFileName</key>
			<string>LiKuiPlist4.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>