<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>image/buy/bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{461,289}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{461,289}</string>
			</dict>
			<key>image/buy/no.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,851},{189,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{189,48}</string>
			</dict>
			<key>image/buy/qianBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{981,231},{176,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{176,39}</string>
			</dict>
			<key>image/buy/text.png</key>
			<dict>
				<key>frame</key>
				<string>{{974,615},{317,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{317,46}</string>
			</dict>
			<key>image/buy/yes.png</key>
			<dict>
				<key>frame</key>
				<string>{{192,851},{189,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{189,48}</string>
			</dict>
			<key>image/over/back.png</key>
			<dict>
				<key>frame</key>
				<string>{{556,598},{130,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,43}</string>
			</dict>
			<key>image/over/continue.png</key>
			<dict>
				<key>frame</key>
				<string>{{704,587},{245,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{245,93}</string>
			</dict>
			<key>image/play/2dian.png</key>
			<dict>
				<key>frame</key>
				<string>{{806,491},{130,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,195}</string>
			</dict>
			<key>image/play/bei.png</key>
			<dict>
				<key>frame</key>
				<string>{{799,688},{130,183}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,183}</string>
			</dict>
			<key>image/play/coinBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{235,934},{199,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{199,54}</string>
			</dict>
			<key>image/play/pass.png</key>
			<dict>
				<key>frame</key>
				<string>{{637,934},{74,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,170}</string>
			</dict>
			<key>image/play/point.png</key>
			<dict>
				<key>frame</key>
				<string>{{981,934},{74,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,38}</string>
			</dict>
			<key>image/play/pointBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{392,292},{258,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{258,68}</string>
			</dict>
			<key>image/play/showCard.png</key>
			<dict>
				<key>frame</key>
				<string>{{809,934},{74,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,170}</string>
			</dict>
			<key>image/play/showCardText.png</key>
			<dict>
				<key>frame</key>
				<string>{{981,409},{204,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{204,32}</string>
			</dict>
			<key>image/rank/close.png</key>
			<dict>
				<key>frame</key>
				<string>{{238,583},{56,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>image/rank/defen.png</key>
			<dict>
				<key>frame</key>
				<string>{{270,990},{95,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,27}</string>
			</dict>
			<key>image/rank/paiming1.png</key>
			<dict>
				<key>frame</key>
				<string>{{499,851},{107,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,70}</string>
			</dict>
			<key>image/rank/paiming2.png</key>
			<dict>
				<key>frame</key>
				<string>{{92,583},{56,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,70}</string>
			</dict>
			<key>image/rank/paiming3.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,641},{56,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,70}</string>
			</dict>
			<key>image/rank/timeBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{981,1},{228,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{228,39}</string>
			</dict>
			<key>image/shop/1000coin.png</key>
			<dict>
				<key>frame</key>
				<string>{{938,491},{188,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{188,34}</string>
			</dict>
			<key>image/shop/12yuan.png</key>
			<dict>
				<key>frame</key>
				<string>{{367,990},{55,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,28}</string>
			</dict>
			<key>image/shop/18yuan.png</key>
			<dict>
				<key>frame</key>
				<string>{{424,990},{55,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,28}</string>
			</dict>
			<key>image/shop/300coin.png</key>
			<dict>
				<key>frame</key>
				<string>{{938,681},{168,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{168,34}</string>
			</dict>
			<key>image/shop/600coin.png</key>
			<dict>
				<key>frame</key>
				<string>{{798,895},{168,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,34}</string>
			</dict>
			<key>image/shop/6yuan.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,990},{40,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,28}</string>
			</dict>
			<key>image/shop/close.png</key>
			<dict>
				<key>frame</key>
				<string>{{296,583},{56,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>image/shop/coin1.png</key>
			<dict>
				<key>frame</key>
				<string>{{808,1},{243,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{243,171}</string>
			</dict>
			<key>image/shop/coin2.png</key>
			<dict>
				<key>frame</key>
				<string>{{808,246},{243,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{243,171}</string>
			</dict>
			<key>image/shop/coin3.png</key>
			<dict>
				<key>frame</key>
				<string>{{462,340},{243,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{243,171}</string>
			</dict>
			<key>image/shop/nodeBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,292},{289,389}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{289,389}</string>
			</dict>
			<key>image/start/bei.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,583},{55,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,89}</string>
			</dict>
			<key>image/start/choupai.png</key>
			<dict>
				<key>frame</key>
				<string>{{149,1004},{119,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{119,16}</string>
			</dict>
			<key>image/start/coin.png</key>
			<dict>
				<key>frame</key>
				<string>{{931,851},{42,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,36}</string>
			</dict>
			<key>image/start/coinBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{436,934},{199,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{199,54}</string>
			</dict>
			<key>image/start/deadPoint.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1004},{146,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{146,16}</string>
			</dict>
			<key>image/start/help.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,934},{232,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{232,68}</string>
			</dict>
			<key>image/start/left.png</key>
			<dict>
				<key>frame</key>
				<string>{{523,990},{17,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{17,32}</string>
			</dict>
			<key>image/start/music.png</key>
			<dict>
				<key>frame</key>
				<string>{{164,583},{67,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,72}</string>
			</dict>
			<key>image/start/play.png</key>
			<dict>
				<key>frame</key>
				<string>{{707,340},{245,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{245,97}</string>
			</dict>
			<key>image/start/poker1.png</key>
			<dict>
				<key>frame</key>
				<string>{{392,552},{63,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{63,90}</string>
			</dict>
			<key>image/start/poker2.png</key>
			<dict>
				<key>frame</key>
				<string>{{693,834},{103,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,83}</string>
			</dict>
			<key>image/start/poker3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,730},{93,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{93,74}</string>
			</dict>
			<key>image/start/poker4.png</key>
			<dict>
				<key>frame</key>
				<string>{{608,760},{123,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{123,83}</string>
			</dict>
			<key>image/start/poker5.png</key>
			<dict>
				<key>frame</key>
				<string>{{462,513},{103,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,83}</string>
			</dict>
			<key>image/over/fanhui.png</key>
			<dict>
				<key>frame</key>
				<string>{{608,513},{245,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{245,94}</string>
			</dict>
			<key>image/frame/likui3.png</key>
			<dict>
				<key>frame</key>
				<string>{{464,1},{337,342}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{337,342}</string>
			</dict>
			<key>image/frame/poker.png</key>
			<dict>
				<key>frame</key>
				<string>{{457,598},{97,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,87}</string>
			</dict>
			<key>image/start/poker6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,644},{93,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,74}</string>
			</dict>
			<key>image/start/poker7.png</key>
			<dict>
				<key>frame</key>
				<string>{{383,851},{114,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,76}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>LiKuiPlist1.png</string>
			<key>realTextureFileName</key>
			<string>LiKuiPlist1.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>