<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Pharaoh/ui/WolfLight_wheel5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1878,1},{94,643}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,643}</string>
			</dict>
			<key>Pharaoh/ui/WolfLight_wheel5_freespin.png</key>
			<dict>
				<key>frame</key>
				<string>{{1782,1},{94,644}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,644}</string>
			</dict>
			<key>Pharaoh/ui/WolfLight_wheel6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1594,1},{837,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{837,95}</string>
			</dict>
			<key>Pharaoh/ui/WolfLight_wheel6_freespin.png</key>
			<dict>
				<key>frame</key>
				<string>{{1691,1},{837,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{837,89}</string>
			</dict>
			<key>Pharaoh/ui/WolfLight_wheel7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1091,1},{501,486}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{501,486}</string>
			</dict>
			<key>Symbol/WolfLight_light2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{543,469}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{543,469}</string>
			</dict>
			<key>Symbol/WolfLight_light3.png</key>
			<dict>
				<key>frame</key>
				<string>{{546,1},{543,469}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{543,469}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Pharaoh12.png</string>
			<key>realTextureFileName</key>
			<string>Pharaoh12.png</string>
			<key>size</key>
			<string>{1973,839}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1973</integer>
			<key>height</key>
			<integer>839</integer>
		</dict>
	</dict>
</plist>