<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Symbol/wolflight_moonlight_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1007,1},{507,491}}</string>
				<key>offset</key>
				<string>{-10,8}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{550,550}</string>
			</dict>
			<key>Symbol/wolflight_moonlight_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{504,530},{520,496}}</string>
				<key>offset</key>
				<string>{-9,11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{550,550}</string>
			</dict>
			<key>Symbol/wolflight_moonlight_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1051},{513,504}}</string>
				<key>offset</key>
				<string>{-1,4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{550,550}</string>
			</dict>
			<key>Symbol/wolflight_moonlight_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1566},{474,475}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{550,550}</string>
			</dict>
			<key>Symbol/wolflight_moonlight_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,530},{501,519}}</string>
				<key>offset</key>
				<string>{5,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{550,550}</string>
			</dict>
			<key>Symbol/wolflight_moonlight_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{503,527}}</string>
				<key>offset</key>
				<string>{14,11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{550,550}</string>
			</dict>
			<key>Symbol/wolflight_moonlight_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{507,1028},{497,498}}</string>
				<key>offset</key>
				<string>{8,11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{550,550}</string>
			</dict>
			<key>Symbol/wolflight_moonlight_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{648,1528},{496,497}}</string>
				<key>offset</key>
				<string>{8,12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{550,550}</string>
			</dict>
			<key>Symbol/wolflight_moonlight_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{506,1},{499,501}}</string>
				<key>offset</key>
				<string>{8,13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{550,550}</string>
			</dict>
			<key>Symbol/WolfLight_wild.png</key>
			<dict>
				<key>frame</key>
				<string>{{1146,1886},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>Symbol/WolfLight_wild_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1308,1886},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>Symbol/WolfLight_wild_bg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1317,1457},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>Symbol/WolfLight_wild_bg3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1347,1242},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>Symbol/WolfLight_wild_bglight.png</key>
			<dict>
				<key>frame</key>
				<string>{{1026,939},{153,87}}</string>
				<key>offset</key>
				<string>{1,37}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>Symbol/WolfLight_wild_guang.png</key>
			<dict>
				<key>frame</key>
				<string>{{1317,1619},{154,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>Symbol/WolfLight_wild_kuangshang.png</key>
			<dict>
				<key>frame</key>
				<string>{{477,1996},{160,48}}</string>
				<key>offset</key>
				<string>{0,56}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>Symbol/WolfLight_wild_kuangxia.png</key>
			<dict>
				<key>frame</key>
				<string>{{1473,1619},{160,112}}</string>
				<key>offset</key>
				<string>{0,-24}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>Symbol/WolfLight_wild_wolf.png</key>
			<dict>
				<key>frame</key>
				<string>{{1470,1781},{146,156}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>Symbol/WolfLight_wild_wolf_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{477,1566},{169,213}}</string>
				<key>offset</key>
				<string>{0,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>
			<key>Symbol/WolfLight_wild_wolf_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{477,1781},{169,213}}</string>
				<key>offset</key>
				<string>{0,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>
			<key>Symbol/WolfLight_wild_wolf_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1177,1242},{168,213}}</string>
				<key>offset</key>
				<string>{0,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>
			<key>Symbol/WolfLight_wild_wolf_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1006,1028},{169,213}}</string>
				<key>offset</key>
				<string>{0,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>
			<key>Symbol/WolfLight_wild_wolf_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1006,1243},{169,213}}</string>
				<key>offset</key>
				<string>{0,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>
			<key>Symbol/WolfLight_wild_wolf_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1026,510},{169,213}}</string>
				<key>offset</key>
				<string>{0,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>
			<key>Symbol/WolfLight_wild_wolf_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1026,725},{169,212}}</string>
				<key>offset</key>
				<string>{0,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>
			<key>Symbol/WolfLight_wild_wolf_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1146,1458},{169,212}}</string>
				<key>offset</key>
				<string>{0,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>
			<key>Symbol/WolfLight_wild_wolf_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1146,1672},{169,212}}</string>
				<key>offset</key>
				<string>{0,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>
			<key>Symbol/WolfLight_wild_wolf_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1177,1028},{169,212}}</string>
				<key>offset</key>
				<string>{0,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Pharaoh7.png</string>
			<key>realTextureFileName</key>
			<string>Pharaoh7.png</string>
			<key>size</key>
			<string>{1617,2047}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1617</integer>
			<key>height</key>
			<integer>2047</integer>
		</dict>
	</dict>
</plist>