<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Symbol/wolflight_wild2.png</key>
			<dict>
				<key>frame</key>
				<string>{{487,811},{160,321}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,321}</string>
			</dict>
			<key>Symbol/wolflight_wild2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1270,811},{160,321}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,321}</string>
			</dict>
			<key>Symbol/wolflight_wild2_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1593,969},{160,321}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,321}</string>
			</dict>
			<key>Symbol/wolflight_wild2_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{649,973},{160,321}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,321}</string>
			</dict>
			<key>Symbol/wolflight_wild2_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{487,1134},{160,321}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,321}</string>
			</dict>
			<key>Symbol/wolflight_wild2_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{487,1457},{160,321}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,321}</string>
			</dict>
			<key>Symbol/wolflight_wild2_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{798,1619},{160,321}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,321}</string>
			</dict>
			<key>Symbol/wolflight_wild2_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{810,1296},{160,321}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,321}</string>
			</dict>
			<key>Symbol/wolflight_wild2_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{811,1131},{160,321}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,321}</string>
			</dict>
			<key>Symbol/wolflight_wild2_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{960,1619},{160,321}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,321}</string>
			</dict>
			<key>Symbol/wolflight_wild2_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{972,1293},{160,321}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,321}</string>
			</dict>
			<key>Symbol/wolflight_wild2_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{1122,1616},{160,321}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,321}</string>
			</dict>
			<key>Symbol/wolflight_wild2_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{1134,973},{160,321}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,321}</string>
			</dict>
			<key>Symbol/wolflight_wild2_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{1134,1135},{160,321}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,321}</string>
			</dict>
			<key>Symbol/wolflight_wild2_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{1284,1458},{160,321}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,321}</string>
			</dict>
			<key>Symbol/wolflight_wild2_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1284,1781},{160,321}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,321}</string>
			</dict>
			<key>Symbol/wolflight_wild2_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1296,1135},{160,321}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,321}</string>
			</dict>
			<key>Symbol/wolflight_wild2_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1446,1458},{160,321}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,321}</string>
			</dict>
			<key>Symbol/wolflight_wild2_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1607,1781},{160,321}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,321}</string>
			</dict>
			<key>Symbol/wolflight_wild2_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1458,1131},{160,321}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,321}</string>
			</dict>
			<key>Symbol/wolflight_wild2_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1608,1454},{160,321}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,321}</string>
			</dict>
			<key>Symbol/wolflight_wild3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{798,811},{160,470}}</string>
				<key>offset</key>
				<string>{0,6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,482}</string>
			</dict>
			<key>Symbol/wolflight_wild3_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{160,482}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,482}</string>
			</dict>
			<key>Symbol/wolflight_wild3_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,485},{160,482}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,482}</string>
			</dict>
			<key>Symbol/wolflight_wild3_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,969},{160,482}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,482}</string>
			</dict>
			<key>Symbol/wolflight_wild3_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1453},{160,482}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,482}</string>
			</dict>
			<key>Symbol/wolflight_wild3_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{163,1},{160,482}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,482}</string>
			</dict>
			<key>Symbol/wolflight_wild3_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{647,1},{160,482}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,482}</string>
			</dict>
			<key>Symbol/wolflight_wild3_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1131,1},{160,482}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,482}</string>
			</dict>
			<key>Symbol/wolflight_wild3_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1615,1},{160,482}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,482}</string>
			</dict>
			<key>Symbol/wolflight_wild3_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{1777,1},{160,482}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,482}</string>
			</dict>
			<key>Symbol/wolflight_wild3_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{163,163},{160,482}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,482}</string>
			</dict>
			<key>Symbol/wolflight_wild3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{325,811},{160,471}}</string>
				<key>offset</key>
				<string>{0,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,482}</string>
			</dict>
			<key>Symbol/wolflight_wild3_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{647,163},{160,482}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,482}</string>
			</dict>
			<key>Symbol/wolflight_wild3_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{1131,163},{160,482}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,482}</string>
			</dict>
			<key>Symbol/wolflight_wild3_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{163,325},{160,482}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,482}</string>
			</dict>
			<key>Symbol/wolflight_wild3_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{647,325},{160,482}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,482}</string>
			</dict>
			<key>Symbol/wolflight_wild3_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{1131,325},{160,482}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,482}</string>
			</dict>
			<key>Symbol/wolflight_wild3_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{1615,485},{160,482}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,482}</string>
			</dict>
			<key>Symbol/wolflight_wild3_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{1777,485},{160,482}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,482}</string>
			</dict>
			<key>Symbol/wolflight_wild3_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{325,1284},{160,471}}</string>
				<key>offset</key>
				<string>{0,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,482}</string>
			</dict>
			<key>Symbol/wolflight_wild3_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{325,1757},{160,471}}</string>
				<key>offset</key>
				<string>{0,6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,482}</string>
			</dict>
			<key>Symbol/wolflight_wild3_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{163,969},{160,482}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,482}</string>
			</dict>
			<key>Symbol/wolflight_wild3_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{163,487},{160,482}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,482}</string>
			</dict>
			<key>Symbol/wolflight_wild3_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{163,649},{160,482}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,482}</string>
			</dict>
			<key>Symbol/wolflight_wild3_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{163,1453},{160,482}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,482}</string>
			</dict>
			<key>Symbol/wolflight_wild3_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{647,487},{160,482}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,482}</string>
			</dict>
			<key>Symbol/wolflight_wild3_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1131,487},{160,482}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,482}</string>
			</dict>
			<key>Symbol/wolflight_wild3_kuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{647,649},{160,482}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,482}</string>
			</dict>
			<key>Symbol/wolflight_wild3_stone.png</key>
			<dict>
				<key>frame</key>
				<string>{{163,811},{160,112}}</string>
				<key>offset</key>
				<string>{0,-185}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,482}</string>
			</dict>
			<key>Symbol/WolfLight_wildx3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1131,649},{160,482}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,482}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Pharaoh9.png</string>
			<key>realTextureFileName</key>
			<string>Pharaoh9.png</string>
			<key>size</key>
			<string>{1938,1942}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1938</integer>
			<key>height</key>
			<integer>1942</integer>
		</dict>
	</dict>
</plist>