<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Symbol/Socre_Pharaoh_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{864,203},{141,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,142}</string>
			</dict>
			<key>Symbol/Socre_Pharaoh_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1479,971},{146,143}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{148,150}</string>
			</dict>
			<key>Symbol/Socre_Pharaoh_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1611,605},{156,159}}</string>
				<key>offset</key>
				<string>{-2,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>Symbol/Socre_Pharaoh_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1624,1754},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>Symbol/Socre_Pharaoh_Wild.png</key>
			<dict>
				<key>frame</key>
				<string>{{1479,809},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>Symbol/WolfLight_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1240,1940},{111,96}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,102}</string>
			</dict>
			<key>Symbol/WolfLight_10_big.png</key>
			<dict>
				<key>frame</key>
				<string>{{394,1387},{413,357}}</string>
				<key>offset</key>
				<string>{-13,-5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{445,367}</string>
			</dict>
			<key>Symbol/WolfLight_A.png</key>
			<dict>
				<key>frame</key>
				<string>{{1353,1940},{109,96}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,102}</string>
			</dict>
			<key>Symbol/WolfLight_A_big.png</key>
			<dict>
				<key>frame</key>
				<string>{{408,962},{407,357}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{423,373}</string>
			</dict>
			<key>Symbol/WolfLight_dian0.png</key>
			<dict>
				<key>frame</key>
				<string>{{672,839},{188,112}}</string>
				<key>offset</key>
				<string>{-80,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,130}</string>
			</dict>
			<key>Symbol/WolfLight_dian1.png</key>
			<dict>
				<key>frame</key>
				<string>{{486,348},{344,124}}</string>
				<key>offset</key>
				<string>{-3,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,130}</string>
			</dict>
			<key>Symbol/WolfLight_dian10.png</key>
			<dict>
				<key>frame</key>
				<string>{{803,474},{344,124}}</string>
				<key>offset</key>
				<string>{-3,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,130}</string>
			</dict>
			<key>Symbol/WolfLight_dian11.png</key>
			<dict>
				<key>frame</key>
				<string>{{862,820},{344,124}}</string>
				<key>offset</key>
				<string>{-3,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,130}</string>
			</dict>
			<key>Symbol/WolfLight_dian12.png</key>
			<dict>
				<key>frame</key>
				<string>{{900,946},{344,124}}</string>
				<key>offset</key>
				<string>{-3,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,130}</string>
			</dict>
			<key>Symbol/WolfLight_dian13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1026,946},{344,124}}</string>
				<key>offset</key>
				<string>{-3,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,130}</string>
			</dict>
			<key>Symbol/WolfLight_dian14.png</key>
			<dict>
				<key>frame</key>
				<string>{{486,1},{345,124}}</string>
				<key>offset</key>
				<string>{-3,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,130}</string>
			</dict>
			<key>Symbol/WolfLight_dian15.png</key>
			<dict>
				<key>frame</key>
				<string>{{477,839},{193,121}}</string>
				<key>offset</key>
				<string>{73,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,130}</string>
			</dict>
			<key>Symbol/WolfLight_dian2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1103,1292},{344,124}}</string>
				<key>offset</key>
				<string>{-3,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,130}</string>
			</dict>
			<key>Symbol/WolfLight_dian3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1103,1638},{344,124}}</string>
				<key>offset</key>
				<string>{-3,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,130}</string>
			</dict>
			<key>Symbol/WolfLight_dian4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1152,946},{344,124}}</string>
				<key>offset</key>
				<string>{-3,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,130}</string>
			</dict>
			<key>Symbol/WolfLight_dian5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1229,1292},{344,124}}</string>
				<key>offset</key>
				<string>{-3,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,130}</string>
			</dict>
			<key>Symbol/WolfLight_dian6.png</key>
			<dict>
				<key>frame</key>
				<string>{{612,1},{344,124}}</string>
				<key>offset</key>
				<string>{-3,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,130}</string>
			</dict>
			<key>Symbol/WolfLight_dian7.png</key>
			<dict>
				<key>frame</key>
				<string>{{738,1},{344,124}}</string>
				<key>offset</key>
				<string>{-3,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,130}</string>
			</dict>
			<key>Symbol/WolfLight_dian8.png</key>
			<dict>
				<key>frame</key>
				<string>{{832,347},{344,124}}</string>
				<key>offset</key>
				<string>{-3,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,130}</string>
			</dict>
			<key>Symbol/WolfLight_dian9.png</key>
			<dict>
				<key>frame</key>
				<string>{{929,473},{344,123}}</string>
				<key>offset</key>
				<string>{-3,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,130}</string>
			</dict>
			<key>Symbol/WolfLight_J.png</key>
			<dict>
				<key>frame</key>
				<string>{{1560,1940},{87,94}}</string>
				<key>offset</key>
				<string>{2,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,98}</string>
			</dict>
			<key>Symbol/WolfLight_J_big.png</key>
			<dict>
				<key>frame</key>
				<string>{{477,486},{324,351}}</string>
				<key>offset</key>
				<string>{18,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{365,369}</string>
			</dict>
			<key>Symbol/WolfLight_K.png</key>
			<dict>
				<key>frame</key>
				<string>{{1464,1940},{105,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,102}</string>
			</dict>
			<key>Symbol/WolfLight_K_big.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,1371},{393,348}}</string>
				<key>offset</key>
				<string>{-2,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{404,359}</string>
			</dict>
			<key>Symbol/WolfLight_Q.png</key>
			<dict>
				<key>frame</key>
				<string>{{1128,1940},{105,110}}</string>
				<key>offset</key>
				<string>{5,-4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{124,124}</string>
			</dict>
			<key>Symbol/WolfLight_Q_big.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,962},{405,423}}</string>
				<key>offset</key>
				<string>{18,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{441,441}</string>
			</dict>
			<key>Symbol/WolfLight_winframe00.png</key>
			<dict>
				<key>frame</key>
				<string>{{864,1},{199,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>Symbol/WolfLight_winframe01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1065,1},{199,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>Symbol/WolfLight_winframe02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1185,341},{199,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>Symbol/WolfLight_winframe03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1185,543},{199,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>Symbol/WolfLight_winframe04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1208,745},{199,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>Symbol/WolfLight_winframe05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1266,1},{199,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>Symbol/WolfLight_winframe06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1587,203},{199,199}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>Symbol/WolfLight_winframe07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1668,1},{199,199}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>Symbol/WolfLight_winframe08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1587,404},{199,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>Symbol/WolfLight_winframe09.png</key>
			<dict>
				<key>frame</key>
				<string>{{1278,946},{199,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>Symbol/WolfLight_winframe10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1355,1148},{199,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>Symbol/WolfLight_winframe11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1355,1350},{199,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>Symbol/WolfLight_winframe12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1449,1552},{199,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>Symbol/WolfLight_winframe13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1386,203},{199,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>Symbol/WolfLight_winframe14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1467,1},{199,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>Symbol/WolfLight_winframe15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1386,405},{199,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>Symbol/WolfLight_winframe16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1410,607},{199,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>Symbol/WolfLight_font_grand.png</key>
			<dict>
				<key>frame</key>
				<string>{{785,1940},{98,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,30}</string>
			</dict>
			<key>Symbol/WolfLight_font_grand_big.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1891},{390,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{390,142}</string>
			</dict>
			<key>Symbol/WolfLight_font_major.png</key>
			<dict>
				<key>frame</key>
				<string>{{885,1940},{98,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,29}</string>
			</dict>
			<key>Symbol/WolfLight_font_major_big.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,1891},{390,131}}</string>
				<key>offset</key>
				<string>{0,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{390,142}</string>
			</dict>
			<key>Symbol/WolfLight_font_middlebar.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1804},{647,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{647,85}</string>
			</dict>
			<key>Symbol/WolfLight_font_mini.png</key>
			<dict>
				<key>frame</key>
				<string>{{725,1863},{52,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,22}</string>
			</dict>
			<key>Symbol/WolfLight_font_mini_big.png</key>
			<dict>
				<key>frame</key>
				<string>{{1054,473},{322,129}}</string>
				<key>offset</key>
				<string>{1,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{390,142}</string>
			</dict>
			<key>Symbol/WolfLight_font_minor.png</key>
			<dict>
				<key>frame</key>
				<string>{{650,1863},{73,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,22}</string>
			</dict>
			<key>Symbol/WolfLight_font_minor_big.png</key>
			<dict>
				<key>frame</key>
				<string>{{767,953},{375,131}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{390,142}</string>
			</dict>
			<key>Symbol/WolfLight_Bouns_moon_big.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,486},{474,474}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{483,483}</string>
			</dict>
			<key>Symbol/WolfLight_Bouns_kuang_big.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{483,483}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{483,483}</string>
			</dict>
			<key>Symbol/WolfLight_M3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1007,203},{129,138}}</string>
				<key>offset</key>
				<string>{-3,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>Symbol/WolfLight_M3_big.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1387},{391,415}}</string>
				<key>offset</key>
				<string>{-9,8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{483,483}</string>
			</dict>
			<key>Symbol/WolfLight_M4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1138,203},{126,136}}</string>
				<key>offset</key>
				<string>{6,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>Symbol/WolfLight_M4_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{985,1940},{141,105}}</string>
				<key>offset</key>
				<string>{0,-18}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>Pharaoh/ui/WolfLight_wheel3.png</key>
			<dict>
				<key>frame</key>
				<string>{{650,1802},{837,59}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{837,64}</string>
			</dict>
			<key>Pharaoh/ui/WolfLight_wheel3_freespin.png</key>
			<dict>
				<key>frame</key>
				<string>{{785,1880},{837,58}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{837,65}</string>
			</dict>
			<key>Pharaoh/ui/WolfLight_wheel4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,2035},{8,500}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{8,500}</string>
			</dict>
			<key>Pharaoh/ui/WolfLight_wheel4_freespin.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,2024},{8,500}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{8,500}</string>
			</dict>
			<key>Pharaoh/ui/WolfLight_line_num.png</key>
			<dict>
				<key>frame</key>
				<string>{{779,1863},{15,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{15,53}</string>
			</dict>
			<key>Pharaoh/ui/WolfLight_line_num_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{785,1972},{38,76}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{41,82}</string>
			</dict>
			<key>Pharaoh/ui/WolfLight_line_num_bg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{863,1972},{38,76}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{41,82}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Pharaoh1.png</string>
			<key>realTextureFileName</key>
			<string>Pharaoh1.png</string>
			<key>size</key>
			<string>{1868,2046}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1868</integer>
			<key>height</key>
			<integer>2046</integer>
		</dict>
	</dict>
</plist>