<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Symbol/wolflight_wild2_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1590,1},{160,321}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,321}</string>
			</dict>
			<key>Symbol/wolflight_wild2_kuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{1542,805},{160,321}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,321}</string>
			</dict>
			<key>Symbol/wolflight_wild2_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1865,715},{160,321}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,321}</string>
			</dict>
			<key>Symbol/WolfLight_wild_big.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{483,483}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{483,483}</string>
			</dict>
			<key>Symbol/WolfLight_WILD_big_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,486},{483,483}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{483,483}</string>
			</dict>
			<key>Symbol/WolfLight_WILD_big_bg_kuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,971},{483,483}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{483,483}</string>
			</dict>
			<key>Pharaoh/ui/WolfLight_kuang_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1456},{550,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{550,250}</string>
			</dict>
			<key>Pharaoh/ui/WolfLight_kuang_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,1456},{550,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{550,250}</string>
			</dict>
			<key>Pharaoh/ui/WolfLight_kuang_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{486,1},{550,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{550,250}</string>
			</dict>
			<key>Pharaoh/ui/WolfLight_kuang_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{486,553},{550,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{550,250}</string>
			</dict>
			<key>Pharaoh/ui/WolfLight_kuang_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{486,1105},{550,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{550,250}</string>
			</dict>
			<key>Pharaoh/ui/WolfLight_kuang_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,1357},{550,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{550,250}</string>
			</dict>
			<key>Pharaoh/ui/WolfLight_kuang_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{757,1357},{550,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{550,250}</string>
			</dict>
			<key>Pharaoh/ui/WolfLight_kuang_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1009,1357},{550,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{550,250}</string>
			</dict>
			<key>Pharaoh/ui/WolfLight_kuang_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{1038,1},{550,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{550,250}</string>
			</dict>
			<key>Pharaoh/ui/WolfLight_kuang_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{738,1},{550,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{550,250}</string>
			</dict>
			<key>Pharaoh/ui/WolfLight_kuang_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{738,553},{550,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{550,250}</string>
			</dict>
			<key>Pharaoh/ui/WolfLight_kuang_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{990,253},{550,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{550,250}</string>
			</dict>
			<key>Pharaoh/ui/WolfLight_kuang_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{990,805},{550,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{550,250}</string>
			</dict>
			<key>Pharaoh/ui/WolfLight_kuang_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1038,1057},{550,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{550,250}</string>
			</dict>
			<key>Pharaoh/ui/WolfLight_kuang_33.png</key>
			<dict>
				<key>frame</key>
				<string>{{1542,253},{550,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{550,250}</string>
			</dict>
			<key>Pharaoh/ui/WolfLight_kuang_35.png</key>
			<dict>
				<key>frame</key>
				<string>{{1242,253},{550,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{550,250}</string>
			</dict>
			<key>Pharaoh/ui/WolfLight_kuang_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1794,163},{550,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{550,250}</string>
			</dict>
			<key>Pharaoh/ui/WolfLight_kuang_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1590,967},{550,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{550,250}</string>
			</dict>
			<key>Pharaoh/ui/WolfLight_kuang_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1261,1309},{550,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{550,250}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Pharaoh10.png</string>
			<key>realTextureFileName</key>
			<string>Pharaoh10.png</string>
			<key>size</key>
			<string>{2045,2007}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2045</integer>
			<key>height</key>
			<integer>2007</integer>
		</dict>
	</dict>
</plist>