<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Pharaoh/ui/WolfLight_nieline_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1807},{550,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{550,160}</string>
			</dict>
			<key>Pharaoh/ui/WolfLight_nieline_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,603},{550,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{550,160}</string>
			</dict>
			<key>Pharaoh/ui/WolfLight_nieline_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1057,505},{550,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{550,160}</string>
			</dict>
			<key>Pharaoh/ui/WolfLight_nieline_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1709,603},{550,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{550,160}</string>
			</dict>
			<key>Pharaoh/ui/WolfLight_nieline_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1871,603},{550,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{550,160}</string>
			</dict>
			<key>Pharaoh/ui/WolfLight_nieline_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1057,667},{550,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{550,160}</string>
			</dict>
			<key>Pharaoh/ui/WolfLight_nieline_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{553,757},{550,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{550,160}</string>
			</dict>
			<key>Pharaoh/ui/WolfLight_nieline_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,1155},{550,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{550,160}</string>
			</dict>
			<key>Pharaoh/ui/WolfLight_nieline_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{553,1806},{550,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{550,160}</string>
			</dict>
			<key>Pharaoh/ui/WolfLight_nieline_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{715,757},{550,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{550,160}</string>
			</dict>
			<key>Pharaoh/ui/WolfLight_nieline_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{877,757},{550,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{550,160}</string>
			</dict>
			<key>Pharaoh/ui/WolfLight_kuang_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,505},{550,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{550,250}</string>
			</dict>
			<key>Pharaoh/ui/WolfLight_nieline_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1039,1137},{550,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{550,160}</string>
			</dict>
			<key>Pharaoh/ui/WolfLight_nieline_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1039,829},{550,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{550,160}</string>
			</dict>
			<key>Pharaoh/ui/WolfLight_nieline_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{415,1395},{550,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{550,160}</string>
			</dict>
			<key>Pharaoh/ui/WolfLight_nieline_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1358,991},{550,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{550,160}</string>
			</dict>
			<key>Pharaoh/ui/WolfLight_nieline_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1520,1137},{550,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{550,160}</string>
			</dict>
			<key>Pharaoh/ui/WolfLight_nieline_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1682,1155},{550,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{550,160}</string>
			</dict>
			<key>Pharaoh/ui/WolfLight_nieline_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1844,1155},{550,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{550,160}</string>
			</dict>
			<key>Pharaoh/ui/WolfLight_nieline_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1105,1689},{550,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{550,160}</string>
			</dict>
			<key>Pharaoh/ui/WolfLight_Reel_Run00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{250,600}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,600}</string>
			</dict>
			<key>Pharaoh/ui/WolfLight_Reel_Run01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,603},{250,600}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,600}</string>
			</dict>
			<key>Pharaoh/ui/WolfLight_Reel_Run02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1205},{250,600}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,600}</string>
			</dict>
			<key>Pharaoh/ui/WolfLight_Reel_Run03.png</key>
			<dict>
				<key>frame</key>
				<string>{{553,1},{250,600}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,600}</string>
			</dict>
			<key>Pharaoh/ui/WolfLight_Reel_Run04.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,1},{250,600}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,600}</string>
			</dict>
			<key>Pharaoh/ui/WolfLight_Reel_Run05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1155,1},{250,600}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,600}</string>
			</dict>
			<key>Pharaoh/ui/WolfLight_Reel_Run06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1757,1},{250,600}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,600}</string>
			</dict>
			<key>Pharaoh/ui/WolfLight_Reel_Run07.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,253},{250,600}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,600}</string>
			</dict>
			<key>Pharaoh/ui/WolfLight_Reel_Run08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1107,253},{250,600}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,600}</string>
			</dict>
			<key>Pharaoh/ui/WolfLight_respin_collect_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{415,757},{317,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{317,97}</string>
			</dict>
			<key>Pharaoh/ui/WolfLight_respin_collect_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{415,1076},{317,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{317,97}</string>
			</dict>
			<key>Pharaoh/ui/WolfLight_respin_start_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,1707},{317,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{317,97}</string>
			</dict>
			<key>Pharaoh/ui/WolfLight_respin_start_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{1039,991},{317,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{317,97}</string>
			</dict>
			<key>Pharaoh/ui/WolfLight_wheel2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1609,505},{98,630}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,630}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Pharaoh11.png</string>
			<key>realTextureFileName</key>
			<string>Pharaoh11.png</string>
			<key>size</key>
			<string>{2032,1968}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2032</integer>
			<key>height</key>
			<integer>1968</integer>
		</dict>
	</dict>
</plist>