<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>image/buy/no.png</key>
			<dict>
				<key>frame</key>
				<string>{{567,174},{211,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{211,64}</string>
			</dict>
			<key>image/buy/yes.png</key>
			<dict>
				<key>frame</key>
				<string>{{938,368},{211,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{211,64}</string>
			</dict>
			<key>image/end/menu.png</key>
			<dict>
				<key>frame</key>
				<string>{{872,1},{331,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{331,100}</string>
			</dict>
			<key>image/end/playAgain.png</key>
			<dict>
				<key>frame</key>
				<string>{{234,174},{331,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{331,100}</string>
			</dict>
			<key>image/help/close.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,858},{331,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{331,100}</string>
			</dict>
			<key>image/leaderboard/close.png</key>
			<dict>
				<key>frame</key>
				<string>{{780,174},{73,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{73,78}</string>
			</dict>
			<key>image/leaderboard/one.png</key>
			<dict>
				<key>frame</key>
				<string>{{234,276},{70,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,56}</string>
			</dict>
			<key>image/leaderboard/score.png</key>
			<dict>
				<key>frame</key>
				<string>{{974,96},{93,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{93,36}</string>
			</dict>
			<key>image/leaderboard/three.png</key>
			<dict>
				<key>frame</key>
				<string>{{974,191},{63,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{63,48}</string>
			</dict>
			<key>image/leaderboard/two.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,334},{61,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,51}</string>
			</dict>
			<key>image/play/bg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,334},{237,522}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{237,522}</string>
			</dict>
			<key>image/play/left.png</key>
			<dict>
				<key>frame</key>
				<string>{{974,256},{54,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{54,33}</string>
			</dict>
			<key>image/play/right.png</key>
			<dict>
				<key>frame</key>
				<string>{{974,312},{54,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{54,33}</string>
			</dict>
			<key>image/play/score.png</key>
			<dict>
				<key>frame</key>
				<string>{{974,1},{93,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{93,39}</string>
			</dict>
			<key>image/play/set.png</key>
			<dict>
				<key>frame</key>
				<string>{{817,667},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>image/set/off.png</key>
			<dict>
				<key>frame</key>
				<string>{{667,588},{200,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,148}</string>
			</dict>
			<key>image/set/on.png</key>
			<dict>
				<key>frame</key>
				<string>{{867,811},{200,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,148}</string>
			</dict>
			<key>image/start/leaders.png</key>
			<dict>
				<key>frame</key>
				<string>{{836,334},{331,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{331,100}</string>
			</dict>
			<key>image/start/musicClose.png</key>
			<dict>
				<key>frame</key>
				<string>{{713,900},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>image/start/musicOpen.png</key>
			<dict>
				<key>frame</key>
				<string>{{436,588},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>image/start/play.png</key>
			<dict>
				<key>frame</key>
				<string>{{334,276},{331,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{331,100}</string>
			</dict>
			<key>image/start/rules.png</key>
			<dict>
				<key>frame</key>
				<string>{{334,811},{331,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{331,100}</string>
			</dict>
			<key>image/start/store.png</key>
			<dict>
				<key>frame</key>
				<string>{{538,588},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>image/start/title.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{869,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{869,171}</string>
			</dict>
			<key>image/store/100gold.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,960},{247,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{247,57}</string>
			</dict>
			<key>image/store/100img.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,174},{231,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{231,153}</string>
			</dict>
			<key>image/store/30gold.png</key>
			<dict>
				<key>frame</key>
				<string>{{250,960},{228,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{228,57}</string>
			</dict>
			<key>image/store/30img.png</key>
			<dict>
				<key>frame</key>
				<string>{{667,790},{198,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{198,108}</string>
			</dict>
			<key>image/store/60gold.png</key>
			<dict>
				<key>frame</key>
				<string>{{938,581},{228,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{228,57}</string>
			</dict>
			<key>image/store/60img.png</key>
			<dict>
				<key>frame</key>
				<string>{{480,913},{231,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{231,109}</string>
			</dict>
			<key>image/store/coinbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{480,276},{310,354}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{310,354}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Plist1.png</string>
			<key>realTextureFileName</key>
			<string>Plist1.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>