<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>image/poker/club10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,41},{67,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,94}</string>
			</dict>
			<key>image/poker/club2.png</key>
			<dict>
				<key>frame</key>
				<string>{{97,41},{67,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,94}</string>
			</dict>
			<key>image/poker/club3.png</key>
			<dict>
				<key>frame</key>
				<string>{{291,1},{67,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,94}</string>
			</dict>
			<key>image/poker/club4.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,1},{67,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,94}</string>
			</dict>
			<key>image/poker/club5.png</key>
			<dict>
				<key>frame</key>
				<string>{{483,1},{67,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,94}</string>
			</dict>
			<key>image/poker/club6.png</key>
			<dict>
				<key>frame</key>
				<string>{{579,1},{67,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,94}</string>
			</dict>
			<key>image/poker/club7.png</key>
			<dict>
				<key>frame</key>
				<string>{{675,1},{67,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,94}</string>
			</dict>
			<key>image/poker/club8.png</key>
			<dict>
				<key>frame</key>
				<string>{{771,1},{67,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,94}</string>
			</dict>
			<key>image/poker/club9.png</key>
			<dict>
				<key>frame</key>
				<string>{{867,1},{67,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,94}</string>
			</dict>
			<key>image/poker/clubJ.png</key>
			<dict>
				<key>frame</key>
				<string>{{291,70},{67,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,94}</string>
			</dict>
			<key>image/poker/clubK.png</key>
			<dict>
				<key>frame</key>
				<string>{{193,72},{67,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,94}</string>
			</dict>
			<key>image/poker/clubQ.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,110},{67,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,94}</string>
			</dict>
			<key>image/poker/diamond1.png</key>
			<dict>
				<key>frame</key>
				<string>{{97,110},{67,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,94}</string>
			</dict>
			<key>image/poker/diamond10.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,70},{67,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,94}</string>
			</dict>
			<key>image/poker/diamond2.png</key>
			<dict>
				<key>frame</key>
				<string>{{483,70},{67,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,94}</string>
			</dict>
			<key>image/poker/diamond3.png</key>
			<dict>
				<key>frame</key>
				<string>{{579,70},{67,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,94}</string>
			</dict>
			<key>image/poker/diamond4.png</key>
			<dict>
				<key>frame</key>
				<string>{{675,70},{67,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,94}</string>
			</dict>
			<key>image/poker/diamond5.png</key>
			<dict>
				<key>frame</key>
				<string>{{771,70},{67,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,94}</string>
			</dict>
			<key>image/poker/diamond6.png</key>
			<dict>
				<key>frame</key>
				<string>{{867,70},{67,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,94}</string>
			</dict>
			<key>image/poker/diamond7.png</key>
			<dict>
				<key>frame</key>
				<string>{{289,139},{67,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,94}</string>
			</dict>
			<key>image/poker/diamond8.png</key>
			<dict>
				<key>frame</key>
				<string>{{193,141},{67,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,94}</string>
			</dict>
			<key>image/poker/diamond9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,179},{67,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,94}</string>
			</dict>
			<key>image/poker/diamondJ.png</key>
			<dict>
				<key>frame</key>
				<string>{{97,179},{67,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,94}</string>
			</dict>
			<key>image/poker/diamondK.png</key>
			<dict>
				<key>frame</key>
				<string>{{385,139},{67,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,94}</string>
			</dict>
			<key>image/poker/diamondQ.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,139},{67,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,94}</string>
			</dict>
			<key>image/poker/heart1.png</key>
			<dict>
				<key>frame</key>
				<string>{{577,139},{67,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,94}</string>
			</dict>
			<key>image/poker/heart10.png</key>
			<dict>
				<key>frame</key>
				<string>{{673,139},{67,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,94}</string>
			</dict>
			<key>image/poker/heart2.png</key>
			<dict>
				<key>frame</key>
				<string>{{769,139},{67,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,94}</string>
			</dict>
			<key>image/poker/heart3.png</key>
			<dict>
				<key>frame</key>
				<string>{{865,139},{67,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,94}</string>
			</dict>
			<key>image/poker/heart4.png</key>
			<dict>
				<key>frame</key>
				<string>{{289,208},{67,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,94}</string>
			</dict>
			<key>image/poker/heart5.png</key>
			<dict>
				<key>frame</key>
				<string>{{193,210},{67,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,94}</string>
			</dict>
			<key>image/poker/heart6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,248},{67,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,94}</string>
			</dict>
			<key>image/poker/heart7.png</key>
			<dict>
				<key>frame</key>
				<string>{{97,248},{67,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,94}</string>
			</dict>
			<key>image/poker/heart8.png</key>
			<dict>
				<key>frame</key>
				<string>{{385,208},{67,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,94}</string>
			</dict>
			<key>image/poker/heart9.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,208},{67,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,94}</string>
			</dict>
			<key>image/poker/heartJ.png</key>
			<dict>
				<key>frame</key>
				<string>{{577,208},{67,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,94}</string>
			</dict>
			<key>image/poker/heartK.png</key>
			<dict>
				<key>frame</key>
				<string>{{673,208},{67,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,94}</string>
			</dict>
			<key>image/poker/heartQ.png</key>
			<dict>
				<key>frame</key>
				<string>{{769,208},{67,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,94}</string>
			</dict>
			<key>image/poker/spade1.png</key>
			<dict>
				<key>frame</key>
				<string>{{865,208},{67,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,94}</string>
			</dict>
			<key>image/poker/spade10.png</key>
			<dict>
				<key>frame</key>
				<string>{{289,277},{67,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,94}</string>
			</dict>
			<key>image/poker/spade2.png</key>
			<dict>
				<key>frame</key>
				<string>{{193,279},{67,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,94}</string>
			</dict>
			<key>image/poker/spade3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,317},{67,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,94}</string>
			</dict>
			<key>image/poker/spade4.png</key>
			<dict>
				<key>frame</key>
				<string>{{97,317},{67,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,94}</string>
			</dict>
			<key>image/poker/spade5.png</key>
			<dict>
				<key>frame</key>
				<string>{{385,277},{67,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,94}</string>
			</dict>
			<key>image/poker/spade6.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,277},{67,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,94}</string>
			</dict>
			<key>image/poker/spade7.png</key>
			<dict>
				<key>frame</key>
				<string>{{577,277},{67,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,94}</string>
			</dict>
			<key>image/poker/spade8.png</key>
			<dict>
				<key>frame</key>
				<string>{{673,277},{67,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,94}</string>
			</dict>
			<key>image/poker/spade9.png</key>
			<dict>
				<key>frame</key>
				<string>{{769,277},{67,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,94}</string>
			</dict>
			<key>image/poker/spadeJ.png</key>
			<dict>
				<key>frame</key>
				<string>{{865,277},{67,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,94}</string>
			</dict>
			<key>image/poker/spadeK.png</key>
			<dict>
				<key>frame</key>
				<string>{{289,346},{67,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,94}</string>
			</dict>
			<key>image/poker/spadeQ.png</key>
			<dict>
				<key>frame</key>
				<string>{{193,348},{67,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,94}</string>
			</dict>
			<key>image/poker/club1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,386},{67,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,94}</string>
			</dict>
			<key>image/poker/hand.png</key>
			<dict>
				<key>frame</key>
				<string>{{193,1},{69,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{69,96}</string>
			</dict>
			<key>image/play/add.png</key>
			<dict>
				<key>frame</key>
				<string>{{963,110},{36,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{36,38}</string>
			</dict>
			<key>image/play/back.png</key>
			<dict>
				<key>frame</key>
				<string>{{963,1},{60,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,66}</string>
			</dict>
			<key>image/play/coin.png</key>
			<dict>
				<key>frame</key>
				<string>{{963,69},{39,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,39}</string>
			</dict>
			<key>image/play/coinbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{190,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,38}</string>
			</dict>
			<key>image/play/shuaxin.png</key>
			<dict>
				<key>frame</key>
				<string>{{97,386},{75,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,75}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Plist2.png</string>
			<key>realTextureFileName</key>
			<string>Plist2.png</string>
			<key>size</key>
			<string>{1024,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>