<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>image/poker/club10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{67,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,94}</string>
			</dict>
			<key>image/poker/club2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,97},{67,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,94}</string>
			</dict>
			<key>image/poker/club3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,193},{67,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,94}</string>
			</dict>
			<key>image/poker/club4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,289},{67,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,94}</string>
			</dict>
			<key>image/poker/club5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,385},{67,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,94}</string>
			</dict>
			<key>image/poker/club6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,481},{67,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,94}</string>
			</dict>
			<key>image/poker/club7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,577},{67,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,94}</string>
			</dict>
			<key>image/poker/club8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,673},{67,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,94}</string>
			</dict>
			<key>image/poker/club9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,769},{67,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,94}</string>
			</dict>
			<key>image/poker/clubJ.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,865},{67,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,94}</string>
			</dict>
			<key>image/poker/clubK.png</key>
			<dict>
				<key>frame</key>
				<string>{{70,1},{67,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,94}</string>
			</dict>
			<key>image/poker/clubQ.png</key>
			<dict>
				<key>frame</key>
				<string>{{166,1},{67,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,94}</string>
			</dict>
			<key>image/poker/diamond1.png</key>
			<dict>
				<key>frame</key>
				<string>{{262,1},{67,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,94}</string>
			</dict>
			<key>image/poker/diamond10.png</key>
			<dict>
				<key>frame</key>
				<string>{{358,1},{67,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,94}</string>
			</dict>
			<key>image/poker/diamond2.png</key>
			<dict>
				<key>frame</key>
				<string>{{454,1},{67,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,94}</string>
			</dict>
			<key>image/poker/diamond3.png</key>
			<dict>
				<key>frame</key>
				<string>{{550,1},{67,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,94}</string>
			</dict>
			<key>image/poker/diamond4.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,1},{67,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,94}</string>
			</dict>
			<key>image/poker/diamond5.png</key>
			<dict>
				<key>frame</key>
				<string>{{742,1},{67,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,94}</string>
			</dict>
			<key>image/poker/diamond6.png</key>
			<dict>
				<key>frame</key>
				<string>{{838,1},{67,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,94}</string>
			</dict>
			<key>image/poker/diamond7.png</key>
			<dict>
				<key>frame</key>
				<string>{{934,1},{67,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,94}</string>
			</dict>
			<key>image/poker/diamond8.png</key>
			<dict>
				<key>frame</key>
				<string>{{70,70},{67,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,94}</string>
			</dict>
			<key>image/poker/diamond9.png</key>
			<dict>
				<key>frame</key>
				<string>{{166,70},{67,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,94}</string>
			</dict>
			<key>image/poker/diamondJ.png</key>
			<dict>
				<key>frame</key>
				<string>{{262,70},{67,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,94}</string>
			</dict>
			<key>image/poker/diamondK.png</key>
			<dict>
				<key>frame</key>
				<string>{{358,70},{67,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,94}</string>
			</dict>
			<key>image/poker/diamondQ.png</key>
			<dict>
				<key>frame</key>
				<string>{{454,70},{67,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,94}</string>
			</dict>
			<key>image/poker/heart1.png</key>
			<dict>
				<key>frame</key>
				<string>{{550,70},{67,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,94}</string>
			</dict>
			<key>image/poker/heart10.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,70},{67,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,94}</string>
			</dict>
			<key>image/poker/heart2.png</key>
			<dict>
				<key>frame</key>
				<string>{{742,70},{67,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,94}</string>
			</dict>
			<key>image/poker/heart3.png</key>
			<dict>
				<key>frame</key>
				<string>{{838,70},{67,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,94}</string>
			</dict>
			<key>image/poker/heart4.png</key>
			<dict>
				<key>frame</key>
				<string>{{934,97},{67,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,94}</string>
			</dict>
			<key>image/poker/heart5.png</key>
			<dict>
				<key>frame</key>
				<string>{{70,139},{67,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,94}</string>
			</dict>
			<key>image/poker/heart6.png</key>
			<dict>
				<key>frame</key>
				<string>{{166,139},{67,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,94}</string>
			</dict>
			<key>image/poker/heart7.png</key>
			<dict>
				<key>frame</key>
				<string>{{262,139},{67,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,94}</string>
			</dict>
			<key>image/poker/heart8.png</key>
			<dict>
				<key>frame</key>
				<string>{{358,139},{67,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,94}</string>
			</dict>
			<key>image/poker/heart9.png</key>
			<dict>
				<key>frame</key>
				<string>{{454,139},{67,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,94}</string>
			</dict>
			<key>image/poker/heartJ.png</key>
			<dict>
				<key>frame</key>
				<string>{{550,139},{67,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,94}</string>
			</dict>
			<key>image/poker/heartK.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,139},{67,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,94}</string>
			</dict>
			<key>image/poker/heartQ.png</key>
			<dict>
				<key>frame</key>
				<string>{{742,139},{67,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,94}</string>
			</dict>
			<key>image/poker/spade1.png</key>
			<dict>
				<key>frame</key>
				<string>{{838,139},{67,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,94}</string>
			</dict>
			<key>image/poker/spade10.png</key>
			<dict>
				<key>frame</key>
				<string>{{934,193},{67,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,94}</string>
			</dict>
			<key>image/poker/spade2.png</key>
			<dict>
				<key>frame</key>
				<string>{{70,289},{67,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,94}</string>
			</dict>
			<key>image/poker/spade3.png</key>
			<dict>
				<key>frame</key>
				<string>{{70,208},{67,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,94}</string>
			</dict>
			<key>image/poker/spade4.png</key>
			<dict>
				<key>frame</key>
				<string>{{139,277},{67,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,94}</string>
			</dict>
			<key>image/poker/spade5.png</key>
			<dict>
				<key>frame</key>
				<string>{{166,208},{67,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,94}</string>
			</dict>
			<key>image/poker/spade6.png</key>
			<dict>
				<key>frame</key>
				<string>{{208,277},{67,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,94}</string>
			</dict>
			<key>image/poker/spade7.png</key>
			<dict>
				<key>frame</key>
				<string>{{262,208},{67,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,94}</string>
			</dict>
			<key>image/poker/spade8.png</key>
			<dict>
				<key>frame</key>
				<string>{{358,208},{67,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,94}</string>
			</dict>
			<key>image/poker/spade9.png</key>
			<dict>
				<key>frame</key>
				<string>{{454,208},{67,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,94}</string>
			</dict>
			<key>image/poker/spadeJ.png</key>
			<dict>
				<key>frame</key>
				<string>{{550,208},{67,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,94}</string>
			</dict>
			<key>image/poker/spadeK.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,208},{67,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,94}</string>
			</dict>
			<key>image/poker/spadeQ.png</key>
			<dict>
				<key>frame</key>
				<string>{{742,208},{67,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,94}</string>
			</dict>
			<key>image/poker/club1.png</key>
			<dict>
				<key>frame</key>
				<string>{{838,208},{67,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,94}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Plist2.png</string>
			<key>realTextureFileName</key>
			<string>Plist2.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>