<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>image/poker/bei.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{130,183}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,183}</string>
			</dict>
			<key>image/poker/club1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,186},{128,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,179}</string>
			</dict>
			<key>image/poker/club10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,367},{128,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,179}</string>
			</dict>
			<key>image/poker/club11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,548},{128,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,179}</string>
			</dict>
			<key>image/poker/club12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,729},{128,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,179}</string>
			</dict>
			<key>image/poker/club13.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,186},{128,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,179}</string>
			</dict>
			<key>image/poker/club2.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,1},{128,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,179}</string>
			</dict>
			<key>image/poker/club3.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,367},{128,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,179}</string>
			</dict>
			<key>image/poker/club4.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,548},{128,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,179}</string>
			</dict>
			<key>image/poker/club5.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,729},{128,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,179}</string>
			</dict>
			<key>image/poker/club6.png</key>
			<dict>
				<key>frame</key>
				<string>{{261,182},{128,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,179}</string>
			</dict>
			<key>image/poker/club7.png</key>
			<dict>
				<key>frame</key>
				<string>{{263,1},{128,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,179}</string>
			</dict>
			<key>image/poker/club8.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,1},{128,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,179}</string>
			</dict>
			<key>image/poker/club9.png</key>
			<dict>
				<key>frame</key>
				<string>{{442,182},{128,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,179}</string>
			</dict>
			<key>image/poker/diamond1.png</key>
			<dict>
				<key>frame</key>
				<string>{{523,1},{128,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,179}</string>
			</dict>
			<key>image/poker/diamond10.png</key>
			<dict>
				<key>frame</key>
				<string>{{623,182},{128,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,179}</string>
			</dict>
			<key>image/poker/diamond11.png</key>
			<dict>
				<key>frame</key>
				<string>{{653,1},{128,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,179}</string>
			</dict>
			<key>image/poker/diamond12.png</key>
			<dict>
				<key>frame</key>
				<string>{{783,1},{128,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,179}</string>
			</dict>
			<key>image/poker/diamond13.png</key>
			<dict>
				<key>frame</key>
				<string>{{804,182},{128,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,179}</string>
			</dict>
			<key>image/poker/diamond2.png</key>
			<dict>
				<key>frame</key>
				<string>{{261,312},{128,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,179}</string>
			</dict>
			<key>image/poker/diamond3.png</key>
			<dict>
				<key>frame</key>
				<string>{{261,493},{128,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,179}</string>
			</dict>
			<key>image/poker/diamond4.png</key>
			<dict>
				<key>frame</key>
				<string>{{261,674},{128,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,179}</string>
			</dict>
			<key>image/poker/diamond5.png</key>
			<dict>
				<key>frame</key>
				<string>{{261,855},{128,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,179}</string>
			</dict>
			<key>image/poker/diamond6.png</key>
			<dict>
				<key>frame</key>
				<string>{{391,312},{128,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,179}</string>
			</dict>
			<key>image/poker/diamond7.png</key>
			<dict>
				<key>frame</key>
				<string>{{391,493},{128,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,179}</string>
			</dict>
			<key>image/poker/diamond8.png</key>
			<dict>
				<key>frame</key>
				<string>{{391,674},{128,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,179}</string>
			</dict>
			<key>image/poker/diamond9.png</key>
			<dict>
				<key>frame</key>
				<string>{{442,855},{128,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,179}</string>
			</dict>
			<key>image/poker/heart1.png</key>
			<dict>
				<key>frame</key>
				<string>{{521,312},{128,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,179}</string>
			</dict>
			<key>image/poker/heart10.png</key>
			<dict>
				<key>frame</key>
				<string>{{521,442},{128,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,179}</string>
			</dict>
			<key>image/poker/heart11.png</key>
			<dict>
				<key>frame</key>
				<string>{{521,623},{128,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,179}</string>
			</dict>
			<key>image/poker/heart12.png</key>
			<dict>
				<key>frame</key>
				<string>{{623,804},{128,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,179}</string>
			</dict>
			<key>image/poker/heart13.png</key>
			<dict>
				<key>frame</key>
				<string>{{651,442},{128,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,179}</string>
			</dict>
			<key>image/poker/heart2.png</key>
			<dict>
				<key>frame</key>
				<string>{{702,312},{128,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,179}</string>
			</dict>
			<key>image/poker/heart3.png</key>
			<dict>
				<key>frame</key>
				<string>{{651,623},{128,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,179}</string>
			</dict>
			<key>image/poker/heart4.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,804},{128,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,179}</string>
			</dict>
			<key>image/poker/heart5.png</key>
			<dict>
				<key>frame</key>
				<string>{{781,442},{128,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,179}</string>
			</dict>
			<key>image/poker/heart6.png</key>
			<dict>
				<key>frame</key>
				<string>{{781,572},{128,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,179}</string>
			</dict>
			<key>image/poker/heart7.png</key>
			<dict>
				<key>frame</key>
				<string>{{883,753},{128,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,179}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>LiKuiPlist4.png</string>
			<key>realTextureFileName</key>
			<string>LiKuiPlist4.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>