<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>image/game/win.png</key>
			<dict>
				<key>frame</key>
				<string>{{170,954},{143,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{143,41}</string>
			</dict>
			<key>image/game/winbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{841,0},{371,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{371,116}</string>
			</dict>
			<key>image/game/xiazhubg.png</key>
			<dict>
				<key>frame</key>
				<string>{{841,371},{371,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{371,116}</string>
			</dict>
			<key>image/game/dollar.png</key>
			<dict>
				<key>frame</key>
				<string>{{410,954},{61,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{61,60}</string>
			</dict>
			<key>image/game/gamebg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{841,545}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{841,545}</string>
			</dict>
			<key>image/element/bianpao.png</key>
			<dict>
				<key>frame</key>
				<string>{{526,742},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>image/element/caishen.png</key>
			<dict>
				<key>frame</key>
				<string>{{526,867},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>image/element/denglong.png</key>
			<dict>
				<key>frame</key>
				<string>{{651,742},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>image/element/J.png</key>
			<dict>
				<key>frame</key>
				<string>{{651,867},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>image/element/K.png</key>
			<dict>
				<key>frame</key>
				<string>{{776,742},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>image/element/Q.png</key>
			<dict>
				<key>frame</key>
				<string>{{776,867},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>image/help/beilvbg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,954},{170,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{170,42}</string>
			</dict>
			<key>image/help/beilvbg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{957,494},{227,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{227,49}</string>
			</dict>
			<key>image/help/beilvbg3.png</key>
			<dict>
				<key>frame</key>
				<string>{{957,0},{247,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{247,49}</string>
			</dict>
			<key>image/help/close.png</key>
			<dict>
				<key>frame</key>
				<string>{{470,954},{56,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>image/help/help.png</key>
			<dict>
				<key>frame</key>
				<string>{{313,954},{97,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,49}</string>
			</dict>
			<key>image/help/heng.png</key>
			<dict>
				<key>frame</key>
				<string>{{1006,0},{954,3}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{954,3}</string>
			</dict>
			<key>image/help/beilvbg4.png</key>
			<dict>
				<key>frame</key>
				<string>{{957,721},{226,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{226,49}</string>
			</dict>
			<key>image/help/shu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1009,0},{3,332}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{3,332}</string>
			</dict>
			<key>image/help/table.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,996},{134,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,28}</string>
			</dict>
			<key>image/help/wupinbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{957,247},{247,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{247,49}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>LaBaPlist3.png</string>
			<key>realTextureFileName</key>
			<string>LaBaPlist3.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>