<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>image/flag/Croatia.png</key>
			<dict>
				<key>frame</key>
				<string>{{930,569},{39,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,22}</string>
			</dict>
			<key>image/flag/Croatiagq.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,397},{91,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{91,92}</string>
			</dict>
			<key>image/flag/Czech.png</key>
			<dict>
				<key>frame</key>
				<string>{{949,407},{40,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{40,22}</string>
			</dict>
			<key>image/flag/Czechgq.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,490},{91,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{91,92}</string>
			</dict>
			<key>image/flag/Denmark.png</key>
			<dict>
				<key>frame</key>
				<string>{{930,449},{40,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,22}</string>
			</dict>
			<key>image/flag/Denmarkgq.png</key>
			<dict>
				<key>frame</key>
				<string>{{116,911},{91,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,92}</string>
			</dict>
			<key>image/flag/England.png</key>
			<dict>
				<key>frame</key>
				<string>{{930,593},{39,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,22}</string>
			</dict>
			<key>image/flag/Englandgq.png</key>
			<dict>
				<key>frame</key>
				<string>{{209,911},{91,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,92}</string>
			</dict>
			<key>image/flag/France.png</key>
			<dict>
				<key>frame</key>
				<string>{{949,236},{58,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,22}</string>
			</dict>
			<key>image/flag/Francegq.png</key>
			<dict>
				<key>frame</key>
				<string>{{302,911},{91,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,92}</string>
			</dict>
			<key>image/flag/Germany.png</key>
			<dict>
				<key>frame</key>
				<string>{{930,473},{40,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,22}</string>
			</dict>
			<key>image/flag/Germanygq.png</key>
			<dict>
				<key>frame</key>
				<string>{{338,664},{91,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,92}</string>
			</dict>
			<key>image/flag/Greece.png</key>
			<dict>
				<key>frame</key>
				<string>{{930,617},{39,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,22}</string>
			</dict>
			<key>image/flag/Greecegq.png</key>
			<dict>
				<key>frame</key>
				<string>{{338,758},{91,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,92}</string>
			</dict>
			<key>image/flag/Lreland.png</key>
			<dict>
				<key>frame</key>
				<string>{{930,641},{39,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,22}</string>
			</dict>
			<key>image/flag/Lrelandgq.png</key>
			<dict>
				<key>frame</key>
				<string>{{395,852},{91,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,92}</string>
			</dict>
			<key>image/flag/Ltaly.png</key>
			<dict>
				<key>frame</key>
				<string>{{930,497},{40,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,22}</string>
			</dict>
			<key>image/flag/Ltalygq.png</key>
			<dict>
				<key>frame</key>
				<string>{{431,664},{91,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,92}</string>
			</dict>
			<key>image/flag/Netherlands.png</key>
			<dict>
				<key>frame</key>
				<string>{{930,521},{40,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,22}</string>
			</dict>
			<key>image/flag/Netherlandsgq.png</key>
			<dict>
				<key>frame</key>
				<string>{{431,758},{91,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,92}</string>
			</dict>
			<key>image/flag/Poland.png</key>
			<dict>
				<key>frame</key>
				<string>{{930,665},{39,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,22}</string>
			</dict>
			<key>image/flag/Poland-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{488,472},{91,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,92}</string>
			</dict>
			<key>image/flag/Portugal.png</key>
			<dict>
				<key>frame</key>
				<string>{{949,296},{58,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,22}</string>
			</dict>
			<key>image/flag/Portugalgq.png</key>
			<dict>
				<key>frame</key>
				<string>{{488,566},{91,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,92}</string>
			</dict>
			<key>image/flag/Russia.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,664},{39,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,22}</string>
			</dict>
			<key>image/flag/Russiagq.png</key>
			<dict>
				<key>frame</key>
				<string>{{488,852},{91,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,92}</string>
			</dict>
			<key>image/flag/Spain.png</key>
			<dict>
				<key>frame</key>
				<string>{{42,664},{39,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,22}</string>
			</dict>
			<key>image/flag/Spaingq.png</key>
			<dict>
				<key>frame</key>
				<string>{{524,660},{91,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,92}</string>
			</dict>
			<key>image/flag/Sweden.png</key>
			<dict>
				<key>frame</key>
				<string>{{930,545},{40,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,22}</string>
			</dict>
			<key>image/flag/Swedengq.png</key>
			<dict>
				<key>frame</key>
				<string>{{524,754},{91,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,92}</string>
			</dict>
			<key>image/help/close.png</key>
			<dict>
				<key>frame</key>
				<string>{{279,349},{46,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>
			<key>image/help/compare.png</key>
			<dict>
				<key>frame</key>
				<string>{{497,236},{391,234}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{391,234}</string>
			</dict>
			<key>image/help/daxiaotext.png</key>
			<dict>
				<key>frame</key>
				<string>{{976,1},{277,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{277,40}</string>
			</dict>
			<key>image/help/helpTitle.png</key>
			<dict>
				<key>frame</key>
				<string>{{497,1},{477,233}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{477,233}</string>
			</dict>
			<key>image/help/heng.png</key>
			<dict>
				<key>frame</key>
				<string>{{1013,280},{76,8}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{76,8}</string>
			</dict>
			<key>image/help/lan1.png</key>
			<dict>
				<key>frame</key>
				<string>{{83,635},{48,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{48,47}</string>
			</dict>
			<key>image/help/lan2.png</key>
			<dict>
				<key>frame</key>
				<string>{{132,635},{48,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{48,47}</string>
			</dict>
			<key>image/help/lan3.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,635},{48,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{48,47}</string>
			</dict>
			<key>image/help/lv1.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,635},{48,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{48,47}</string>
			</dict>
			<key>image/help/lv2.png</key>
			<dict>
				<key>frame</key>
				<string>{{279,251},{48,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,47}</string>
			</dict>
			<key>image/help/lv3.png</key>
			<dict>
				<key>frame</key>
				<string>{{279,300},{48,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,47}</string>
			</dict>
			<key>image/help/quan.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,911},{113,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,112}</string>
			</dict>
			<key>image/help/same.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,689},{335,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{335,220}</string>
			</dict>
			<key>image/help/sametext.png</key>
			<dict>
				<key>frame</key>
				<string>{{973,280},{275,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{275,38}</string>
			</dict>
			<key>image/help/tonghua.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{494,248}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{494,248}</string>
			</dict>
			<key>image/help/tonghuatext.png</key>
			<dict>
				<key>frame</key>
				<string>{{890,431},{236,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{236,38}</string>
			</dict>
			<key>image/lose/jia.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,251},{28,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,28}</string>
			</dict>
			<key>image/lose/jinbi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,429},{90,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,58}</string>
			</dict>
			<key>image/lose/lost.png</key>
			<dict>
				<key>frame</key>
				<string>{{338,251},{411,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{411,148}</string>
			</dict>
			<key>image/lose/next.png</key>
			<dict>
				<key>frame</key>
				<string>{{890,236},{193,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{193,57}</string>
			</dict>
			<key>image/lose/one.png</key>
			<dict>
				<key>frame</key>
				<string>{{949,356},{18,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{18,49}</string>
			</dict>
			<key>image/lose/pax.png</key>
			<dict>
				<key>frame</key>
				<string>{{972,557},{136,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{136,50}</string>
			</dict>
			<key>image/lose/qiu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,348},{79,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{79,79}</string>
			</dict>
			<key>image/lose/xiong.png</key>
			<dict>
				<key>frame</key>
				<string>{{83,251},{155,382}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{155,382}</string>
			</dict>
			<key>image/lose/ying.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,251},{66,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,95}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Plist1.png</string>
			<key>realTextureFileName</key>
			<string>Plist1.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>