<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>image/lose/yifu.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,615},{166,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{166,188}</string>
			</dict>
			<key>image/lose/yifu2.png</key>
			<dict>
				<key>frame</key>
				<string>{{554,727},{214,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{214,123}</string>
			</dict>
			<key>image/play/Bringalong1.png</key>
			<dict>
				<key>frame</key>
				<string>{{964,977},{42,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,39}</string>
			</dict>
			<key>image/play/Bringalong2.png</key>
			<dict>
				<key>frame</key>
				<string>{{925,977},{43,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{43,39}</string>
			</dict>
			<key>image/play/Bringalong4.png</key>
			<dict>
				<key>frame</key>
				<string>{{969,933},{42,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,39}</string>
			</dict>
			<key>image/play/Bringalong3.png</key>
			<dict>
				<key>frame</key>
				<string>{{214,727},{42,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,39}</string>
			</dict>
			<key>image/play/Final.png</key>
			<dict>
				<key>frame</key>
				<string>{{1000,330},{38,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{38,18}</string>
			</dict>
			<key>image/play/Groupstage1.png</key>
			<dict>
				<key>frame</key>
				<string>{{852,933},{80,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,38}</string>
			</dict>
			<key>image/play/Groupstage2.png</key>
			<dict>
				<key>frame</key>
				<string>{{288,924},{84,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,38}</string>
			</dict>
			<key>image/play/Groupstage3.png</key>
			<dict>
				<key>frame</key>
				<string>{{768,923},{84,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,38}</string>
			</dict>
			<key>image/play/help.png</key>
			<dict>
				<key>frame</key>
				<string>{{618,941},{81,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{81,50}</string>
			</dict>
			<key>image/play/pax.png</key>
			<dict>
				<key>frame</key>
				<string>{{681,226},{437,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{437,171}</string>
			</dict>
			<key>image/play/pokerbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,399},{147,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{147,180}</string>
			</dict>
			<key>image/play/Quarterfinal.png</key>
			<dict>
				<key>frame</key>
				<string>{{1000,234},{96,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,16}</string>
			</dict>
			<key>image/play/SemiFinals.png</key>
			<dict>
				<key>frame</key>
				<string>{{899,460},{51,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{51,16}</string>
			</dict>
			<key>image/play/vs.png</key>
			<dict>
				<key>frame</key>
				<string>{{681,663},{210,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{210,167}</string>
			</dict>
			<key>image/play/ying.png</key>
			<dict>
				<key>frame</key>
				<string>{{326,873},{135,228}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{135,228}</string>
			</dict>
			<key>image/play/yinyue.png</key>
			<dict>
				<key>frame</key>
				<string>{{768,873},{81,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{81,50}</string>
			</dict>
			<key>image/play/zq.png</key>
			<dict>
				<key>frame</key>
				<string>{{668,969},{44,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,44}</string>
			</dict>
			<key>image/play/zq2.png</key>
			<dict>
				<key>frame</key>
				<string>{{925,933},{44,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,44}</string>
			</dict>
			<key>image/play/zqbar.png</key>
			<dict>
				<key>frame</key>
				<string>{{921,226},{22,293}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{22,293}</string>
			</dict>
			<key>image/set/close.png</key>
			<dict>
				<key>frame</key>
				<string>{{554,941},{64,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,68}</string>
			</dict>
			<key>image/set/Effects.png</key>
			<dict>
				<key>frame</key>
				<string>{{677,873},{96,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,52}</string>
			</dict>
			<key>image/set/guan.png</key>
			<dict>
				<key>frame</key>
				<string>{{768,961},{77,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,35}</string>
			</dict>
			<key>image/set/kai.png</key>
			<dict>
				<key>frame</key>
				<string>{{890,933},{77,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,35}</string>
			</dict>
			<key>image/set/kgbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{729,873},{125,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,39}</string>
			</dict>
			<key>image/set/Music.png</key>
			<dict>
				<key>frame</key>
				<string>{{226,873},{100,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,51}</string>
			</dict>
			<key>image/set/title.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{477,233}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{477,233}</string>
			</dict>
			<key>image/start/help.png</key>
			<dict>
				<key>frame</key>
				<string>{{954,0},{234,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{234,69}</string>
			</dict>
			<key>image/start/Options.png</key>
			<dict>
				<key>frame</key>
				<string>{{852,226},{234,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{234,69}</string>
			</dict>
			<key>image/start/title.png</key>
			<dict>
				<key>frame</key>
				<string>{{477,226},{501,204}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{501,204}</string>
			</dict>
			<key>image/win/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{852,460},{47,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,50}</string>
			</dict>
			<key>image/win/jia.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,990},{28,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,28}</string>
			</dict>
			<key>image/win/jinbi.png</key>
			<dict>
				<key>frame</key>
				<string>{{136,873},{90,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,58}</string>
			</dict>
			<key>image/win/next.png</key>
			<dict>
				<key>frame</key>
				<string>{{943,234},{193,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{193,57}</string>
			</dict>
			<key>image/win/pax.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,873},{136,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{136,50}</string>
			</dict>
			<key>image/win/qiu.png</key>
			<dict>
				<key>frame</key>
				<string>{{943,427},{79,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{79,79}</string>
			</dict>
			<key>image/win/stars.png</key>
			<dict>
				<key>frame</key>
				<string>{{852,519},{414,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{414,148}</string>
			</dict>
			<key>image/win/title.png</key>
			<dict>
				<key>frame</key>
				<string>{{477,0},{477,226}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{477,226}</string>
			</dict>
			<key>image/win/xiong.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,233},{155,382}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{155,382}</string>
			</dict>
			<key>image/win/yifu.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,233},{166,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{166,188}</string>
			</dict>
			<key>image/win/yifu2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,727},{214,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{214,123}</string>
			</dict>
			<key>image/win/ying.png</key>
			<dict>
				<key>frame</key>
				<string>{{193,931},{66,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{66,95}</string>
			</dict>
			<key>image/help/next.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,933},{193,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{193,57}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Plist2.png</string>
			<key>realTextureFileName</key>
			<string>Plist2.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>