<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>image/buy/no.png</key>
			<dict>
				<key>frame</key>
				<string>{{932,513},{219,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{219,85}</string>
			</dict>
			<key>image/buy/shop.png</key>
			<dict>
				<key>frame</key>
				<string>{{809,107},{361,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{361,130}</string>
			</dict>
			<key>image/buy/word.png</key>
			<dict>
				<key>frame</key>
				<string>{{946,1},{384,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{384,70}</string>
			</dict>
			<key>image/buy/yse.png</key>
			<dict>
				<key>frame</key>
				<string>{{932,734},{219,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{219,85}</string>
			</dict>
			<key>image/help/title.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,173},{361,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{361,130}</string>
			</dict>
			<key>image/lose/next.png</key>
			<dict>
				<key>frame</key>
				<string>{{530,763},{219,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{219,85}</string>
			</dict>
			<key>image/lose/Stagecleared.png</key>
			<dict>
				<key>frame</key>
				<string>{{485,1},{459,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{459,104}</string>
			</dict>
			<key>image/pause/quit.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,427},{219,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{219,85}</string>
			</dict>
			<key>image/pause/return.png</key>
			<dict>
				<key>frame</key>
				<string>{{222,427},{219,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{219,85}</string>
			</dict>
			<key>image/pause/time.png</key>
			<dict>
				<key>frame</key>
				<string>{{472,257},{361,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{361,130}</string>
			</dict>
			<key>image/play/jb.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,955},{47,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,50}</string>
			</dict>
			<key>image/play/jbdb.png</key>
			<dict>
				<key>frame</key>
				<string>{{941,387},{124,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{124,52}</string>
			</dict>
			<key>image/play/shou.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,955},{78,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,41}</string>
			</dict>
			<key>image/play/Stage.png</key>
			<dict>
				<key>frame</key>
				<string>{{617,879},{139,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{139,128}</string>
			</dict>
			<key>image/set/guan.png</key>
			<dict>
				<key>frame</key>
				<string>{{736,537},{62,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,56}</string>
			</dict>
			<key>image/set/guanbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{736,383},{152,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{152,30}</string>
			</dict>
			<key>image/set/kai.png</key>
			<dict>
				<key>frame</key>
				<string>{{736,595},{62,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,56}</string>
			</dict>
			<key>image/set/kaibg.png</key>
			<dict>
				<key>frame</key>
				<string>{{768,383},{152,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{152,30}</string>
			</dict>
			<key>image/set/title.png</key>
			<dict>
				<key>frame</key>
				<string>{{364,173},{289,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{289,106}</string>
			</dict>
			<key>image/shop/100jb.png</key>
			<dict>
				<key>frame</key>
				<string>{{314,833},{214,162}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{214,162}</string>
			</dict>
			<key>image/shop/30jb.png</key>
			<dict>
				<key>frame</key>
				<string>{{664,653},{224,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{224,122}</string>
			</dict>
			<key>image/shop/60jb.png</key>
			<dict>
				<key>frame</key>
				<string>{{437,620},{225,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,141}</string>
			</dict>
			<key>image/shop/cointitle.png</key>
			<dict>
				<key>frame</key>
				<string>{{485,107},{322,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{322,148}</string>
			</dict>
			<key>image/shop/shangcheng.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{482,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{482,170}</string>
			</dict>
			<key>image/star/coin.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,955},{47,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,50}</string>
			</dict>
			<key>image/star/coinbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{736,257},{124,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{124,52}</string>
			</dict>
			<key>image/star/help.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,833},{311,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{311,120}</string>
			</dict>
			<key>image/star/music.png</key>
			<dict>
				<key>frame</key>
				<string>{{222,648},{77,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,74}</string>
			</dict>
			<key>image/star/play.png</key>
			<dict>
				<key>frame</key>
				<string>{{314,464},{312,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{312,121}</string>
			</dict>
			<key>image/star/store.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,305},{311,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{311,120}</string>
			</dict>
			<key>image/win/next.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,648},{219,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{219,85}</string>
			</dict>
			<key>image/win/gameover.png</key>
			<dict>
				<key>frame</key>
				<string>{{604,257},{361,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{361,130}</string>
			</dict>
			<key>image/lose/kl2.png</key>
			<dict>
				<key>frame</key>
				<string>{{788,833},{137,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,146}</string>
			</dict>
			<key>image/lose/title.png</key>
			<dict>
				<key>frame</key>
				<string>{{800,470},{361,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{361,130}</string>
			</dict>
			<key>image/buy/close.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,514},{109,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{109,107}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Plist1.png</string>
			<key>realTextureFileName</key>
			<string>Plist1.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>