<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>NewCandy/ui/NewCandy_tankuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{922,482}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{922,482}</string>
			</dict>
			<key>NewCandy/ui/NewCandy_tankuang1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1144,2},{902,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{902,135}</string>
			</dict>
			<key>NewCandy/ui/NewCandy_lunpan_50lines.png</key>
			<dict>
				<key>frame</key>
				<string>{{882,655},{46,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{46,69}</string>
			</dict>
			<key>NewCandy/ui/NewCandy_lunpan_50lines2.png</key>
			<dict>
				<key>frame</key>
				<string>{{501,997},{16,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{16,54}</string>
			</dict>
			<key>NewCandy/ui/NewCandy_lunpan_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{488,876},{996,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{996,40}</string>
			</dict>
			<key>NewCandy/ui/NewCandy_lunpan_left.png</key>
			<dict>
				<key>frame</key>
				<string>{{1144,920},{66,541}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{66,541}</string>
			</dict>
			<key>NewCandy/ui/NewCandy_lunpan_reel.png</key>
			<dict>
				<key>frame</key>
				<string>{{488,2},{208,486}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{208,486}</string>
			</dict>
			<key>NewCandy/ui/NewCandy_lunpan_right.png</key>
			<dict>
				<key>frame</key>
				<string>{{1043,2},{67,541}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,541}</string>
			</dict>
			<key>NewCandy/ui/NewCandy_lunpan_tiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,997},{9,495}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{9,495}</string>
			</dict>
			<key>NewCandy/ui/NewCandy_lunpan_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{882,705},{996,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{996,40}</string>
			</dict>
			<key>NewCandy/ui/NewCandy_air.png</key>
			<dict>
				<key>frame</key>
				<string>{{488,214},{208,486}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{208,486}</string>
			</dict>
			<key>NewCandy/ui/NewCandy_jackpot.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,928},{1138,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1138,65}</string>
			</dict>
			<key>NewCandy/ui/NewCandy_pressplay.png</key>
			<dict>
				<key>frame</key>
				<string>{{488,426},{347,204}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{347,204}</string>
			</dict>
			<key>NewCandy/ui/NewCandy_pressstart.png</key>
			<dict>
				<key>frame</key>
				<string>{{978,2},{660,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{660,61}</string>
			</dict>
			<key>NewCandy/ui/NewCandy_pressstart1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1488,749},{515,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{515,39}</string>
			</dict>
			<key>NewCandy/ui/NewCandy_pressstart2.png</key>
			<dict>
				<key>frame</key>
				<string>{{882,426},{225,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{225,39}</string>
			</dict>
			<key>NewCandy/ui/NewCandy_pressstart3.png</key>
			<dict>
				<key>frame</key>
				<string>{{839,426},{446,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{446,39}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>NewCandy_UI_Plist1.png</string>
			<key>realTextureFileName</key>
			<string>NewCandy_UI_Plist1.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>