<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>NewCandy/ui/Lollipop_amazing.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,146},{379,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{379,159}</string>
			</dict>
			<key>NewCandy/ui/Lollipop_anniu_collect.png</key>
			<dict>
				<key>frame</key>
				<string>{{558,709},{264,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{264,88}</string>
			</dict>
			<key>NewCandy/ui/Lollipop_anniu_collect2.png</key>
			<dict>
				<key>frame</key>
				<string>{{517,975},{264,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{264,88}</string>
			</dict>
			<key>NewCandy/ui/Lollipop_anniu_start.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1190},{264,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{264,88}</string>
			</dict>
			<key>NewCandy/ui/Lollipop_anniu_start2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,796},{264,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{264,88}</string>
			</dict>
			<key>NewCandy/ui/NewCandy_anniu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1062},{264,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{264,88}</string>
			</dict>
			<key>NewCandy/ui/NewCandy_anniuwenzi.png</key>
			<dict>
				<key>frame</key>
				<string>{{334,307},{178,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{178,46}</string>
			</dict>
			<key>NewCandy/ui/NewCandy_anniuwenzi01.png</key>
			<dict>
				<key>frame</key>
				<string>{{294,487},{133,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{133,47}</string>
			</dict>
			<key>NewCandy/ui/NewCandy_con.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{794,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{794,143}</string>
			</dict>
			<key>NewCandy/ui/NewCandy_Effect_tanchuangsg_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{699,692},{26,34}}</string>
				<key>offset</key>
				<string>{-265,23}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{561,102}</string>
			</dict>
			<key>NewCandy/ui/NewCandy_Effect_tanchuangsg_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{83,480},{66,80}}</string>
				<key>offset</key>
				<string>{-247,9}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{561,102}</string>
			</dict>
			<key>NewCandy/ui/NewCandy_Effect_tanchuangsg_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{125,395},{112,83}}</string>
				<key>offset</key>
				<string>{-224,9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{561,102}</string>
			</dict>
			<key>NewCandy/ui/NewCandy_Effect_tanchuangsg_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{171,307},{161,86}}</string>
				<key>offset</key>
				<string>{-200,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{561,102}</string>
			</dict>
			<key>NewCandy/ui/NewCandy_Effect_tanchuangsg_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{192,796},{192,97}}</string>
				<key>offset</key>
				<string>{-168,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{561,102}</string>
			</dict>
			<key>NewCandy/ui/NewCandy_Effect_tanchuangsg_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{291,796},{200,92}}</string>
				<key>offset</key>
				<string>{-118,-5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{561,102}</string>
			</dict>
			<key>NewCandy/ui/NewCandy_Effect_tanchuangsg_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{267,1052},{190,95}}</string>
				<key>offset</key>
				<string>{-74,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{561,102}</string>
			</dict>
			<key>NewCandy/ui/NewCandy_Effect_tanchuangsg_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{91,796},{203,99}}</string>
				<key>offset</key>
				<string>{-34,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{561,102}</string>
			</dict>
			<key>NewCandy/ui/NewCandy_Effect_tanchuangsg_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{385,796},{197,83}}</string>
				<key>offset</key>
				<string>{24,10}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{561,102}</string>
			</dict>
			<key>NewCandy/ui/NewCandy_Effect_tanchuangsg_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{364,1201},{193,84}}</string>
				<key>offset</key>
				<string>{67,9}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{561,102}</string>
			</dict>
			<key>NewCandy/ui/NewCandy_Effect_tanchuangsg_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{267,1244},{194,77}}</string>
				<key>offset</key>
				<string>{114,7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{561,102}</string>
			</dict>
			<key>NewCandy/ui/NewCandy_Effect_tanchuangsg_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{385,995},{204,80}}</string>
				<key>offset</key>
				<string>{166,8}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{561,102}</string>
			</dict>
			<key>NewCandy/ui/NewCandy_Effect_tanchuangsg_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,307},{168,83}}</string>
				<key>offset</key>
				<string>{197,10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{561,102}</string>
			</dict>
			<key>NewCandy/ui/NewCandy_Effect_tanchuangsg_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,392},{122,83}}</string>
				<key>offset</key>
				<string>{220,10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{561,102}</string>
			</dict>
			<key>NewCandy/ui/NewCandy_Effect_tanchuangsg_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,477},{75,80}}</string>
				<key>offset</key>
				<string>{243,9}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{561,102}</string>
			</dict>
			<key>NewCandy/ui/NewCandy_Effect_tanchuangsg_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{699,634},{23,56}}</string>
				<key>offset</key>
				<string>{265,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{561,102}</string>
			</dict>
			<key>NewCandy/ui/NewCandy_jackpotwenzi.png</key>
			<dict>
				<key>frame</key>
				<string>{{558,146},{561,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{561,88}</string>
			</dict>
			<key>NewCandy/ui/NewCandy_jackpotwenzi01.png</key>
			<dict>
				<key>frame</key>
				<string>{{648,146},{486,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{486,84}</string>
			</dict>
			<key>NewCandy/ui/NewCandy_jackpotwenzi02.png</key>
			<dict>
				<key>frame</key>
				<string>{{382,146},{648,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{648,86}</string>
			</dict>
			<key>NewCandy/ui/NewCandy_jackpotwenzi03.png</key>
			<dict>
				<key>frame</key>
				<string>{{470,146},{644,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{644,86}</string>
			</dict>
			<key>NewCandy/ui/NewCandy_won.png</key>
			<dict>
				<key>frame</key>
				<string>{{467,1190},{193,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{193,47}</string>
			</dict>
			<key>NewCandy/ui/NewCandy_xiawenzi.png</key>
			<dict>
				<key>frame</key>
				<string>{{239,395},{155,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{155,53}</string>
			</dict>
			<key>NewCandy/ui/NewCandy_xiawenzi01.png</key>
			<dict>
				<key>frame</key>
				<string>{{734,146},{771,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{771,49}</string>
			</dict>
			<key>NewCandy/ui/NewCandy_xiawenzi02.png</key>
			<dict>
				<key>frame</key>
				<string>{{648,634},{599,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{599,49}</string>
			</dict>
			<key>NewCandy/ui/NewCandy_xiawenzi03.png</key>
			<dict>
				<key>frame</key>
				<string>{{470,792},{396,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{396,45}</string>
			</dict>
			<key>NewCandy/ui/NewCandy_xiawenzi04.png</key>
			<dict>
				<key>frame</key>
				<string>{{91,1001},{249,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{249,49}</string>
			</dict>
			<key>NewCandy/ui/NewCandy_guang.png</key>
			<dict>
				<key>frame</key>
				<string>{{797,1},{438,225}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{438,225}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>NewCandy_UI_Plist2.png</string>
			<key>realTextureFileName</key>
			<string>NewCandy_UI_Plist2.png</string>
			<key>size</key>
			<string>{1236,1439}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1236</integer>
			<key>height</key>
			<integer>1439</integer>
		</dict>
	</dict>
</plist>