<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>NewCandy/ui/NewCandy_Effect_kg_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{125,257}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,257}</string>
			</dict>
			<key>NewCandy/ui/NewCandy_Effect_kg_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,260},{125,257}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,257}</string>
			</dict>
			<key>NewCandy/ui/NewCandy_Effect_kg_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,519},{125,257}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,257}</string>
			</dict>
			<key>NewCandy/ui/NewCandy_Effect_kg_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,778},{125,257}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,257}</string>
			</dict>
			<key>NewCandy/ui/NewCandy_Effect_kg_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{388,1},{125,257}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,257}</string>
			</dict>
			<key>NewCandy/ui/NewCandy_Effect_kg_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,1},{125,257}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,257}</string>
			</dict>
			<key>NewCandy/ui/NewCandy_Effect_kg_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{128,1},{125,257}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,257}</string>
			</dict>
			<key>NewCandy/ui/NewCandy_Effect_kg_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{647,1},{125,257}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,257}</string>
			</dict>
			<key>NewCandy/ui/NewCandy_Effect_kg_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,128},{125,257}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,257}</string>
			</dict>
			<key>NewCandy/ui/NewCandy_Effect_kg_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,128},{125,257}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,257}</string>
			</dict>
			<key>NewCandy/ui/NewCandy_Effect_kg_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,255},{125,257}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,257}</string>
			</dict>
			<key>NewCandy/ui/NewCandy_Effect_kg_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,260},{125,257}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,257}</string>
			</dict>
			<key>NewCandy/ui/NewCandy_Effect_kg_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{128,260},{125,257}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,257}</string>
			</dict>
			<key>NewCandy/ui/NewCandy_Effect_kg_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,255},{125,257}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,257}</string>
			</dict>
			<key>NewCandy/ui/NewCandy_Effect_kg_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{128,519},{125,257}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,257}</string>
			</dict>
			<key>NewCandy/ui/NewCandy_Effect_kg_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{255,519},{125,257}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,257}</string>
			</dict>
			<key>NewCandy/ui/NewCandy_Effect_kg_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,778},{125,257}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,257}</string>
			</dict>
			<key>NewCandy/ui/NewCandy_Effect_kg_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{382,519},{125,257}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,257}</string>
			</dict>
			<key>NewCandy/ui/NewCandy_Effect_kg_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,382},{125,257}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,257}</string>
			</dict>
			<key>NewCandy/ui/NewCandy_Effect_kg_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{509,509},{125,257}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,257}</string>
			</dict>
			<key>NewCandy/ui/NewCandy_Effect_zj_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,905},{127,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,105}</string>
			</dict>
			<key>NewCandy/ui/NewCandy_Effect_zj_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,905},{127,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,105}</string>
			</dict>
			<key>NewCandy/ui/NewCandy_Effect_zj_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{259,905},{127,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,105}</string>
			</dict>
			<key>NewCandy/ui/NewCandy_Effect_zj_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{906,1},{127,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{127,105}</string>
			</dict>
			<key>NewCandy/ui/NewCandy_Effect_zj_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{905,130},{127,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{127,105}</string>
			</dict>
			<key>NewCandy/ui/NewCandy_Effect_zj_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{905,259},{127,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{127,105}</string>
			</dict>
			<key>NewCandy/ui/NewCandy_Effect_zj_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{388,905},{127,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,105}</string>
			</dict>
			<key>NewCandy/ui/NewCandy_Effect_zj_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{517,905},{127,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,105}</string>
			</dict>
			<key>NewCandy/ui/NewCandy_Effect_zj_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{519,768},{127,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{127,105}</string>
			</dict>
			<key>NewCandy/ui/NewCandy_Effect_zj_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{626,768},{127,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{127,105}</string>
			</dict>
			<key>NewCandy/ui/NewCandy_Effect_zj_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,897},{127,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,105}</string>
			</dict>
			<key>NewCandy/ui/NewCandy_Effect_zj_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{775,382},{127,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,105}</string>
			</dict>
			<key>NewCandy/ui/NewCandy_Effect_zj_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,382},{127,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,105}</string>
			</dict>
			<key>NewCandy/ui/NewCandy_Effect_zj_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{904,388},{127,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{127,105}</string>
			</dict>
			<key>NewCandy/ui/NewCandy_Effect_zj_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{775,489},{127,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,105}</string>
			</dict>
			<key>NewCandy/ui/NewCandy_Effect_zj_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,489},{127,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,105}</string>
			</dict>
			<key>NewCandy/ui/NewCandy_Effect_zj_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{904,517},{127,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{127,105}</string>
			</dict>
			<key>NewCandy/ui/NewCandy_Effect_zj_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{636,596},{127,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{127,105}</string>
			</dict>
			<key>NewCandy/ui/NewCandy_Effect_zj_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{743,596},{127,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,105}</string>
			</dict>
			<key>NewCandy/ui/NewCandy_Effect_zj_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{733,725},{127,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{127,105}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>NewCandy_Effect_Plist.png</string>
			<key>realTextureFileName</key>
			<string>NewCandy_Effect_Plist.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>