<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>NewCandy/ui/NewCandy_norbg_cheng.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,473},{399,409}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{399,409}</string>
			</dict>
			<key>NewCandy/ui/NewCandy_fsbg_xing.png</key>
			<dict>
				<key>frame</key>
				<string>{{869,2},{94,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,71}</string>
			</dict>
			<key>NewCandy/ui/NewCandy_bg2cheng.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,473},{306,409}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{306,409}</string>
			</dict>
			<key>NewCandy/paytable/NewCandy_p1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{863,467}}</string>
				<key>offset</key>
				<string>{4,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1002,475}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>NewCandy_BGUI_Plist1.png</string>
			<key>realTextureFileName</key>
			<string>NewCandy_BGUI_Plist1.png</string>
			<key>size</key>
			<string>{965,884}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>965</integer>
			<key>height</key>
			<integer>884</integer>
		</dict>
	</dict>
</plist>