<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>frame/role4/idle/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{271,146},{202,148}}</string>
				<key>offset</key>
				<string>{-3,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{380,320}</string>
			</dict>
			<key>frame/role4/idle/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{760,483},{202,147}}</string>
				<key>offset</key>
				<string>{-4,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{380,320}</string>
			</dict>
			<key>frame/role4/idle/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{760,333},{201,148}}</string>
				<key>offset</key>
				<string>{-4,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{380,320}</string>
			</dict>
			<key>frame/role4/move/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{568,787},{182,153}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{380,320}</string>
			</dict>
			<key>frame/role4/move/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,447},{185,155}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{380,320}</string>
			</dict>
			<key>frame/role4/move/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{190,604},{188,151}}</string>
				<key>offset</key>
				<string>{-3,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{380,320}</string>
			</dict>
			<key>frame/role4/move/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,450},{187,153}}</string>
				<key>offset</key>
				<string>{-10,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{380,320}</string>
			</dict>
			<key>frame/role4/move/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{408,430},{182,158}}</string>
				<key>offset</key>
				<string>{-14,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{380,320}</string>
			</dict>
			<key>frame/role4/move/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{857,632},{179,157}}</string>
				<key>offset</key>
				<string>{-16,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{380,320}</string>
			</dict>
			<key>frame/role4/move/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{671,632},{184,153}}</string>
				<key>offset</key>
				<string>{-10,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{380,320}</string>
			</dict>
			<key>frame/role4/move/8.png</key>
			<dict>
				<key>frame</key>
				<string>{{380,733},{186,151}}</string>
				<key>offset</key>
				<string>{-3,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{380,320}</string>
			</dict>
			<key>frame/role4/attack/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{209,296},{197,149}}</string>
				<key>offset</key>
				<string>{10,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{380,320}</string>
			</dict>
			<key>frame/role4/attack/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{475,282},{204,146}}</string>
				<key>offset</key>
				<string>{18,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{380,320}</string>
			</dict>
			<key>frame/role4/attack/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,811},{128,158}}</string>
				<key>offset</key>
				<string>{-6,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{380,320}</string>
			</dict>
			<key>frame/role4/attack/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{331,886},{134,148}}</string>
				<key>offset</key>
				<string>{-54,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{380,320}</string>
			</dict>
			<key>frame/role4/attack/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{142,757},{187,149}}</string>
				<key>offset</key>
				<string>{-80,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{380,320}</string>
			</dict>
			<key>frame/role4/attack/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{770,159},{172,182}}</string>
				<key>offset</key>
				<string>{-68,15}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{380,320}</string>
			</dict>
			<key>frame/role4/attack/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{723,813},{141,151}}</string>
				<key>offset</key>
				<string>{-49,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{380,320}</string>
			</dict>
			<key>frame/role4/attack/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,605},{204,139}}</string>
				<key>offset</key>
				<string>{32,-16}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{380,320}</string>
			</dict>
			<key>frame/role4/attack/8.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,590},{203,141}}</string>
				<key>offset</key>
				<string>{33,-16}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{380,320}</string>
			</dict>
			<key>frame/role4/attack/9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,154},{206,143}}</string>
				<key>offset</key>
				<string>{22,-10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{380,320}</string>
			</dict>
			<key>frame/role4/dead/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,299},{197,149}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{380,320}</string>
			</dict>
			<key>frame/role4/dead/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{801,1},{213,156}}</string>
				<key>offset</key>
				<string>{-48,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{380,320}</string>
			</dict>
			<key>frame/role4/dead/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{268,151}}</string>
				<key>offset</key>
				<string>{-51,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{380,320}</string>
			</dict>
			<key>frame/role4/dead/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{271,1},{260,143}}</string>
				<key>offset</key>
				<string>{-50,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{380,320}</string>
			</dict>
			<key>frame/role4/dead/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{533,1},{266,138}}</string>
				<key>offset</key>
				<string>{-42,-18}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{380,320}</string>
			</dict>
			<key>frame/role4/dead/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{533,141},{235,139}}</string>
				<key>offset</key>
				<string>{-59,-15}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{380,320}</string>
			</dict>
			<key>frame/role4/dead/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{681,282},{206,77}}</string>
				<key>offset</key>
				<string>{-72,-39}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{380,320}</string>
			</dict>
			<key>frame/role4/dead/8.png</key>
			<dict>
				<key>frame</key>
				<string>{{592,430},{206,77}}</string>
				<key>offset</key>
				<string>{-72,-39}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{380,320}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>FenShuiPlist4.png</string>
			<key>realTextureFileName</key>
			<string>FenShuiPlist4.png</string>
			<key>size</key>
			<string>{1015,1021}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1015</integer>
			<key>height</key>
			<integer>1021</integer>
		</dict>
	</dict>
</plist>