<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>frame/role2/attack/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{164,434},{162,143}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{380,320}</string>
			</dict>
			<key>frame/role2/attack/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{671,437},{137,141}}</string>
				<key>offset</key>
				<string>{17,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{380,320}</string>
			</dict>
			<key>frame/role2/attack/11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,435},{162,143}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{380,320}</string>
			</dict>
			<key>frame/role2/attack/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{888,1},{120,148}}</string>
				<key>offset</key>
				<string>{0,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{380,320}</string>
			</dict>
			<key>frame/role2/attack/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,599},{85,178}}</string>
				<key>offset</key>
				<string>{-19,21}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{380,320}</string>
			</dict>
			<key>frame/role2/attack/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{146,579},{93,177}}</string>
				<key>offset</key>
				<string>{-28,21}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{380,320}</string>
			</dict>
			<key>frame/role2/attack/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{532,144},{167,143}}</string>
				<key>offset</key>
				<string>{-26,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{380,320}</string>
			</dict>
			<key>frame/role2/attack/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{504,435},{165,138}}</string>
				<key>offset</key>
				<string>{12,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{380,320}</string>
			</dict>
			<key>frame/role2/attack/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{846,315},{150,136}}</string>
				<key>offset</key>
				<string>{12,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{380,320}</string>
			</dict>
			<key>frame/role2/attack/8.png</key>
			<dict>
				<key>frame</key>
				<string>{{328,576},{121,138}}</string>
				<key>offset</key>
				<string>{8,-10}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{380,320}</string>
			</dict>
			<key>frame/role2/attack/9.png</key>
			<dict>
				<key>frame</key>
				<string>{{504,575},{139,138}}</string>
				<key>offset</key>
				<string>{12,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{380,320}</string>
			</dict>
			<key>frame/role2/dead/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{864,151},{162,143}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{380,320}</string>
			</dict>
			<key>frame/role2/dead/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,288},{161,145}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{380,320}</string>
			</dict>
			<key>frame/role2/dead/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{355,283},{162,145}}</string>
				<key>offset</key>
				<string>{-2,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{380,320}</string>
			</dict>
			<key>frame/role2/dead/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{519,289},{161,144}}</string>
				<key>offset</key>
				<string>{-3,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{380,320}</string>
			</dict>
			<key>frame/role2/idle/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{682,292},{162,143}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{380,320}</string>
			</dict>
			<key>frame/role2/idle/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{701,145},{161,145}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{380,320}</string>
			</dict>
			<key>frame/role2/idle/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{177,287},{162,145}}</string>
				<key>offset</key>
				<string>{-2,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{380,320}</string>
			</dict>
			<key>frame/role2/idle/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{341,430},{161,144}}</string>
				<key>offset</key>
				<string>{-3,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{380,320}</string>
			</dict>
			<key>frame/role2/move/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{175,142}}</string>
				<key>offset</key>
				<string>{-1,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{380,320}</string>
			</dict>
			<key>frame/role2/move/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{178,1},{176,141}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{380,320}</string>
			</dict>
			<key>frame/role2/move/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{356,1},{176,141}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{380,320}</string>
			</dict>
			<key>frame/role2/move/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{534,1},{176,141}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{380,320}</string>
			</dict>
			<key>frame/role2/move/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{712,1},{174,142}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{380,320}</string>
			</dict>
			<key>frame/role2/move/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{178,144},{175,141}}</string>
				<key>offset</key>
				<string>{-1,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{380,320}</string>
			</dict>
			<key>frame/role2/move/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{355,144},{175,137}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{380,320}</string>
			</dict>
			<key>frame/role2/move/8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,145},{174,141}}</string>
				<key>offset</key>
				<string>{-1,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{380,320}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>FenShuiPlist2.png</string>
			<key>realTextureFileName</key>
			<string>FenShuiPlist2.png</string>
			<key>size</key>
			<string>{1009,778}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1009</integer>
			<key>height</key>
			<integer>778</integer>
		</dict>
	</dict>
</plist>