<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ui/RedDiamond_50.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2031},{17,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{17,50}</string>
			</dict>
			<key>ui/RedDiamond_bonus_kuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1231},{176,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{176,57}</string>
			</dict>
			<key>ui/RedDiamond_cishu_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{428,1913},{46,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>
			<key>ui/RedDiamond_cishu_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1888,1812},{46,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>
			<key>ui/RedDiamond_cishu_3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{117,1930},{26,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{26,39}</string>
			</dict>
			<key>ui/RedDiamond_cishu_3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{383,1925},{38,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,41}</string>
			</dict>
			<key>ui/RedDiamond_cishu_3_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1930},{34,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{34,39}</string>
			</dict>
			<key>ui/RedDiamond_cishu_3_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{39,1930},{32,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{32,39}</string>
			</dict>
			<key>ui/RedDiamond_cishu_3_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{78,1930},{29,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{29,39}</string>
			</dict>
			<key>ui/RedDiamond_cishulan.png</key>
			<dict>
				<key>frame</key>
				<string>{{1607,1899},{436,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{436,41}</string>
			</dict>
			<key>ui/RedDiamond_COINS_IN.png</key>
			<dict>
				<key>frame</key>
				<string>{{320,1825},{170,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{170,43}</string>
			</dict>
			<key>ui/RedDiamond_collect_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1825},{320,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,105}</string>
			</dict>
			<key>ui/RedDiamond_collect_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{1607,1624},{320,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,105}</string>
			</dict>
			<key>ui/RedDiamond_CONGRATULAIONS.png</key>
			<dict>
				<key>frame</key>
				<string>{{734,1967},{672,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{672,64}</string>
			</dict>
			<key>ui/RedDiamond_Dkuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1472},{704,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{704,152}</string>
			</dict>
			<key>ui/RedDiamond_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{2034,1363},{50,13}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,13}</string>
			</dict>
			<key>ui/RedDiamond_EXTRA.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1967},{734,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{734,64}</string>
			</dict>
			<key>ui/RedDiamond_feature.png</key>
			<dict>
				<key>frame</key>
				<string>{{905,994},{384,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{384,76}</string>
			</dict>
			<key>ui/RedDiamond_free.png</key>
			<dict>
				<key>frame</key>
				<string>{{1937,1229},{222,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{222,76}</string>
			</dict>
			<key>ui/RedDiamond_FREE_SPINS.png</key>
			<dict>
				<key>frame</key>
				<string>{{653,1624},{228,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{228,43}</string>
			</dict>
			<key>ui/RedDiamond_games.png</key>
			<dict>
				<key>frame</key>
				<string>{{1607,1729},{293,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{293,76}</string>
			</dict>
			<key>ui/RedDiamond_jackpot_top.png</key>
			<dict>
				<key>frame</key>
				<string>{{788,0},{1212,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1212,92}</string>
			</dict>
			<key>ui/RedDiamond_Javkopt_grand.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1067},{522,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{522,164}</string>
			</dict>
			<key>ui/RedDiamond_Javkopt_major.png</key>
			<dict>
				<key>frame</key>
				<string>{{912,92},{572,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{572,164}</string>
			</dict>
			<key>ui/RedDiamond_Javkopt_mini.png</key>
			<dict>
				<key>frame</key>
				<string>{{493,1624},{340,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{340,160}</string>
			</dict>
			<key>ui/RedDiamond_Javkopt_minor.png</key>
			<dict>
				<key>frame</key>
				<string>{{522,1172},{498,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{498,164}</string>
			</dict>
			<key>ui/RedDiamond_left_right.png</key>
			<dict>
				<key>frame</key>
				<string>{{842,1086},{62,525}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{62,525}</string>
			</dict>
			<key>ui/RedDiamond_lock.png</key>
			<dict>
				<key>frame</key>
				<string>{{1937,994},{235,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{235,80}</string>
			</dict>
			<key>ui/RedDiamond_Lock_feature.png</key>
			<dict>
				<key>frame</key>
				<string>{{1981,1472},{427,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{427,43}</string>
			</dict>
			<key>ui/RedDiamond_MORE.png</key>
			<dict>
				<key>frame</key>
				<string>{{653,1852},{115,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{115,43}</string>
			</dict>
			<key>ui/RedDiamond_reel.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1624},{201,493}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{201,493}</string>
			</dict>
			<key>ui/RedDiamond_reel_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{704,1472},{208,495}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{208,495}</string>
			</dict>
			<key>ui/RedDiamond_reel_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1406,1472},{201,491}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{201,491}</string>
			</dict>
			<key>ui/RedDiamond_SELECT.png</key>
			<dict>
				<key>frame</key>
				<string>{{788,92},{975,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{975,88}</string>
			</dict>
			<key>ui/RedDiamond_shang.png</key>
			<dict>
				<key>frame</key>
				<string>{{2000,0},{994,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{994,29}</string>
			</dict>
			<key>ui/RedDiamond_Start_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{522,1067},{320,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,105}</string>
			</dict>
			<key>ui/RedDiamond_Start_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{1832,994},{320,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{320,105}</string>
			</dict>
			<key>ui/RedDiamond_suo1.png</key>
			<dict>
				<key>frame</key>
				<string>{{320,1868},{63,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{63,86}</string>
			</dict>
			<key>ui/RedDiamond_suo2.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,1930},{20,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,23}</string>
			</dict>
			<key>ui/RedDiamond_super.png</key>
			<dict>
				<key>frame</key>
				<string>{{1607,1812},{281,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{281,80}</string>
			</dict>
			<key>ui/RedDiamond_tiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{2045,0},{3,494}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{3,494}</string>
			</dict>
			<key>ui/RedDiamond_tiao_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2045,494},{3,494}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{3,494}</string>
			</dict>
			<key>ui/RedDiamond_top.png</key>
			<dict>
				<key>frame</key>
				<string>{{2029,0},{983,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{983,16}</string>
			</dict>
			<key>ui/RedDiamond_ui_BG_guang.png</key>
			<dict>
				<key>frame</key>
				<string>{{1406,1963},{615,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{615,85}</string>
			</dict>
			<key>ui/RedDiamond_x_zuanshi.png</key>
			<dict>
				<key>frame</key>
				<string>{{383,1868},{45,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,57}</string>
			</dict>
			<key>ui/RedDiamond_xia.png</key>
			<dict>
				<key>frame</key>
				<string>{{876,92},{994,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{994,29}</string>
			</dict>
			<key>ui/RedDiamond_xian1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2034,983},{212,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{212,10}</string>
			</dict>
			<key>ui/RedDiamond_xian2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2034,1195},{10,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,168}</string>
			</dict>
			<key>ui/RedDiamond_xiaoBonus.png</key>
			<dict>
				<key>frame</key>
				<string>{{428,1868},{53,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,45}</string>
			</dict>
			<key>ui/RedDiamond_Xkuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{1607,1472},{374,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{374,152}</string>
			</dict>
			<key>ui/RedDiamond_you.png</key>
			<dict>
				<key>frame</key>
				<string>{{1289,994},{40,543}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{40,543}</string>
			</dict>
			<key>ui/RedDiamond_you_won.png</key>
			<dict>
				<key>frame</key>
				<string>{{1927,1624},{188,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{188,41}</string>
			</dict>
			<key>ui/RedDiamond_zhong.png</key>
			<dict>
				<key>frame</key>
				<string>{{2029,983},{5,489}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{5,489}</string>
			</dict>
			<key>ui/RedDiamond_zuo.png</key>
			<dict>
				<key>frame</key>
				<string>{{1367,92},{38,543}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,543}</string>
			</dict>
			<key>ui/RedDiamond_wild_kuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{788,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{788,160}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>RedDiamond_UI_Picture.png</string>
			<key>realTextureFileName</key>
			<string>RedDiamond_UI_Picture.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>