<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Symbol/RedDiamond_bonus/bonus_red_chufa_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,900},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_red_chufa_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,900},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_red_chufa_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,900},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_red_chufa_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,900},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_red_chufa_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{400,900},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_red_chufa_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{500,900},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_red_chufa_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{600,900},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_red_chufa_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{700,900},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_red_chufa_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{800,900},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_red_chufa_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{900,900},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_red_chufa_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1000,900},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_red_chufa_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1100,900},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_red_chufa_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1200,425},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_red_chufa_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1300,425},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_red_chufa_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1200,525},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_red_chufa_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1300,525},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_red_chufa_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1750,375},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_red_chufa_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{1850,375},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_red_chufa_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{1750,475},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_red_chufa_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{1850,475},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_red_chufa_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{1575,500},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_red_chufa_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{1400,535},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_red_chufa_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{1200,625},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_red_chufa_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{1300,625},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_red_dajiangchufa_bao15.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_red_dajiangchufa_bao16.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,300},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_red_dajiangchufa_bao17.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,600},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_red_dajiangchufa_bao18.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,0},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_red_dajiangchufa_bao19.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,300},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_red_dajiangchufa_bao20.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,600},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_red_dajiangchufa_bao21.png</key>
			<dict>
				<key>frame</key>
				<string>{{600,0},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_red_dajiangchufa_bao22.png</key>
			<dict>
				<key>frame</key>
				<string>{{600,300},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_red_dajiangchufa_bao23.png</key>
			<dict>
				<key>frame</key>
				<string>{{600,600},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_red_dajiangchufa_bao24.png</key>
			<dict>
				<key>frame</key>
				<string>{{900,0},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_red_dajiangchufa_bao25.png</key>
			<dict>
				<key>frame</key>
				<string>{{900,300},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_red_dajiangchufa_bao26.png</key>
			<dict>
				<key>frame</key>
				<string>{{900,600},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_red_dajiangchufa_bao27.png</key>
			<dict>
				<key>frame</key>
				<string>{{1200,0},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_red_dajiangchufa_bglight_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1950,375},{105,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{105,90}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_red_dajiangchufa_bglight_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1950,480},{105,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{105,90}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_red_dajiangchufa_bglight_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1200,825},{105,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{105,90}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_red_dajiangchufa_bglight_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1290,825},{105,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{105,90}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_red_dajiangchufa_bglight_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1700,675},{105,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{105,90}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_red_dajiangchufa_bglight_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1200,930},{105,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{105,90}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_red_dajiangchufa_bglight_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1305,915},{105,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{105,90}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_red_dajiangchufa_bglight_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1805,685},{105,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{105,90}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_red_dajiangchufa_bglight_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{1700,765},{105,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{105,90}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_red_dajiangchufa_bglight_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1600,775},{105,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{105,90}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_red_idle_light_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1675,575},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_red_idle_light_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1500,600},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_red_idle_light_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1400,635},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_red_idle_light_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1200,725},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_red_idle_light_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1300,725},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_red_idle_light_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1775,575},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_red_idle_light_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1875,585},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_red_idle_light_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1600,675},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_red_idle_light_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{1500,700},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_red_idle_light_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{1400,735},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_red_dajiangchufa_onelight20.png</key>
			<dict>
				<key>frame</key>
				<string>{{1500,0},{160,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,166}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_red_dajiangchufa_zuanguang01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1666,0},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_red_dajiangchufa_zuanguang02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1791,0},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_red_dajiangchufa_zuanguang03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1916,0},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_red_dajiangchufa_zuanguang04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1666,125},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_red_dajiangchufa_zuanguang05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1500,160},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_red_dajiangchufa_zuanguang06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1791,125},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_red_dajiangchufa_zuanguang07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1916,125},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_red_dajiangchufa_zuanguang08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1625,250},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_red_dajiangchufa_zuanguang09.png</key>
			<dict>
				<key>frame</key>
				<string>{{1500,285},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_red_dajiangchufa_zuanguang10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1200,300},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_red_dajiangchufa_zuanguang11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1325,300},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_red_dajiangchufa_zuanguang12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1750,250},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_red_dajiangchufa_zuanguang13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1875,250},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_red_dajiangchufa_zuanguang14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1625,375},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_red_dajiangchufa_zuanguang15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1450,410},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>RedDiamond_Red_Effect.png</string>
			<key>realTextureFileName</key>
			<string>RedDiamond_Red_Effect.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>