<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Symbol/RedDiamond_kuangun/RedDiamond_kuaigun_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{840,0},{210,420}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{210,420}</string>
			</dict>
			<key>Symbol/RedDiamond_kuangun/RedDiamond_kuaigun_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1260,0},{210,420}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{210,420}</string>
			</dict>
			<key>Symbol/RedDiamond_kuangun/RedDiamond_kuaigun_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1680,0},{210,420}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,420}</string>
			</dict>
			<key>Symbol/RedDiamond_kuangun/RedDiamond_kuaigun_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{840,210},{210,420}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{210,420}</string>
			</dict>
			<key>Symbol/RedDiamond_kuangun/RedDiamond_kuaigun_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{396,350},{210,420}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{210,420}</string>
			</dict>
			<key>Symbol/RedDiamond_kuangun/RedDiamond_kuaigun_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,394},{210,420}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,420}</string>
			</dict>
			<key>Symbol/RedDiamond_kuangun/RedDiamond_kuaigun_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1260,210},{210,420}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{210,420}</string>
			</dict>
			<key>Symbol/RedDiamond_kuangun/RedDiamond_kuaigun_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{816,420},{210,420}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{210,420}</string>
			</dict>
			<key>Symbol/RedDiamond_kuangun/RedDiamond_kuaigun_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{379,560},{210,420}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{210,420}</string>
			</dict>
			<key>Symbol/RedDiamond_kuangun/RedDiamond_kuaigun_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1236,420},{210,420}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{210,420}</string>
			</dict>
			<key>Symbol/RedDiamond_kuangun/RedDiamond_kuaigun_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1656,420},{210,420}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,420}</string>
			</dict>
			<key>Symbol/RedDiamond_kuangun/RedDiamond_kuaigun_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{799,630},{210,420}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{210,420}</string>
			</dict>
			<key>Symbol/RedDiamond_kuangun/RedDiamond_kuaigun_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{335,770},{210,420}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{210,420}</string>
			</dict>
			<key>Symbol/RedDiamond_kuangun/RedDiamond_kuaigun_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,814},{210,420}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,420}</string>
			</dict>
			<key>Symbol/RedDiamond_kuangun/RedDiamond_kuaigun_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1219,630},{210,420}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{210,420}</string>
			</dict>
			<key>Symbol/RedDiamond_kuangun/RedDiamond_kuaigun_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{755,840},{210,420}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{210,420}</string>
			</dict>
			<key>Symbol/RedDiamond_kuangun/RedDiamond_kuaigun_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{335,980},{210,420}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{210,420}</string>
			</dict>
			<key>Symbol/RedDiamond_kuangun/RedDiamond_kuaigun_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1234},{210,420}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,420}</string>
			</dict>
			<key>Symbol/RedDiamond_kuangun/RedDiamond_kuaigun_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1654},{210,420}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{210,420}</string>
			</dict>
			<key>Symbol/RedDiamond_kuangun/RedDiamond_kuaigun_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,1286},{210,420}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{210,420}</string>
			</dict>
			<key>Symbol/RedDiamond_kuangun/RedDiamond_kuaigun_di.png</key>
			<dict>
				<key>frame</key>
				<string>{{1991,509},{53,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,123}</string>
			</dict>
			<key>Symbol/RedDiamond_zhongjiang/RedDiamond_zhongjiang_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1890,409},{125,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,100}</string>
			</dict>
			<key>Symbol/RedDiamond_zhongjiang/RedDiamond_zhongjiang_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,586},{125,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,100}</string>
			</dict>
			<key>Symbol/RedDiamond_zhongjiang/RedDiamond_zhongjiang_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,686},{125,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,100}</string>
			</dict>
			<key>Symbol/RedDiamond_zhongjiang/RedDiamond_zhongjiang_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1866,509},{125,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,100}</string>
			</dict>
			<key>Symbol/RedDiamond_zhongjiang/RedDiamond_zhongjiang_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1866,609},{125,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,100}</string>
			</dict>
			<key>Symbol/RedDiamond_zhongjiang/RedDiamond_zhongjiang_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1866,709},{125,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,100}</string>
			</dict>
			<key>Symbol/RedDiamond_zhongjiang/RedDiamond_zhongjiang_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1866,809},{125,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,100}</string>
			</dict>
			<key>Symbol/RedDiamond_zhongjiang/RedDiamond_zhongjiang_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,786},{125,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,100}</string>
			</dict>
			<key>Symbol/RedDiamond_zhongjiang/RedDiamond_zhongjiang_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,886},{125,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,100}</string>
			</dict>
			<key>Symbol/RedDiamond_zhongjiang/RedDiamond_zhongjiang_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,986},{125,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,100}</string>
			</dict>
			<key>Symbol/RedDiamond_zhongjiang/RedDiamond_zhongjiang_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,1086},{125,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,100}</string>
			</dict>
			<key>Symbol/RedDiamond_zhongjiang/RedDiamond_zhongjiang_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,1186},{125,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,100}</string>
			</dict>
			<key>Symbol/RedDiamond_zhongjiang/RedDiamond_zhongjiang_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1864},{125,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,100}</string>
			</dict>
			<key>Symbol/RedDiamond_zhongjiang/RedDiamond_zhongjiang_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,1864},{125,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,100}</string>
			</dict>
			<key>Symbol/RedDiamond_zhongjiang/RedDiamond_zhongjiang_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,1864},{125,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,100}</string>
			</dict>
			<key>Symbol/RedDiamond_zhongjiang/RedDiamond_zhongjiang_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,1864},{125,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,100}</string>
			</dict>
			<key>Symbol/RedDiamond_zhongjiang/RedDiamond_zhongjiang_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{400,1864},{125,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,100}</string>
			</dict>
			<key>Symbol/RedDiamond_zhongjiang/RedDiamond_zhongjiang_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,1496},{125,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,100}</string>
			</dict>
			<key>Symbol/RedDiamond_zhongjiang/RedDiamond_zhongjiang_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{310,1496},{125,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,100}</string>
			</dict>
			<key>Symbol/RedDiamond_zhongjiang/RedDiamond_zhongjiang_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{410,1496},{125,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,100}</string>
			</dict>
			<key>Symbol/xiaza/2019cherry_ReelEffect.png</key>
			<dict>
				<key>frame</key>
				<string>{{396,0},{350,444}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,444}</string>
			</dict>
			<key>Symbol/xiaza/2019cherry_wild2.png</key>
			<dict>
				<key>frame</key>
				<string>{{737,1829},{208,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{208,188}</string>
			</dict>
			<key>Symbol/xiaza/2019cherry_wild2_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{500,1829},{237,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{237,215}</string>
			</dict>
			<key>Symbol/xiaza/2019cherry_wild2_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{420,1621},{208,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{208,400}</string>
			</dict>
			<key>Symbol/RedDiamond_gouchang_guangquan_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,394},{192,169}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{192,169}</string>
			</dict>
			<key>Symbol/RedDiamond_guochang2_baoguang.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{396,394}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{396,394}</string>
			</dict>
			<key>Symbol/RedDiamond_guochang2_baoguangdian.png</key>
			<dict>
				<key>frame</key>
				<string>{{1890,281},{128,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,132}</string>
			</dict>
			<key>Symbol/RedDiamond_respinlight.png</key>
			<dict>
				<key>frame</key>
				<string>{{1890,0},{281,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{281,147}</string>
			</dict>
			<key>ui/RedDiamond_shan.png</key>
			<dict>
				<key>frame</key>
				<string>{{335,1190},{69,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{69,61}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>RedDiamond_Wild_Effect.png</string>
			<key>realTextureFileName</key>
			<string>RedDiamond_Wild_Effect.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>