<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ui/RedDiamond_Bonus_bg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,300},{226,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{226,188}</string>
			</dict>
			<key>ui/RedDiamond_Bonus_bg3.png</key>
			<dict>
				<key>frame</key>
				<string>{{237,508},{201,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{201,163}</string>
			</dict>
			<key>ui/RedDiamond_zuanshi.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,752},{208,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{208,188}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_red_luodi_xiaohongbaoshi.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_red_luodi_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{188,709},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_red_luodi_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{348,709},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_red_luodi_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{400,508},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_red_luodi_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{458,208},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_red_luodi_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{488,0},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_red_luodi_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{508,668},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_red_luodi_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{508,828},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_red_luodi_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{560,368},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_red_luodi_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{618,160},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_red_luodi_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{648,0},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_red_luodi_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{668,528},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_red_luodi_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{720,320},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_red_luodi_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{778,160},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>ui/RedDiamond_Bonus_bg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,526},{226,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{226,188}</string>
			</dict>
			<key>ui/RedDiamond_zsquan2.png</key>
			<dict>
				<key>frame</key>
				<string>{{270,300},{208,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{208,188}</string>
			</dict>
			<key>ui/RedDiamond_zsquan1.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,0},{208,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{208,188}</string>
			</dict>
			<key>ui/RedDiamond_MAJOR.png</key>
			<dict>
				<key>frame</key>
				<string>{{137,960},{133,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{133,49}</string>
			</dict>
			<key>ui/RedDiamond_MINI.png</key>
			<dict>
				<key>frame</key>
				<string>{{188,431},{93,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{93,49}</string>
			</dict>
			<key>ui/RedDiamond_MINOR.png</key>
			<dict>
				<key>frame</key>
				<string>{{188,300},{131,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{131,49}</string>
			</dict>
			<key>ui/RedDiamond_GRAND.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,960},{137,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,49}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>RedDiamone_Red_Bonus.png</string>
			<key>realTextureFileName</key>
			<string>RedDiamone_Red_Bonus.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>