<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Symbol/RedDiamond_bonus/bonus_gold_chufa_bglight01.png</key>
			<dict>
				<key>frame</key>
				<string>{{915,1615},{105,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{105,90}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_gold_chufa_bglight02.png</key>
			<dict>
				<key>frame</key>
				<string>{{915,1720},{105,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{105,90}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_gold_chufa_bglight03.png</key>
			<dict>
				<key>frame</key>
				<string>{{965,1825},{105,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{105,90}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_gold_chufa_bglight04.png</key>
			<dict>
				<key>frame</key>
				<string>{{965,1930},{105,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{105,90}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_gold_chufa_bglight05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1005,1615},{105,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{105,90}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_gold_chufa_bglight06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1005,1720},{105,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{105,90}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_gold_chufa_bglight07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1055,1825},{105,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{105,90}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_gold_chufa_bglight08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1055,1930},{105,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{105,90}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_gold_chufa_bglight09.png</key>
			<dict>
				<key>frame</key>
				<string>{{1015,1215},{105,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{105,90}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_gold_chufa_bglight10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1015,1320},{105,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{105,90}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_gold_chufa_zuanguang01.png</key>
			<dict>
				<key>frame</key>
				<string>{{340,1020},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_gold_chufa_zuanguang02.png</key>
			<dict>
				<key>frame</key>
				<string>{{340,1170},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_gold_chufa_zuanguang03.png</key>
			<dict>
				<key>frame</key>
				<string>{{340,1320},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_gold_chufa_zuanguang04.png</key>
			<dict>
				<key>frame</key>
				<string>{{340,1470},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_gold_chufa_zuanguang05.png</key>
			<dict>
				<key>frame</key>
				<string>{{340,1620},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_gold_chufa_zuanguang06.png</key>
			<dict>
				<key>frame</key>
				<string>{{340,1770},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_gold_chufa_zuanguang07.png</key>
			<dict>
				<key>frame</key>
				<string>{{490,1020},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_gold_chufa_zuanguang08.png</key>
			<dict>
				<key>frame</key>
				<string>{{490,1170},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_gold_chufa_zuanguang09.png</key>
			<dict>
				<key>frame</key>
				<string>{{490,1320},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_gold_chufa_zuanguang10.png</key>
			<dict>
				<key>frame</key>
				<string>{{490,1470},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_gold_chufa_zuanguang11.png</key>
			<dict>
				<key>frame</key>
				<string>{{490,1620},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_gold_chufa_zuanguang12.png</key>
			<dict>
				<key>frame</key>
				<string>{{490,1770},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_gold_chufa_zuanguang13.png</key>
			<dict>
				<key>frame</key>
				<string>{{640,1020},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_gold_chufa_zuanguang14.png</key>
			<dict>
				<key>frame</key>
				<string>{{680,340},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_gold_chufa_zuanguang15.png</key>
			<dict>
				<key>frame</key>
				<string>{{680,490},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_gold_chufa_zuanguang16.png</key>
			<dict>
				<key>frame</key>
				<string>{{680,640},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_gold_chufa_zuanguang17.png</key>
			<dict>
				<key>frame</key>
				<string>{{680,790},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_gold_chufa_zuanguang18.png</key>
			<dict>
				<key>frame</key>
				<string>{{640,1170},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_gold_chufa_zuanguang19.png</key>
			<dict>
				<key>frame</key>
				<string>{{640,1320},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_gold_chufa_zuanguang20.png</key>
			<dict>
				<key>frame</key>
				<string>{{640,1470},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_gold_chufa_zuanguang21.png</key>
			<dict>
				<key>frame</key>
				<string>{{640,1620},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_gold_chufa_zuanguang22.png</key>
			<dict>
				<key>frame</key>
				<string>{{640,1770},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_gold_chufa_zuanguang23.png</key>
			<dict>
				<key>frame</key>
				<string>{{790,940},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_gold_chufa_zuanguang24.png</key>
			<dict>
				<key>frame</key>
				<string>{{830,340},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_gold_dajiangchufa_baoxing15.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{340,340}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{340,340}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_gold_dajiangchufa_baoxing16.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,340},{340,340}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{340,340}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_gold_dajiangchufa_baoxing17.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,680},{340,340}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{340,340}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_gold_dajiangchufa_baoxing18.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1020},{340,340}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{340,340}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_gold_dajiangchufa_baoxing19.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1360},{340,340}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{340,340}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_gold_dajiangchufa_baoxing20.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1700},{340,340}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{340,340}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_gold_dajiangchufa_baoxing21.png</key>
			<dict>
				<key>frame</key>
				<string>{{340,0},{340,340}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{340,340}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_gold_dajiangchufa_baoxing22.png</key>
			<dict>
				<key>frame</key>
				<string>{{680,0},{340,340}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{340,340}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_gold_dajiangchufa_baoxing23.png</key>
			<dict>
				<key>frame</key>
				<string>{{1020,0},{340,340}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{340,340}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_gold_dajiangchufa_baoxing24.png</key>
			<dict>
				<key>frame</key>
				<string>{{1360,0},{340,340}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{340,340}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_gold_dajiangchufa_baoxing25.png</key>
			<dict>
				<key>frame</key>
				<string>{{1700,0},{340,340}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{340,340}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_gold_dajiangchufa_baoxing26.png</key>
			<dict>
				<key>frame</key>
				<string>{{340,340},{340,340}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{340,340}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_gold_dajiangchufa_baoxing27.png</key>
			<dict>
				<key>frame</key>
				<string>{{340,680},{340,340}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{340,340}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_gold_dajiangchufa_zuanguang01.png</key>
			<dict>
				<key>frame</key>
				<string>{{340,1920},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_gold_dajiangchufa_zuanguang02.png</key>
			<dict>
				<key>frame</key>
				<string>{{465,1920},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_gold_dajiangchufa_zuanguang03.png</key>
			<dict>
				<key>frame</key>
				<string>{{590,1920},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_gold_dajiangchufa_zuanguang04.png</key>
			<dict>
				<key>frame</key>
				<string>{{715,1920},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_gold_dajiangchufa_zuanguang05.png</key>
			<dict>
				<key>frame</key>
				<string>{{830,490},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_gold_dajiangchufa_zuanguang06.png</key>
			<dict>
				<key>frame</key>
				<string>{{830,615},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_gold_dajiangchufa_zuanguang07.png</key>
			<dict>
				<key>frame</key>
				<string>{{830,740},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_gold_dajiangchufa_zuanguang08.png</key>
			<dict>
				<key>frame</key>
				<string>{{790,1090},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_gold_dajiangchufa_zuanguang09.png</key>
			<dict>
				<key>frame</key>
				<string>{{790,1215},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_gold_dajiangchufa_zuanguang10.png</key>
			<dict>
				<key>frame</key>
				<string>{{790,1340},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_gold_dajiangchufa_zuanguang11.png</key>
			<dict>
				<key>frame</key>
				<string>{{790,1465},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_gold_dajiangchufa_zuanguang12.png</key>
			<dict>
				<key>frame</key>
				<string>{{790,1590},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_gold_dajiangchufa_zuanguang13.png</key>
			<dict>
				<key>frame</key>
				<string>{{790,1715},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_gold_dajiangchufa_zuanguang14.png</key>
			<dict>
				<key>frame</key>
				<string>{{840,1840},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_gold_dajiangchufa_zuanguang15.png</key>
			<dict>
				<key>frame</key>
				<string>{{915,1090},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_red_idle_light_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{940,865},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_red_idle_light_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{940,965},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_red_idle_light_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{955,490},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_red_idle_light_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{980,340},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_red_idle_light_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{955,590},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_red_idle_light_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{955,690},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_red_idle_light_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{915,1215},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_red_idle_light_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{915,1315},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_red_idle_light_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{915,1415},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_red_idle_light_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{915,1515},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>RedDiamond_Gold_Effect.png</string>
			<key>realTextureFileName</key>
			<string>RedDiamond_Gold_Effect.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>