<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Symbol/RedDiamond_bonus/bonus_gold_jiesuan_bao_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_gold_jiesuan_bao_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,300},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_gold_jiesuan_bao_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,600},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_gold_jiesuan_bao_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,0},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_gold_jiesuan_bao_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,300},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_gold_jiesuan_bao_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,600},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_gold_jiesuan_bao_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{600,0},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_gold_jiesuan_bao_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{600,300},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_red_jiesuan_bao_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{600,600},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_red_jiesuan_bao_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{900,0},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_red_jiesuan_bao_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{900,300},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_red_jiesuan_bao_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{900,600},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_red_jiesuan_bao_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1200,0},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_red_jiesuan_bao_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1500,0},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_red_jiesuan_bao_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1200,300},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/bonus_red_jiesuan_bao_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1200,600},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/RedDiamond_bonus_jiesuan_fly_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,900},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/RedDiamond_bonus_jiesuan_fly_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{120,900},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/RedDiamond_bonus_jiesuan_fly_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,900},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/RedDiamond_bonus_jiesuan_fly_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{360,900},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/RedDiamond_bonus_jiesuan_fly_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{480,900},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/RedDiamond_bonus_jiesuanGold_fly_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{600,900},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/RedDiamond_bonus_jiesuanGold_fly_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{720,900},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/RedDiamond_bonus_jiesuanGold_fly_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{840,900},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/RedDiamond_bonus_jiesuanGold_fly_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{960,900},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>Symbol/RedDiamond_bonus/RedDiamond_bonus_jiesuanGold_fly_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1080,900},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>RedDiamond_Bonus_Fly_Effect.png</string>
			<key>realTextureFileName</key>
			<string>RedDiamond_Bonus_Fly_Effect.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>