<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>image/shop/more.png</key>
			<dict>
				<key>frame</key>
				<string>{{237,571},{232,231}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{232,231}</string>
			</dict>
			<key>image/shop/morebg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,314},{234,360}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{234,360}</string>
			</dict>
			<key>image/shop/mediumbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{615,203},{234,360}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{234,360}</string>
			</dict>
			<key>image/shop/medium.png</key>
			<dict>
				<key>frame</key>
				<string>{{851,500},{230,169}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{230,169}</string>
			</dict>
			<key>image/shop/lessbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{517,565},{232,360}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{232,360}</string>
			</dict>
			<key>image/shop/less.png</key>
			<dict>
				<key>frame</key>
				<string>{{851,269},{229,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{229,137}</string>
			</dict>
			<key>image/shop/muchbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{372,204},{241,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{241,58}</string>
			</dict>
			<key>image/shop/goldbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{751,732},{260,259}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{260,259}</string>
			</dict>
			<key>image/game/999.png</key>
			<dict>
				<key>frame</key>
				<string>{{231,269},{203,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{203,40}</string>
			</dict>
			<key>image/game/9999.png</key>
			<dict>
				<key>frame</key>
				<string>{{257,213},{113,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,31}</string>
			</dict>
			<key>image/game/9999bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{324,142},{281,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{281,60}</string>
			</dict>
			<key>image/game/add.png</key>
			<dict>
				<key>frame</key>
				<string>{{665,142},{54,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,54}</string>
			</dict>
			<key>image/game/bet.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,269},{228,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{228,40}</string>
			</dict>
			<key>image/game/caishendao.png</key>
			<dict>
				<key>frame</key>
				<string>{{385,444},{125,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,130}</string>
			</dict>
			<key>image/game/choose.png</key>
			<dict>
				<key>frame</key>
				<string>{{436,264},{178,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{178,176}</string>
			</dict>
			<key>image/game/halfyuan.png</key>
			<dict>
				<key>frame</key>
				<string>{{132,213},{123,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{123,40}</string>
			</dict>
			<key>image/game/minus.png</key>
			<dict>
				<key>frame</key>
				<string>{{721,142},{54,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,54}</string>
			</dict>
			<key>image/game/notebg.png</key>
			<dict>
				<key>frame</key>
				<string>{{237,311},{146,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{146,140}</string>
			</dict>
			<key>image/game/return.png</key>
			<dict>
				<key>frame</key>
				<string>{{607,142},{59,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{59,56}</string>
			</dict>
			<key>image/game/start.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,142},{321,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{321,69}</string>
			</dict>
			<key>image/game/startbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{895,1},{266,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{266,100}</string>
			</dict>
			<key>image/help/Continuous5.png</key>
			<dict>
				<key>frame</key>
				<string>{{997,1},{142,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{142,19}</string>
			</dict>
			<key>image/help/Goods.png</key>
			<dict>
				<key>frame</key>
				<string>{{997,242},{70,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,20}</string>
			</dict>
			<key>image/help/Help.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,213},{129,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,53}</string>
			</dict>
			<key>image/help/Mammon.png</key>
			<dict>
				<key>frame</key>
				<string>{{997,145},{95,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{95,17}</string>
			</dict>
			<key>image/help/shuoming.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{892,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{892,139}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Plist2.png</string>
			<key>realTextureFileName</key>
			<string>Plist2.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>