<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>image/loading/loading.png</key>
			<dict>
				<key>frame</key>
				<string>{{955,1},{769,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{769,42}</string>
			</dict>
			<key>image/loading/loadingbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,772},{875,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{875,82}</string>
			</dict>
			<key>image/start/button1.png</key>
			<dict>
				<key>frame</key>
				<string>{{878,652},{321,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{321,69}</string>
			</dict>
			<key>image/start/button2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,856},{321,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{321,69}</string>
			</dict>
			<key>image/start/button3.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,652},{96,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,98}</string>
			</dict>
			<key>image/start/button4.png</key>
			<dict>
				<key>frame</key>
				<string>{{197,652},{101,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,111}</string>
			</dict>
			<key>image/start/help.png</key>
			<dict>
				<key>frame</key>
				<string>{{522,707},{119,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{119,56}</string>
			</dict>
			<key>image/start/set.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,927},{93,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,45}</string>
			</dict>
			<key>image/start/start.png</key>
			<dict>
				<key>frame</key>
				<string>{{398,707},{122,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,56}</string>
			</dict>
			<key>image/set/close.png</key>
			<dict>
				<key>frame</key>
				<string>{{643,696},{49,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{49,44}</string>
			</dict>
			<key>image/set/music2.png</key>
			<dict>
				<key>frame</key>
				<string>{{593,888},{41,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{41,37}</string>
			</dict>
			<key>image/set/music1.png</key>
			<dict>
				<key>frame</key>
				<string>{{593,931},{41,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{41,37}</string>
			</dict>
			<key>image/set/musicbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{190,927},{89,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,41}</string>
			</dict>
			<key>image/set/set.png</key>
			<dict>
				<key>frame</key>
				<string>{{324,856},{195,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{195,52}</string>
			</dict>
			<key>image/buy/buy.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,910},{129,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,53}</string>
			</dict>
			<key>image/buy/no.png</key>
			<dict>
				<key>frame</key>
				<string>{{578,975},{179,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{179,39}</string>
			</dict>
			<key>image/buy/nobg.png</key>
			<dict>
				<key>frame</key>
				<string>{{632,856},{194,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{194,75}</string>
			</dict>
			<key>image/buy/yes.png</key>
			<dict>
				<key>frame</key>
				<string>{{759,975},{179,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{179,39}</string>
			</dict>
			<key>image/buy/yesbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,652},{194,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{194,75}</string>
			</dict>
			<key>image/shop/eighteen.png</key>
			<dict>
				<key>frame</key>
				<string>{{828,856},{75,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,42}</string>
			</dict>
			<key>image/shop/six.png</key>
			<dict>
				<key>frame</key>
				<string>{{606,652},{55,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,42}</string>
			</dict>
			<key>image/shop/twelve.png</key>
			<dict>
				<key>frame</key>
				<string>{{529,652},{75,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,42}</string>
			</dict>
			<key>image/buy/buybg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{649,301}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{649,301}</string>
			</dict>
			<key>image/set/setbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{652,1},{649,301}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{649,301}</string>
			</dict>
			<key>image/buy/close.png</key>
			<dict>
				<key>frame</key>
				<string>{{689,652},{49,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{49,44}</string>
			</dict>
			<key>image/buy/text.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,975},{410,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{410,41}</string>
			</dict>
			<key>image/loading/bt.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,304},{493,285}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{493,285}</string>
			</dict>
			<key>image/loading/Loadingtext.png</key>
			<dict>
				<key>frame</key>
				<string>{{413,975},{163,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{163,43}</string>
			</dict>
			<key>image/set/Off.png</key>
			<dict>
				<key>frame</key>
				<string>{{999,1},{21,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{21,12}</string>
			</dict>
			<key>image/set/On.png</key>
			<dict>
				<key>frame</key>
				<string>{{999,15},{18,11}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{18,11}</string>
			</dict>
			<key>image/set/Sound.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,927},{118,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,30}</string>
			</dict>
			<key>image/set/music.png</key>
			<dict>
				<key>frame</key>
				<string>{{521,856},{109,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,30}</string>
			</dict>
			<key>image/shop/close.png</key>
			<dict>
				<key>frame</key>
				<string>{{532,888},{66,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{66,59}</string>
			</dict>
			<key>image/shop/dollarbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{949,772},{240,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{240,52}</string>
			</dict>
			<key>image/shop/shop.png</key>
			<dict>
				<key>frame</key>
				<string>{{398,652},{129,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,53}</string>
			</dict>
			<key>image/start/shop.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,927},{92,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,45}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Plist1.png</string>
			<key>realTextureFileName</key>
			<string>Plist1.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>