<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>image/buy/bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{633,369}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{633,369}</string>
			</dict>
			<key>image/buy/no.png</key>
			<dict>
				<key>frame</key>
				<string>{{407,845},{163,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{163,90}</string>
			</dict>
			<key>image/buy/qianBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{983,667},{176,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{176,39}</string>
			</dict>
			<key>image/buy/text.png</key>
			<dict>
				<key>frame</key>
				<string>{{515,937},{246,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{246,49}</string>
			</dict>
			<key>image/buy/yes.png</key>
			<dict>
				<key>frame</key>
				<string>{{711,464},{163,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{163,90}</string>
			</dict>
			<key>image/over/back.png</key>
			<dict>
				<key>frame</key>
				<string>{{108,758},{134,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,62}</string>
			</dict>
			<key>image/over/continue.png</key>
			<dict>
				<key>frame</key>
				<string>{{763,845},{231,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{231,137}</string>
			</dict>
			<key>image/play/2dian.png</key>
			<dict>
				<key>frame</key>
				<string>{{409,720},{61,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,88}</string>
			</dict>
			<key>image/play/bei.png</key>
			<dict>
				<key>frame</key>
				<string>{{711,690},{128,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,179}</string>
			</dict>
			<key>image/play/coinBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,945},{255,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{255,55}</string>
			</dict>
			<key>image/play/pass.png</key>
			<dict>
				<key>frame</key>
				<string>{{883,284},{98,404}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,404}</string>
			</dict>
			<key>image/play/point.png</key>
			<dict>
				<key>frame</key>
				<string>{{996,845},{128,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,22}</string>
			</dict>
			<key>image/play/pointBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{636,284},{245,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{245,178}</string>
			</dict>
			<key>image/play/showCardText.png</key>
			<dict>
				<key>frame</key>
				<string>{{286,662},{122,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,56}</string>
			</dict>
			<key>image/rank/close.png</key>
			<dict>
				<key>frame</key>
				<string>{{620,571},{74,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,74}</string>
			</dict>
			<key>image/rank/defen.png</key>
			<dict>
				<key>frame</key>
				<string>{{711,820},{82,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{82,50}</string>
			</dict>
			<key>image/rank/paiming1.png</key>
			<dict>
				<key>frame</key>
				<string>{{472,761},{69,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{69,64}</string>
			</dict>
			<key>image/rank/paiming2.png</key>
			<dict>
				<key>frame</key>
				<string>{{500,372},{69,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,64}</string>
			</dict>
			<key>image/rank/paiming3.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,436},{69,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,64}</string>
			</dict>
			<key>image/rank/timeBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{572,372},{280,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{280,46}</string>
			</dict>
			<key>image/shop/1000coin.png</key>
			<dict>
				<key>frame</key>
				<string>{{983,284},{202,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{202,39}</string>
			</dict>
			<key>image/shop/12yuan.png</key>
			<dict>
				<key>frame</key>
				<string>{{711,556},{163,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{163,90}</string>
			</dict>
			<key>image/shop/18yuan.png</key>
			<dict>
				<key>frame</key>
				<string>{{194,565},{163,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{163,90}</string>
			</dict>
			<key>image/shop/300coin.png</key>
			<dict>
				<key>frame</key>
				<string>{{983,488},{177,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{177,39}</string>
			</dict>
			<key>image/shop/600coin.png</key>
			<dict>
				<key>frame</key>
				<string>{{819,984},{176,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,39}</string>
			</dict>
			<key>image/shop/6yuan.png</key>
			<dict>
				<key>frame</key>
				<string>{{244,730},{163,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{163,90}</string>
			</dict>
			<key>image/shop/close.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,565},{74,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,74}</string>
			</dict>
			<key>image/shop/coin1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,372},{191,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{191,191}</string>
			</dict>
			<key>image/shop/coin2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,565},{191,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{191,191}</string>
			</dict>
			<key>image/shop/coin3.png</key>
			<dict>
				<key>frame</key>
				<string>{{194,372},{191,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{191,191}</string>
			</dict>
			<key>image/shop/nodeBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{636,1},{281,375}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{281,375}</string>
			</dict>
			<key>image/start/bei.png</key>
			<dict>
				<key>frame</key>
				<string>{{472,704},{55,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,88}</string>
			</dict>
			<key>image/start/choupai.png</key>
			<dict>
				<key>frame</key>
				<string>{{693,988},{124,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,25}</string>
			</dict>
			<key>image/start/coin.png</key>
			<dict>
				<key>frame</key>
				<string>{{438,372},{59,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{59,62}</string>
			</dict>
			<key>image/start/coinBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{258,945},{255,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{255,55}</string>
			</dict>
			<key>image/start/deadPoint.png</key>
			<dict>
				<key>frame</key>
				<string>{{515,988},{176,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,25}</string>
			</dict>
			<key>image/start/left.png</key>
			<dict>
				<key>frame</key>
				<string>{{572,887},{51,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,44}</string>
			</dict>
			<key>image/start/music.png</key>
			<dict>
				<key>frame</key>
				<string>{{438,502},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>image/start/play.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,845},{98,404}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{98,404}</string>
			</dict>
			<key>image/start/poker1.png</key>
			<dict>
				<key>frame</key>
				<string>{{410,641},{61,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{61,88}</string>
			</dict>
			<key>image/start/poker2.png</key>
			<dict>
				<key>frame</key>
				<string>{{620,464},{105,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{105,83}</string>
			</dict>
			<key>image/start/poker3.png</key>
			<dict>
				<key>frame</key>
				<string>{{286,565},{95,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{95,74}</string>
			</dict>
			<key>image/start/poker4.png</key>
			<dict>
				<key>frame</key>
				<string>{{892,690},{129,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{129,83}</string>
			</dict>
			<key>image/start/poker5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,758},{105,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{105,83}</string>
			</dict>
			<key>image/over/fanhui.png</key>
			<dict>
				<key>frame</key>
				<string>{{572,654},{231,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{231,137}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>LiKuiPlist1.png</string>
			<key>realTextureFileName</key>
			<string>LiKuiPlist1.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>