<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>image/start/rank.png</key>
			<dict>
				<key>frame</key>
				<string>{{605,723},{98,404}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{98,404}</string>
			</dict>
			<key>image/start/right.png</key>
			<dict>
				<key>frame</key>
				<string>{{672,968},{51,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{51,44}</string>
			</dict>
			<key>image/start/shop.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,813},{98,404}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{98,404}</string>
			</dict>
			<key>image/start/shouji.png</key>
			<dict>
				<key>frame</key>
				<string>{{494,905},{65,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{65,25}</string>
			</dict>
			<key>image/start/sound.png</key>
			<dict>
				<key>frame</key>
				<string>{{653,902},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>image/start/title.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,723},{602,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{602,88}</string>
			</dict>
			<key>image/start/you1.png</key>
			<dict>
				<key>frame</key>
				<string>{{604,902},{36,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{36,47}</string>
			</dict>
			<key>image/start/you2.png</key>
			<dict>
				<key>frame</key>
				<string>{{521,943},{50,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,24}</string>
			</dict>
			<key>image/start/zuo.png</key>
			<dict>
				<key>frame</key>
				<string>{{573,943},{50,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,24}</string>
			</dict>
			<key>image/start/likui.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{648,720}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{648,720}</string>
			</dict>
			<key>image/frame/shou1.png</key>
			<dict>
				<key>frame</key>
				<string>{{881,903},{91,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{91,83}</string>
			</dict>
			<key>image/frame/shou2.png</key>
			<dict>
				<key>frame</key>
				<string>{{881,823},{106,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,78}</string>
			</dict>
			<key>image/frame/shou3.png</key>
			<dict>
				<key>frame</key>
				<string>{{604,823},{132,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{132,77}</string>
			</dict>
			<key>image/frame/shou4.png</key>
			<dict>
				<key>frame</key>
				<string>{{795,899},{103,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{103,84}</string>
			</dict>
			<key>image/frame/shou5.png</key>
			<dict>
				<key>frame</key>
				<string>{{407,813},{122,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,90}</string>
			</dict>
			<key>image/frame/shou6.png</key>
			<dict>
				<key>frame</key>
				<string>{{531,813},{71,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,128}</string>
			</dict>
			<key>image/frame/shou7.png</key>
			<dict>
				<key>frame</key>
				<string>{{407,905},{85,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,109}</string>
			</dict>
			<key>image/shop/qianBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{494,972},{176,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,39}</string>
			</dict>
			<key>image/start/poker6.png</key>
			<dict>
				<key>frame</key>
				<string>{{738,823},{95,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,74}</string>
			</dict>
			<key>image/start/poker7.png</key>
			<dict>
				<key>frame</key>
				<string>{{719,902},{119,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{119,74}</string>
			</dict>
			<key>image/play/showCard.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,913},{98,404}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{98,404}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>LiKuiPlist2.png</string>
			<key>realTextureFileName</key>
			<string>LiKuiPlist2.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>