<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>image/start/rank.png</key>
			<dict>
				<key>frame</key>
				<string>{{419,1898},{98,404}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{98,404}</string>
			</dict>
			<key>image/start/right.png</key>
			<dict>
				<key>frame</key>
				<string>{{597,1998},{51,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,44}</string>
			</dict>
			<key>image/start/shop.png</key>
			<dict>
				<key>frame</key>
				<string>{{825,1898},{98,404}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{98,404}</string>
			</dict>
			<key>image/start/shouji.png</key>
			<dict>
				<key>frame</key>
				<string>{{688,1998},{65,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,25}</string>
			</dict>
			<key>image/start/sound.png</key>
			<dict>
				<key>frame</key>
				<string>{{641,1029},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>image/start/title.png</key>
			<dict>
				<key>frame</key>
				<string>{{419,1808},{602,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{602,88}</string>
			</dict>
			<key>image/start/you1.png</key>
			<dict>
				<key>frame</key>
				<string>{{650,1998},{36,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,47}</string>
			</dict>
			<key>image/start/you2.png</key>
			<dict>
				<key>frame</key>
				<string>{{755,1998},{50,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,24}</string>
			</dict>
			<key>image/start/zuo.png</key>
			<dict>
				<key>frame</key>
				<string>{{807,1998},{50,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,24}</string>
			</dict>
			<key>image/start/likui.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{648,720}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{648,720}</string>
			</dict>
			<key>image/frame/shou1.png</key>
			<dict>
				<key>frame</key>
				<string>{{641,936},{91,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{91,83}</string>
			</dict>
			<key>image/frame/shou2.png</key>
			<dict>
				<key>frame</key>
				<string>{{641,828},{106,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{106,78}</string>
			</dict>
			<key>image/frame/shou3.png</key>
			<dict>
				<key>frame</key>
				<string>{{579,1514},{132,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{132,77}</string>
			</dict>
			<key>image/frame/shou4.png</key>
			<dict>
				<key>frame</key>
				<string>{{641,723},{103,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{103,84}</string>
			</dict>
			<key>image/frame/shou5.png</key>
			<dict>
				<key>frame</key>
				<string>{{579,1390},{122,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{122,90}</string>
			</dict>
			<key>image/frame/shou6.png</key>
			<dict>
				<key>frame</key>
				<string>{{658,1514},{71,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,128}</string>
			</dict>
			<key>image/frame/shou7.png</key>
			<dict>
				<key>frame</key>
				<string>{{579,1648},{85,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,109}</string>
			</dict>
			<key>image/shop/qianBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{419,1998},{176,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,39}</string>
			</dict>
			<key>image/start/poker6.png</key>
			<dict>
				<key>frame</key>
				<string>{{721,828},{95,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{95,74}</string>
			</dict>
			<key>image/start/poker7.png</key>
			<dict>
				<key>frame</key>
				<string>{{666,1644},{119,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{119,74}</string>
			</dict>
			<key>image/play/showCard.png</key>
			<dict>
				<key>frame</key>
				<string>{{479,1390},{98,404}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,404}</string>
			</dict>
			<key>image/frame/likui1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1390},{416,237}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{416,237}</string>
			</dict>
			<key>image/frame/likui2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1808},{416,237}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{416,237}</string>
			</dict>
			<key>image/frame/likui3.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,1390},{416,237}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{416,237}</string>
			</dict>
			<key>image/frame/moon.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,723},{665,638}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{665,638}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>LiKuiPlist2.png</string>
			<key>realTextureFileName</key>
			<string>LiKuiPlist2.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>