<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>image/common/FixLayer_bottom_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{503,732},{180,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,99}</string>
			</dict>
			<key>image/common/FixLayer_bottom_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{641,1},{320,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,108}</string>
			</dict>
			<key>image/common/FixLayer_bottom_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{71,775},{160,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,71}</string>
			</dict>
			<key>image/common/FixLayer_bottom_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{991,1},{96,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,17}</string>
			</dict>
			<key>image/common/FixLayer_bottom_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1010,1},{91,13}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{91,13}</string>
			</dict>
			<key>image/common/FixLayer_bottom_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{963,1},{95,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{95,26}</string>
			</dict>
			<key>image/common/FixLayer_bottom_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,111},{292,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{292,108}</string>
			</dict>
			<key>image/common/FixLayer_bottom_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,405},{445,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{445,68}</string>
			</dict>
			<key>image/common/FixLayer_bottom_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{638,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{638,108}</string>
			</dict>
			<key>image/common/spin_auto_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,852},{249,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{249,117}</string>
			</dict>
			<key>image/common/spin_auto_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{71,405},{249,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{249,117}</string>
			</dict>
			<key>image/common/spin_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{71,656},{249,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{249,117}</string>
			</dict>
			<key>image/common/spin_stop_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{252,775},{249,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{249,117}</string>
			</dict>
			<key>image/common/spin_stop_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{252,894},{249,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{249,117}</string>
			</dict>
			<key>image/common/spin_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,111},{249,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{249,117}</string>
			</dict>
			<key>image/common/btn_back_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{503,914},{116,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,94}</string>
			</dict>
			<key>image/common/btn_back_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{349,111},{116,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{116,94}</string>
			</dict>
			<key>image/common/spin_freespin_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{190,362},{249,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{249,117}</string>
			</dict>
			<key>image/common/spin_freespin_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,111},{249,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{249,117}</string>
			</dict>
			<key>image/common/spin_rewardspin_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{309,362},{249,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{249,117}</string>
			</dict>
			<key>image/common/spin_rewardspin_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{322,613},{249,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{249,117}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>SlotPlist1.png</string>
			<key>realTextureFileName</key>
			<string>SlotPlist1.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>