<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>image/common/FixLayer_bottom_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1003,301},{292,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{292,108}</string>
			</dict>
			<key>image/common/FixLayer_bottom_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1083,196},{445,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{445,68}</string>
			</dict>
			<key>image/common/spin_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{808,665},{249,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{249,117}</string>
			</dict>
			<key>image/ui/coin_dollar2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1388,844},{49,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,50}</string>
			</dict>
			<key>image/ui/game_down_bg_zuo.png</key>
			<dict>
				<key>frame</key>
				<string>{{786,629},{34,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{34,91}</string>
			</dict>
			<key>image/ui/GameLayer_buy.png</key>
			<dict>
				<key>frame</key>
				<string>{{1083,266},{62,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,29}</string>
			</dict>
			<key>image/ui/GameLayer_buy_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{1247,530},{179,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{179,56}</string>
			</dict>
			<key>image/ui/GameLayer_buy_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{1297,266},{179,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{179,56}</string>
			</dict>
			<key>image/ui/GameLayer_sale_invalid.png</key>
			<dict>
				<key>frame</key>
				<string>{{1297,324},{179,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{179,56}</string>
			</dict>
			<key>image/ui/GameLayer_sale_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{1353,382},{179,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{179,56}</string>
			</dict>
			<key>image/ui/GameLayer_star.png</key>
			<dict>
				<key>frame</key>
				<string>{{1428,498},{49,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{49,46}</string>
			</dict>
			<key>image/ui/GameLayer_top_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{407,666},{10,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{10,68}</string>
			</dict>
			<key>image/ui/GameLayer_top_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1006,530},{239,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{239,78}</string>
			</dict>
			<key>image/ui/GameLayer_top_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1636,1},{100,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,79}</string>
			</dict>
			<key>image/ui/GameLayer_top_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1276,876},{60,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,44}</string>
			</dict>
			<key>image/ui/btn_add_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{1375,720},{41,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,60}</string>
			</dict>
			<key>image/ui/btn_add_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{1375,782},{41,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,60}</string>
			</dict>
			<key>image/ui/btn_betmax_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{1478,266},{127,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,74}</string>
			</dict>
			<key>image/ui/btn_betmax_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{1530,160},{127,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,74}</string>
			</dict>
			<key>image/ui/btn_lobby_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{1309,728},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>image/ui/btn_lobby_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{1309,794},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>image/ui/btn_paytable_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{1237,728},{70,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,72}</string>
			</dict>
			<key>image/ui/btn_paytable_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{1237,802},{70,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,72}</string>
			</dict>
			<key>image/ui/btn_sub_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{1388,896},{40,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{40,59}</string>
			</dict>
			<key>image/ui/btn_sub_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{1399,640},{40,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,59}</string>
			</dict>
			<key>image/ui/ccbParticleStars.png</key>
			<dict>
				<key>frame</key>
				<string>{{1147,266},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>image/ui/game_bottom_bet.png</key>
			<dict>
				<key>frame</key>
				<string>{{477,666},{37,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,15}</string>
			</dict>
			<key>image/ui/game_bottom_bet_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1165,610},{264,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{264,70}</string>
			</dict>
			<key>image/ui/game_down_bg_you.png</key>
			<dict>
				<key>frame</key>
				<string>{{681,665},{289,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{289,125}</string>
			</dict>
			<key>image/ui/game_top_coin_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{927,877},{347,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{347,59}</string>
			</dict>
			<key>image/ui/GameLayer_effect.png</key>
			<dict>
				<key>frame</key>
				<string>{{1322,860},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>image/ui/GameLayer_sale_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{1353,440},{179,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{179,56}</string>
			</dict>
			<key>image/ui/GameLayer_set_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{1333,588},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>image/ui/GameLayer_set_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{1333,654},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>image/ui/rate_cion_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{407,1},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>image/carddraw/card_yj_deng1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,684},{340,338}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{340,338}</string>
			</dict>
			<key>image/carddraw/card_yj_deng2.png</key>
			<dict>
				<key>frame</key>
				<string>{{343,684},{336,338}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{336,338}</string>
			</dict>
			<key>image/carddraw/card_yj_spindown.png</key>
			<dict>
				<key>frame</key>
				<string>{{1274,938},{245,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{245,81}</string>
			</dict>
			<key>image/carddraw/card_yj_spinup.png</key>
			<dict>
				<key>frame</key>
				<string>{{1026,938},{246,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{246,85}</string>
			</dict>
			<key>image/carddraw/card_yj_zhizhen.png</key>
			<dict>
				<key>frame</key>
				<string>{{1636,103},{76,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,44}</string>
			</dict>
			<key>image/carddraw/fortune1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1083,1},{176,193}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,193}</string>
			</dict>
			<key>image/carddraw/fortune3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1261,1},{176,193}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,193}</string>
			</dict>
			<key>image/carddraw/icon_fortune1.png</key>
			<dict>
				<key>frame</key>
				<string>{{709,1},{298,185}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{298,185}</string>
			</dict>
			<key>image/carddraw/icon_fortune3.png</key>
			<dict>
				<key>frame</key>
				<string>{{896,1},{298,185}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{298,185}</string>
			</dict>
			<key>image/ui/coin_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{407,414},{213,204}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{213,204}</string>
			</dict>
			<key>image/start/coin_dollar2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1399,588},{49,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,50}</string>
			</dict>
			<key>image/start/Card_zhuanpan_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1439,1},{195,157}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{195,157}</string>
			</dict>
			<key>image/start/Card_zhuanpan_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{819,414},{188,185}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{188,185}</string>
			</dict>
			<key>image/common/btn_back_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{1237,610},{116,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{116,94}</string>
			</dict>
			<key>image/common/btn_back_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{1257,411},{116,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{116,94}</string>
			</dict>
			<key>image/common/spin_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{927,626},{249,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{249,117}</string>
			</dict>
			<key>image/common/spin_freespin_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{1006,411},{249,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{249,117}</string>
			</dict>
			<key>image/common/spin_freespin_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{1046,610},{249,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{249,117}</string>
			</dict>
			<key>image/common/Express.png</key>
			<dict>
				<key>frame</key>
				<string>{{681,956},{343,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{343,61}</string>
			</dict>
			<key>image/start/coin_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{613,414},{213,204}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{213,204}</string>
			</dict>
			<key>image/ui/game_down_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{407,303},{594,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{594,109}</string>
			</dict>
			<key>image/set/bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{681,404}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{681,404}</string>
			</dict>
			<key>image/set/close.png</key>
			<dict>
				<key>frame</key>
				<string>{{1418,701},{46,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>
			<key>image/set/Effects.png</key>
			<dict>
				<key>frame</key>
				<string>{{407,629},{133,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{133,35}</string>
			</dict>
			<key>image/set/guan.png</key>
			<dict>
				<key>frame</key>
				<string>{{819,604},{54,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,20}</string>
			</dict>
			<key>image/set/kai.png</key>
			<dict>
				<key>frame</key>
				<string>{{875,604},{54,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,20}</string>
			</dict>
			<key>image/set/kgbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{542,629},{121,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,37}</string>
			</dict>
			<key>image/set/Music.png</key>
			<dict>
				<key>frame</key>
				<string>{{665,629},{119,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{119,34}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>SlotPlist1.png</string>
			<key>realTextureFileName</key>
			<string>SlotPlist1.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>