<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>image/ui/btn_add_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{371,694},{41,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,60}</string>
			</dict>
			<key>image/ui/btn_add_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{340,490},{41,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,60}</string>
			</dict>
			<key>image/ui/btn_betmax_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{420,947},{127,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,74}</string>
			</dict>
			<key>image/ui/btn_betmax_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{192,518},{127,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{127,74}</string>
			</dict>
			<key>image/ui/btn_lobby_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,628},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>image/ui/btn_lobby_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{378,756},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>image/ui/btn_paytable_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{268,518},{70,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,72}</string>
			</dict>
			<key>image/ui/btn_paytable_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,645},{70,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,72}</string>
			</dict>
			<key>image/ui/btn_sub_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{383,490},{40,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,59}</string>
			</dict>
			<key>image/ui/btn_sub_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{411,604},{40,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,59}</string>
			</dict>
			<key>image/ui/ccbParticleStars.png</key>
			<dict>
				<key>frame</key>
				<string>{{337,719},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>image/ui/coin_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{112,303},{213,204}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{213,204}</string>
			</dict>
			<key>image/ui/coin_dollar2.png</key>
			<dict>
				<key>frame</key>
				<string>{{361,552},{49,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,50}</string>
			</dict>
			<key>image/ui/game_bottom_bet.png</key>
			<dict>
				<key>frame</key>
				<string>{{268,628},{37,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,15}</string>
			</dict>
			<key>image/ui/game_bottom_bet_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{112,759},{264,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{264,70}</string>
			</dict>
			<key>image/ui/game_down_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,303},{594,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{594,109}</string>
			</dict>
			<key>image/ui/game_down_bg_you.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,1},{289,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{289,125}</string>
			</dict>
			<key>image/ui/game_down_bg_zuo.png</key>
			<dict>
				<key>frame</key>
				<string>{{268,592},{34,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{34,91}</string>
			</dict>
			<key>image/ui/game_top_coin_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,899},{347,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{347,59}</string>
			</dict>
			<key>image/ui/GameLayer_buy.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,719},{62,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,29}</string>
			</dict>
			<key>image/ui/GameLayer_buy_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,960},{179,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{179,56}</string>
			</dict>
			<key>image/ui/GameLayer_buy_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{182,960},{179,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{179,56}</string>
			</dict>
			<key>image/ui/GameLayer_effect.png</key>
			<dict>
				<key>frame</key>
				<string>{{318,292},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>image/ui/GameLayer_sale_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{112,831},{179,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{179,56}</string>
			</dict>
			<key>image/ui/GameLayer_sale_invalid.png</key>
			<dict>
				<key>frame</key>
				<string>{{293,831},{179,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{179,56}</string>
			</dict>
			<key>image/ui/GameLayer_sale_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{350,889},{179,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{179,56}</string>
			</dict>
			<key>image/ui/GameLayer_set_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{318,358},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>image/ui/GameLayer_set_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{318,424},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>image/ui/GameLayer_star.png</key>
			<dict>
				<key>frame</key>
				<string>{{412,551},{49,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{49,46}</string>
			</dict>
			<key>image/ui/GameLayer_top_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{350,947},{10,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{10,68}</string>
			</dict>
			<key>image/ui/GameLayer_top_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{112,518},{239,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{239,78}</string>
			</dict>
			<key>image/ui/GameLayer_top_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{192,647},{100,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,79}</string>
			</dict>
			<key>image/ui/GameLayer_top_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,959},{60,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,44}</string>
			</dict>
			<key>image/ui/rate_cion_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>SlotPlist2.png</string>
			<key>realTextureFileName</key>
			<string>SlotPlist2.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>