<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>image/carddraw/card_yj_dz.png</key>
			<dict>
				<key>frame</key>
				<string>{{590,553},{496,173}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{496,173}</string>
			</dict>
			<key>image/cardturntable/icon_coins1.png</key>
			<dict>
				<key>frame</key>
				<string>{{553,1051},{298,185}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{298,185}</string>
			</dict>
			<key>image/cardturntable/words_YouWin.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1596},{215,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{215,76}</string>
			</dict>
			<key>image/cardturntable/ZhuanPan_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1370,487},{252,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{252,256}</string>
			</dict>
			<key>image/cardturntable/BTN_spin1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,609},{304,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{304,109}</string>
			</dict>
			<key>image/cardturntable/BTN_spin2.png</key>
			<dict>
				<key>frame</key>
				<string>{{442,996},{304,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{304,109}</string>
			</dict>
			<key>image/cardturntable/Card_lunpan_kuaigun_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,996},{370,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{370,224}</string>
			</dict>
			<key>image/cardturntable/Card_lunpan_kuaigun_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,767},{370,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{370,224}</string>
			</dict>
			<key>image/cardturntable/Card_lunpan_kuaigun_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,383},{370,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{370,224}</string>
			</dict>
			<key>image/cardturntable/Card_lunpan_kuaigun_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1754},{370,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{370,224}</string>
			</dict>
			<key>image/cardturntable/Card_lunpan_kuaigun_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1343},{370,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{370,224}</string>
			</dict>
			<key>image/cardturntable/Card_lunpan_kuaigun_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{817,1626},{370,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{370,224}</string>
			</dict>
			<key>image/cardturntable/Card_lunpan_kuaigun_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{918,1003},{370,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{370,224}</string>
			</dict>
			<key>image/cardturntable/Card_lunpan_kuaigun_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{988,1375},{370,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{370,224}</string>
			</dict>
			<key>image/cardturntable/Card_lunpan_kuaigun_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{1144,1003},{370,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{370,224}</string>
			</dict>
			<key>image/cardturntable/Card_lunpan_kuaigun_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1189,1601},{370,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{370,224}</string>
			</dict>
			<key>image/cardturntable/Card_lunpan_kuaigun_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1360,1375},{370,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{370,224}</string>
			</dict>
			<key>image/cardturntable/Card_lunpan_kuaigun_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1370,1003},{370,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{370,224}</string>
			</dict>
			<key>image/cardturntable/Card_lunpan_kuaigun_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1596,1003},{370,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{370,224}</string>
			</dict>
			<key>image/cardturntable/Card_lunpan_kuaigun_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1732,1375},{370,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{370,224}</string>
			</dict>
			<key>image/cardturntable/Card_lunpan_kuaigun_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1822,1003},{370,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{370,224}</string>
			</dict>
			<key>image/cardturntable/Card_lunpan_kuaigun_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1415,1601},{370,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{370,224}</string>
			</dict>
			<key>image/cardturntable/Card_lunpan_kuaigun_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1641,1747},{370,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{370,224}</string>
			</dict>
			<key>image/cardturntable/Card_lunpan_kuaigun_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{918,585},{370,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{370,224}</string>
			</dict>
			<key>image/cardturntable/Card_lunpan_kuaigun_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{1144,585},{370,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{370,224}</string>
			</dict>
			<key>image/cardturntable/Card_lunpan_kuaigun_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{1264,261},{370,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{370,224}</string>
			</dict>
			<key>image/cardturntable/Title_cong.png</key>
			<dict>
				<key>frame</key>
				<string>{{449,269},{725,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{725,139}</string>
			</dict>
			<key>image/cardturntable/ZhuanPan_BTN_COLLECTNOW.png</key>
			<dict>
				<key>frame</key>
				<string>{{740,1193},{300,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,102}</string>
			</dict>
			<key>image/cardturntable/ZhuanPan_BTN_COLLECTNOW2.png</key>
			<dict>
				<key>frame</key>
				<string>{{713,1495},{300,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,102}</string>
			</dict>
			<key>image/cardturntable/ZhuanPan_zhizhen.png</key>
			<dict>
				<key>frame</key>
				<string>{{442,1596},{133,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{133,82}</string>
			</dict>
			<key>image/effect/Card_book_star_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1636,261},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>image/effect/Card_spinsg00.png</key>
			<dict>
				<key>frame</key>
				<string>{{307,609},{129,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{129,38}</string>
			</dict>
			<key>image/effect/Card_spinsg01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,720},{129,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,38}</string>
			</dict>
			<key>image/effect/Card_spinsg02.png</key>
			<dict>
				<key>frame</key>
				<string>{{132,720},{129,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,38}</string>
			</dict>
			<key>image/effect/Card_spinsg03.png</key>
			<dict>
				<key>frame</key>
				<string>{{817,1495},{129,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{129,38}</string>
			</dict>
			<key>image/effect/Card_spinsg04.png</key>
			<dict>
				<key>frame</key>
				<string>{{193,1980},{129,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,38}</string>
			</dict>
			<key>image/effect/Card_spinsg05.png</key>
			<dict>
				<key>frame</key>
				<string>{{315,1569},{129,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{129,38}</string>
			</dict>
			<key>image/effect/Card_spinsg06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1700},{129,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,38}</string>
			</dict>
			<key>image/effect/Card_spinsg07.png</key>
			<dict>
				<key>frame</key>
				<string>{{132,1700},{129,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,38}</string>
			</dict>
			<key>image/effect/Card_spinsg08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1222},{129,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,38}</string>
			</dict>
			<key>image/effect/Card_spinsg09.png</key>
			<dict>
				<key>frame</key>
				<string>{{132,1222},{129,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,38}</string>
			</dict>
			<key>image/effect/Card_spinsg10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1262},{129,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,38}</string>
			</dict>
			<key>image/effect/Card_spinsg11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1302},{129,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,38}</string>
			</dict>
			<key>image/effect/Card_spinsg12.png</key>
			<dict>
				<key>frame</key>
				<string>{{132,1262},{129,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,38}</string>
			</dict>
			<key>image/effect/Card_spinsg13.png</key>
			<dict>
				<key>frame</key>
				<string>{{132,1302},{129,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,38}</string>
			</dict>
			<key>image/effect/Card_spinsg14.png</key>
			<dict>
				<key>frame</key>
				<string>{{324,1985},{129,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,38}</string>
			</dict>
			<key>image/effect/Card_spinsg15.png</key>
			<dict>
				<key>frame</key>
				<string>{{455,1985},{129,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,38}</string>
			</dict>
			<key>image/effect/Card_spinsg16.png</key>
			<dict>
				<key>frame</key>
				<string>{{586,1985},{129,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,38}</string>
			</dict>
			<key>image/effect/Card_spinsg17.png</key>
			<dict>
				<key>frame</key>
				<string>{{697,1797},{129,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{129,38}</string>
			</dict>
			<key>image/effect/Card_spinsg18.png</key>
			<dict>
				<key>frame</key>
				<string>{{697,1928},{129,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,38}</string>
			</dict>
			<key>image/effect/Card_spinsg19.png</key>
			<dict>
				<key>frame</key>
				<string>{{717,1968},{129,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,38}</string>
			</dict>
			<key>image/effect/Card_spinsg20.png</key>
			<dict>
				<key>frame</key>
				<string>{{717,2008},{129,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,38}</string>
			</dict>
			<key>image/effect/Card_spinsg21.png</key>
			<dict>
				<key>frame</key>
				<string>{{737,1797},{129,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{129,38}</string>
			</dict>
			<key>image/effect/Card_spinsg22.png</key>
			<dict>
				<key>frame</key>
				<string>{{777,1797},{129,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{129,38}</string>
			</dict>
			<key>image/effect/Card_spinsg23.png</key>
			<dict>
				<key>frame</key>
				<string>{{817,1852},{129,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,38}</string>
			</dict>
			<key>image/effect/Card_spinsg24.png</key>
			<dict>
				<key>frame</key>
				<string>{{828,1892},{129,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,38}</string>
			</dict>
			<key>image/effect/Card_spinsg25.png</key>
			<dict>
				<key>frame</key>
				<string>{{948,1852},{129,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,38}</string>
			</dict>
			<key>image/effect/Card_spinsg26.png</key>
			<dict>
				<key>frame</key>
				<string>{{857,1512},{129,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,38}</string>
			</dict>
			<key>image/effect/Card_yaogan_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{373,383},{67,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,190}</string>
			</dict>
			<key>image/effect/Card_yaogan_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{373,575},{67,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,190}</string>
			</dict>
			<key>image/effect/Card_yaogan_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{373,767},{67,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,190}</string>
			</dict>
			<key>image/effect/Card_yaogan_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{373,959},{67,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,190}</string>
			</dict>
			<key>image/effect/Card_yaogan_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{373,1151},{67,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,190}</string>
			</dict>
			<key>image/effect/Card_yaogan_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1980},{67,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,190}</string>
			</dict>
			<key>image/effect/Card_yaogan_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{373,1343},{67,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,190}</string>
			</dict>
			<key>image/effect/Card_yaogan_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{373,1535},{67,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,190}</string>
			</dict>
			<key>image/effect/Card_yaogan_glow.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{446,380}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{446,380}</string>
			</dict>
			<key>image/level/ChipLighting.png</key>
			<dict>
				<key>frame</key>
				<string>{{940,1},{258,489}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{258,489}</string>
			</dict>
			<key>image/level/CoinTree.png</key>
			<dict>
				<key>frame</key>
				<string>{{449,1},{266,489}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{266,489}</string>
			</dict>
			<key>image/level/DoubleRapid.png</key>
			<dict>
				<key>frame</key>
				<string>{{1431,1},{258,489}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{258,489}</string>
			</dict>
			<key>image/load/loading.png</key>
			<dict>
				<key>frame</key>
				<string>{{875,553},{957,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{957,41}</string>
			</dict>
			<key>image/load/loadingbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1922,1},{1000,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1000,86}</string>
			</dict>
			<key>image/shop/rate_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{552,1581},{171,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{171,149}</string>
			</dict>
			<key>image/shop/rate_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1628,519},{233,226}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{233,226}</string>
			</dict>
			<key>image/shop/rate_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{590,269},{330,282}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{330,282}</string>
			</dict>
			<key>image/start/FixLayer_bottom_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{2010,1},{96,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,17}</string>
			</dict>
			<key>image/start/FixLayer_bottom_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{2029,1},{91,13}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{91,13}</string>
			</dict>
			<key>image/start/FixLayer_bottom_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{442,1302},{292,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{292,108}</string>
			</dict>
			<key>image/start/FixLayer_bottom_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{765,553},{638,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{638,108}</string>
			</dict>
			<key>image/start/FixLayer_da_jinbi.png</key>
			<dict>
				<key>frame</key>
				<string>{{940,261},{322,322}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{322,322}</string>
			</dict>
			<key>image/start/FixLayer_da_jinbi_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{373,1754},{322,229}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{322,229}</string>
			</dict>
			<key>image/start/FixLayer_yidaduijinbi.png</key>
			<dict>
				<key>frame</key>
				<string>{{552,1351},{228,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{228,159}</string>
			</dict>
			<key>image/start/FixLayer_yixiaoduijinbi.png</key>
			<dict>
				<key>frame</key>
				<string>{{263,1700},{96,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,46}</string>
			</dict>
			<key>image/start/FixLayer_zhuanpan.png</key>
			<dict>
				<key>frame</key>
				<string>{{218,1569},{95,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,95}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>SlotPlist2.png</string>
			<key>realTextureFileName</key>
			<string>SlotPlist2.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>