<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>image/common/FixLayer_bottom_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{526,343},{292,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{292,108}</string>
			</dict>
			<key>image/common/FixLayer_bottom_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{632,191},{445,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{445,68}</string>
			</dict>
			<key>image/common/spin_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{931,1},{249,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{249,117}</string>
			</dict>
			<key>image/ui/coin_dollar2.png</key>
			<dict>
				<key>frame</key>
				<string>{{832,454},{49,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,50}</string>
			</dict>
			<key>image/ui/game_down_bg_zuo.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,985},{34,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{34,91}</string>
			</dict>
			<key>image/ui/GameLayer_buy.png</key>
			<dict>
				<key>frame</key>
				<string>{{94,985},{62,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,29}</string>
			</dict>
			<key>image/ui/GameLayer_buy_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{931,120},{179,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{179,56}</string>
			</dict>
			<key>image/ui/GameLayer_buy_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{685,805},{179,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{179,56}</string>
			</dict>
			<key>image/ui/GameLayer_sale_invalid.png</key>
			<dict>
				<key>frame</key>
				<string>{{743,805},{179,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{179,56}</string>
			</dict>
			<key>image/ui/GameLayer_sale_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{801,805},{179,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{179,56}</string>
			</dict>
			<key>image/ui/GameLayer_star.png</key>
			<dict>
				<key>frame</key>
				<string>{{855,322},{49,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{49,46}</string>
			</dict>
			<key>image/ui/GameLayer_top_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{192,985},{10,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{10,68}</string>
			</dict>
			<key>image/ui/GameLayer_top_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{668,725},{239,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{239,78}</string>
			</dict>
			<key>image/ui/GameLayer_top_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{917,930},{100,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,79}</string>
			</dict>
			<key>image/ui/GameLayer_top_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{723,520},{60,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,44}</string>
			</dict>
			<key>image/ui/btn_add_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{785,520},{41,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{41,60}</string>
			</dict>
			<key>image/ui/btn_add_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{789,454},{41,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,60}</string>
			</dict>
			<key>image/ui/btn_betmax_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{909,725},{127,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,74}</string>
			</dict>
			<key>image/ui/btn_betmax_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{917,801},{127,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{127,74}</string>
			</dict>
			<key>image/ui/btn_lobby_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{723,322},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>image/ui/btn_lobby_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{723,388},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>image/ui/btn_paytable_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{993,801},{70,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,72}</string>
			</dict>
			<key>image/ui/btn_paytable_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{1019,921},{70,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,72}</string>
			</dict>
			<key>image/ui/btn_sub_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,983},{40,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{40,59}</string>
			</dict>
			<key>image/ui/btn_sub_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{364,983},{40,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{40,59}</string>
			</dict>
			<key>image/ui/ccbParticleStars.png</key>
			<dict>
				<key>frame</key>
				<string>{{158,985},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>image/ui/game_bottom_bet.png</key>
			<dict>
				<key>frame</key>
				<string>{{192,997},{37,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,15}</string>
			</dict>
			<key>image/ui/game_bottom_bet_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{636,570},{264,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{264,70}</string>
			</dict>
			<key>image/ui/game_down_bg_you.png</key>
			<dict>
				<key>frame</key>
				<string>{{341,216},{289,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{289,125}</string>
			</dict>
			<key>image/ui/game_top_coin_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{632,261},{347,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{347,59}</string>
			</dict>
			<key>image/ui/GameLayer_effect.png</key>
			<dict>
				<key>frame</key>
				<string>{{723,454},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>image/ui/GameLayer_sale_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{859,805},{179,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{179,56}</string>
			</dict>
			<key>image/ui/GameLayer_set_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{789,322},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>image/ui/GameLayer_set_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{789,388},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>image/ui/rate_cion_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,683},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>image/carddraw/card_yj_deng1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{340,338}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{340,338}</string>
			</dict>
			<key>image/carddraw/card_yj_deng2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,343},{336,338}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{336,338}</string>
			</dict>
			<key>image/carddraw/card_yj_spindown.png</key>
			<dict>
				<key>frame</key>
				<string>{{668,642},{245,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{245,81}</string>
			</dict>
			<key>image/carddraw/card_yj_spinup.png</key>
			<dict>
				<key>frame</key>
				<string>{{636,322},{246,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{246,85}</string>
			</dict>
			<key>image/carddraw/card_yj_zhizhen.png</key>
			<dict>
				<key>frame</key>
				<string>{{993,875},{76,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,44}</string>
			</dict>
			<key>image/carddraw/fortune1.png</key>
			<dict>
				<key>frame</key>
				<string>{{490,643},{176,193}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,193}</string>
			</dict>
			<key>image/carddraw/fortune3.png</key>
			<dict>
				<key>frame</key>
				<string>{{490,838},{176,193}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{176,193}</string>
			</dict>
			<key>image/carddraw/icon_fortune1.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,683},{298,185}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{298,185}</string>
			</dict>
			<key>image/carddraw/icon_fortune3.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,343},{298,185}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{298,185}</string>
			</dict>
			<key>image/ui/coin_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{341,1},{213,204}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{213,204}</string>
			</dict>
			<key>image/start/coin_dollar2.png</key>
			<dict>
				<key>frame</key>
				<string>{{847,506},{49,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,50}</string>
			</dict>
			<key>image/start/Card_zhuanpan_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{734,1},{195,157}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{195,157}</string>
			</dict>
			<key>image/start/Card_zhuanpan_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{547,1},{188,185}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{188,185}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>SlotPlist1.png</string>
			<key>realTextureFileName</key>
			<string>SlotPlist1.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>